<div class="class-info-container">
  <div class="class-name">{{classData.title}}</div>
  <div class="total-competencies"><div class="competency-count">{{togalMasteredCompetencies}}</div><div class="competency-label">{{t 'teacher-landing.class.atc-view.total-competencies-gained'}}</div></div>
</div>
