{{#each questionItems as |item|}}
  <div class="item" {{action 'openFRQuestionGrade' item}}>
    <div class="question ellipsis">
      <span class="rubric-icon"><i class="icon"></i></span>
      <span class="question-name">{{item.question.title}}</span>
    </div>
  </div>
{{/each}}
