<select id="user-multi-select" data-placeholder="{{placeholder}}" multiple class="chosen-select" tabindex="8">
  <option></option>
  {{#each users as |user|}}
    <option value="{{user.id}}">
      <div class="user-profile-item">
        <img class="user-thumbnail" src="{{user.avatarUrl}}" />
        <div class="user-name ellipsis">{{user.fullName}}</div>
      </div>
    </option>
  {{/each}}
</select>
