{{#each gradeableItems as |item|}}
  <div class="item" {{action 'openReportGrade' item}}>
    <div class="grade-item ellipsis">
      <span class="icon"><i class="{{item.contentType}}-icon"></i></span>
      <span class="question-name ellipsis">{{item.content.title}}</span>
    </div>
  </div>
{{/each}}
