.activity.gru-new-offline-activity {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 360px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

  .overlay {
    cursor: default;
  }

    ::-webkit-scrollbar {
      height: 6px;
      width: 8px;
    }

    ::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }

  .create-activity-container {
    background-color: $white;
    .header-container {
      padding: 8px;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #4b5e67;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
      position: relative;
      .back-icon {
        position: absolute;
        line-height: 44px;
        left: 8px;
        cursor: pointer;
      }
    }

    .body-container {
      padding: 16px 8px;
      max-height: 70vh;
      overflow-y: auto;
      min-height: 45vh;

      .label-container {
        opacity: 0.6;
        font-size: 12px;
        color: #3a444d;

        .required {
          color: $red-400;
        }
      }

      .title-container {
        margin-bottom: 16px;
        .input-container {
          .activity-title {
            width: 100%;
            outline: none;
            background: transparent;
          }
        }
      }

      .description-container {
        margin-bottom: 16px;
        .input-container {
          .activity-description {
            width: 100%;
            outline: none;
            background: transparent;
          }
        }
      }

      .competency-container {
        margin-bottom: 16px;
        .active-taxonomies-container {
          display: grid;
          grid-template-columns: auto auto;
          row-gap: 5px;
          column-gap: 5px;
          .gru-taxonomy-tag-list {
            .taxonomy.gru-taxonomy-tag {
              background-color: $dark-300;
              color: $white;
              .toggle {
                .tag-label {
                  color: $white;
                }
              }
            }
          }
          .add-competency {
            cursor: pointer;
          }
        }
      }

      .scheduler-container {
        margin-bottom: 16px;
        .ca-date-picker-container {
          .ca-datepicker {
            .table-condensed {
              .today {
                background-color: $blue-400 !important;
              }
            }
          }
        }
      }

      .audience-list-container {
        .audience-container {
          margin-bottom: 16px;
          display: grid;
          grid-template-columns: auto auto;
          row-gap: 5px;
          align-items: center;
          justify-content: space-around;
          .audience-card {
            font-size: 12px;
            border: 1px solid $dark-300;
            border-radius: 3px;
            padding: 0 5px;
            max-width: max-content;
            cursor: pointer;
            &.active-card, &:hover {
              background-color: $dark-300;
              color: $white;
            }
          }
        }
      }

      .unschedule-list-container {
        .unschedule-months-container {
          padding-top: 5px;
          .month-card {
            font-size: 13px;
            color: #35424b;
            border: 1px solid $dark-300;
            border-radius: 3px;
            padding: 5px;
            max-width: max-content;
            cursor: pointer;
            &.active-card, &:hover{
              background-color: $dark-300;
              color: $white;
            }
          }
        }
      }

      .error-message {
        text-align: center;
        text-transform: capitalize;
        font-size: 14px;
        width: 76%;
        margin: auto;
      }
    }

    .footer-container {
      .create-activity {
        height: 50px;
        background-color: #1aa9eb;
        font-size: 15px;
        font-weight: bold;
        color: $white;
        text-align: center;
        line-height: 50px;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
