.activity.gru-new-offline-activity {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 360px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;
  background-color: $white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
