<div class="profile-portfolio-container">
  <div class="left-panel">
    <div class="offline-activities-container learning-activities-container">
      {{portfolio/gru-contents-panel
        contentType = 'offline-activity'
        userProfile = userProfile
        userPreference = userPreference}}
    </div>
    <div class="collections-container learning-activities-container">
        {{portfolio/gru-contents-panel
          contentType = 'collection'
          userProfile = userProfile
          userPreference = userPreference}}
    </div>
  </div>
  <div class="right-panel">
    <div class="assessments-container learning-activities-container">
        {{portfolio/gru-contents-panel
          contentType = 'assessment'
          userProfile = userProfile
          userPreference = userPreference}}
    </div>
  </div>
</div>
