<div class="profile-portfolio-container">
  <div class="offline-activities-container learning-activities-container">
    {{portfolio/gru-offline-activities-panel}}
  </div>

  <div class="assessments-container learning-activities-container">
    {{portfolio/gru-assessments-panel}}
  </div>

  <div class="collections-container learning-activities-container">
    {{portfolio/gru-collections-panel}}
  </div>
</div>
