.controller.student.class.class-activities {
  .collections {
    // Mobile and Tab potrait view
    .gru-student-class-activity-panel {
      height: auto;

      .panel-heading {
        display: grid;
        grid-template-columns: 50px calc(100% - 300px) 200px;

        .icon-container {
          width: 50px;

          img {
            width: 50px;
          }
        }

        .title-container {
          width: 100%;
          margin: 0;
          line-height: 60px;

          .title {
            padding-left: 10px;
            font-size: 16px;
          }
        }

        .info {
          display: grid;
          grid-template-columns: 100px 100px 50px;
          width: max-content;

          .content-count {
            width: 100px;
            margin: 0;
            line-height: 60px;

            span i {
              font-size: 23px;
              margin: 0;
            }
          }

          .play-btn {
            width: auto;

            button {
              margin: 0;
              padding: 12px;
              height: 60px;
            }
          }

          .performance {
            width: 50px;
            padding: 0;
            line-height: 60px;
          }
        }
      }
      @media screen and (max-width: $screen-xs) {
        .panel-heading {
          grid-template-columns: calc(100% - 250px) 200px;

          .icon-container {
            display: none;
          }

          .info {
            grid-template-columns: 100px 100px 50px;

            .play-btn {
              width: auto;
            }
          }
        }
      }
    }
    // Custom media screen
    @media screen and (max-width: $screen-359) {
      .gru-student-class-activity-panel {
        .panel-heading {
          grid-template-columns: calc(100% - 200px) 200px;

          .icon-container {
            display: none;
          }
        }
      }
    }
  }
}
