.ca-content-list {
  .content-container {
    margin-bottom: 15px;
    border-bottom: 1px solid $gray-light;
    .content-title {
      font-size: 15px;
    }
    .content-info-container {
      display: grid;
      grid-template-columns: auto 30px;
      column-gap: 5px;
      .content-description {
        $font-size: 12px;
        $lines-to-show: 4;
        $line-height: 1.5;
        margin-left: 15px;
        @include ellipsis($font-size: $font-size, $line-height: $line-height, $lines-to-show: $lines-to-show);
        margin-bottom: 5px;
      }
      .action-container {
        justify-self: right;
        display: grid;
        align-items: center;
        justify-content: center;
        width: 30px;
        border: 1px solid $gray-light;
        .activity-added {
          color: $green-300;
        }
        .add-activity, .activity-added {
          border-bottom: 1px solid $gray-light;
        }
        .add-activity, .assign-date, .activity-added {
          width: inherit;
          cursor: pointer;
          i {
            font-size: 21px;
            height: 28px;
            line-height: 28px;
            padding-left: 5px;
          }
        }
      }
    }
  }
}
