.gru-add-collaborator {
  .add-collaborator-container {
    width: 95%;
    height: auto;
    border-radius: 4px;
    padding: 0 15px;
    margin-top: 8px;
    row-gap: 8px;

    .collaborator-list-conatiner {
      display: grid;
      align-items: center;
      .selected-user {
        display: grid;
        grid-template-columns: 24px auto auto 24px;
        align-items: center;
        justify-content: left;
        height: 24px;
        background-color: #e3e5ea;
        margin: 5px 0;
        width: max-content;
        max-width: 100%;

        .user-thumbnail {
          width: 24px;
          height: 24px;
          background-size: 24px;
          display: block;
        }

        .user-email,
        .user-name {
          font-size: 13px;
          color: #37424b;
        }

        .user-name {
          text-transform: capitalize;
          padding-left: 8px;
          padding-right: 4px;
        }

        .remove-user {
          cursor: pointer;
          padding-left: 8px;
          height: 24px;

          i.clear {
            line-height: 24px;
            font-size: 15px;
          }
        }
      }

      .email-value-container {
        height: 35px;
        margin-bottom: 8px;
        .email-value {
          height: inherit;
          width: 100%;
          &.in-valid {
            color: $red-400;
          }
          &:focus,
          &:active {
            outline: none;
            border: none;
            &::placeholder {
              display: none;
            }
          }
          &::placeholder {
            font-size: 13px;
            opacity: 0.7;
          }
        }
      }
    }

    .collaborator-action-container {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 8px;
      justify-content: right;
      align-self: end;

      .action-btn {
        width: 73px;
        height: 28px;
        border-radius: 2px;
        text-align: center;
        line-height: 28px;
        cursor: pointer;
      }

      .cancel-btn {
        border: solid 1px #979797;
        color: #535e66;
      }

      .done-btn {
        background-color: #0072bc;
        color: $white;

        &.disable-event {
          opacity: 0.5;
        }
      }
    }
  }
}
