.navigator-atc-view {
  svg.navigator-atc-chart {
    background-color: #202e32;
    .y.axis {
      .tick {
        line {
          stroke: $white;
          stroke-dasharray: 4;
          opacity: 0.5;
        }
      }
    }

    .axis {
      path.domain {
        stroke: $white;
        stroke-width: 2px;
        fill: none;
      }
      .tick:nth-child(-n + 4) {
        text {
          display: none;
        }
      }
    }

    .tick {
      text {
        fill: $white;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .node-point {
      z-index: 999;
      .student-profile {
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        cursor: pointer;
      }
    }

    .placeholder {
      fill: $white;
      font-size: 13px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .active-student-container {
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 999;
    .student-performance-container {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      display: grid;
      justify-content: center;
      align-items: center;
      .student-thumbnail-container {
        display: block;
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        border-radius: 50%;
      }
    }
  }
}

.navigator-atc-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 99;

  .tooltip-container {
    width: 340px;
    height: 180px;
    padding: 8px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    .header-container {
      display: grid;
      grid-template-columns: 75px auto;
      border-bottom: 1px solid #979797;
      padding-bottom: 5px;
      align-items: end;
      height: 75px;
      align-items: center;
      .dp-container {
        border-radius: 50%;
        height: 68px;
        width: 68px;
        display: grid;
        align-items: center;
        justify-content: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      .student-info {
        .student-name {
          font-size: 20px;
          font-weight: bold;
          color: #37424b;
          text-transform: capitalize;
        }
        .grade-info {
          span {
            font-size: 15px;
            color: #37424b;
          }
          .title-container {
            font-weight: bold;
          }
          .grade-level {
            padding-left: 8px;
          }
        }
      }

      .competency-status-count {
        font-size: 13px;
        font-weight: bold;
        justify-self: right;
        .mastered {
          color: #006eb5;
        }
        .inprogress {
          color: #1aa9eb;
        }
        .not-started {
          color: #979797;
          font-weight: bold;
        }
      }
    }
    .body-container {
      display: grid;
      row-gap: 5px;
      .info-container {
        display: grid;
        grid-template-columns: 105px auto auto;
        align-items: center;
      }
      .progress-container {
        padding-left: 105px;
        color: #37424b;
        font-size: 13px;
        font-weight: bold;
      }
      .performance-container {
        cursor: pointer;
        .performance-bar-container {
          width: 160px;
          background-color: rgba(191, 191, 191, 0.5);
          height: 10px;
          border-radius: 10px;
          .performance-bar {
            height: inherit;
            display: block;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
        }
        .performance-percentage {
          font-size: 15px;
          font-weight: bold;
          justify-self: right;
        }
      }
      .competencies-container {
        cursor: pointer;
        .competency-count-container {
          width: 126px;
          height: 24px;
          display: flex;
          .count-box {
            height: inherit;
            display: block;
          }
          .mastered-count {
            background-color: #0076ba;
          }
          .inprogress-count {
            background-color: #00b1e5;
          }
          .not-started-count {
            background-color: #e7e8e9;
          }
        }
        .competency-count {
          justify-self: right;
          span {
            font-size: 12px;
            font-weight: bold;
            color: #33424b;
          }
          .mastered {
            color: #0076ba;
          }
          .inprogress {
            color: #00b1e5;
          }
          .not-started {
            color: #35424b;
          }
        }
      }
      .title-container {
        font-size: 15px;
        font-weight: bold;
        color: #37424b;
      }
    }
  }

  &.active {
    visibility: visible;
    display: grid;
    justify-items: center;
    @media screen and (max-width: 992px) {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(44, 66, 74, 0.4);
      position: fixed;
      .tooltip-container {
        bottom: 0;
        position: absolute;
        z-index: 9999;
        zoom: 2;
      }
    }
  }
}
