.navigator-atc-view {
  svg.navigator-atc-chart {
    background-color: #202e32;
    .y.axis {
      .tick {
        line {
          stroke: $white;
          stroke-dasharray: 4;
          opacity: 0.5;
        }
      }
    }

    .axis {
      path.domain {
        stroke: $white;
        stroke-width: 2px;
        fill: none;
      }
      .tick:nth-child(-n+3) {
        text {
          display: none;
        }
      }
    }

    .tick {
      text {
        fill: $white;
        font-size: 10px;
        font-weight: bold;
      }
    }

    .node-point {
      .student-profile {
        clip-path: circle(50.0% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        cursor: pointer;
      }
    }

    .placeholder {
      fill: $white;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }

  }
}

.navigator-atc-tooltip {
  position: absolute;
  z-index: 9999;
  visibility: hidden;
  background-color: $white;

  .user-profile-tooltip {
    margin: 5px;
    width: auto;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    background-color: $white;
    row-gap: 5px;

    .display-profile-url {
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      display: block;
      grid-column-start: 1;
      grid-column-end: 3;
      background-repeat: no-repeat;
      border-radius: 50%;
      justify-self: center;
      margin: 5px;
    }

    .label-text {
      font-weight: bold;
    }

    div {
      margin: 0 5px;
    }
  }
}
