.controller.guest-sign-in {
  .sign-in-wrapper {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: $white;
    width: 100%;
    margin: 15px auto;
    padding: 0;
    float: none;
    max-width: 800px;
    @media (min-width: $screen-sm-min) {
      width: 650px;
      margin: auto;
    }

    .sign-in-header {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-row-gap: 5px;
      padding-top: 15px;
      color: #00001f;
      text-align: center;

      .guest-logo {
        background: url("gooru/images/NavMath_Logo.png");
        height: 50px;
        padding: 0;
        width: 50px;
        justify-self: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .title {
        font-weight: bold;
        font-size: 20px;
        justify-self: center;
      }
      .description {
        display: flex;
        flex-flow: column;
        line-height: 1.5;
        .info {
          font-size: 14px;
        }
        .link {
          font-size: 11px;
          text-align: center;
          a {
            text-decoration: underline;
          }
        }
      }
    }

    .divider {
      border-bottom: 2px solid $light-200;
      margin: 35px 0 0;
      width: 100%;
    }

    .role-sign-in {
      width: 100%;
      display: grid;
      grid-template-columns: auto auto;
      .teacher-sign-in {
        border-right: 1px solid #ccc;
        padding-right: 2px;
      }
      .student-sign-in {
        padding-left: 2px;
      }
      .teacher-sign-in,
      .student-sign-in {
        .role {
          text-align: center;
          padding: 10px;
          font-size: 15px;
          font-weight: bold;
          cursor: pointer;
          border-bottom: 1px solid #e3e5ea;
          &.active {
            background-color: #0675ba;
            color: #fff;
          }
        }

        .details {
          padding: 5px 30px 0px;
          text-align: center;
        }

        .log-in-button {
          margin: 15px 0px;

          &.disable-event {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
