.library-search {
  overflow: hidden;

  .gru-header {
    box-shadow: none;

    .navbar {
      box-shadow: none;
    }
  }

  .app-container {
    padding-top: 63px;
  }

  .panel-container {
    display: grid;
    height: 100%;

    .search-result-container {
      overflow: auto;
    }
  }
}
