.player-external {
  .gru-header {
    display: none;
  }

  .external-player-container {
    .header-container {
      top: 0;
      width: 100%;
      position: fixed;
      color: $white;
      z-index: $zindex-navbar-fixed + 1;
      height: 64px;
      background-color: $blue-400;

      .action {
        width: 68px;
        height: 64px;
        border-right: 2px solid #e3e5ea;
        cursor: pointer;

        .close-icon {
          padding: 21px;

          i {
            font-size: 25px;
            color: $white;
          }
        }
      }

      .content-title {
        width: calc(100% - 200px);
        height: 64px;

        .title-info {
          height: 64px;

          i.icon {
            background-color: $white;
            width: 25px;
            height: 25px;
            background-size: 23px;
            display: block;
            background-repeat: no-repeat;
            background-color: transparent;
            margin: 23px 15px 0;
          }

          i.assessment-external {
            background-image: url("gooru/images/navigation_assessment.svg");
          }

          i.collection-external {
            background-image: url("gooru/images/navigation_collection.svg");
          }
        }

        .title {
          width: calc(100% - 60px);
          position: relative;
          @include translateY(-50%);
          top: 50%;
          $line-height: 1.3;
          $lines-to-show: 2;
          @include ellipsis(
            $font-size: 16px,
            $line-height: $line-height,
            $lines-to-show: 2,
            $excerpt-bg: $blue-400
          );
        }
      }
    }

    .player-container {
      .gru-external-assessment-page {
        height: calc(100vh - 60px);
      }
    }
  }
}
