.study-player-external {
  .gru-study-header {
    position: relative;
    height: 93px;
  }
  .gru-header {
    display: none;
  }
  .app-container {
    padding-top: 0px;
  }
  .player-container {
    overflow: auto;
    height: calc(100vh - 143px);

    .player {
      height: 100%;
      overflow: auto;
    }
    &.iframe-player-container {
      height: calc(100vh - 80px);
    }
  }
  &.fullscreen {
    &.fullscreen {
      @mixin fullscreenStyle {
        background-color: #353e47 !important;
      }
      @include fullscreenStyle;
      .gru-study-navbar {
        display: none;
      }
      .bar-charts {
        top: 0 !important;
        @include fullscreenStyle;
      }
      .report-container {
        padding-top: 0;
      }
      .gru-external-assessment-footer {
        @include fullscreenStyle;
        .resource-title {
          color: $white;
        }
        .toggle-screen {
          i {
            color: $white;
          }
        }
      }
    }
  }
}
