<div class="student-performance-data-container">
  {{#if isAssessmentPerformanceEntry}}
    {{reports.pull-up.activity.assessment-performance-data
      course = course
      activityData = activityData
      classId = classId
      assessment = collection
      students = students
      onClosePullUp = "onClosePullUp"
    }}
  {{else}}
    {{reports.pull-up.activity.collection-performance-data
      course = course
      activityData = activityData
      classId = classId
      collection = collection
      students = students
      onClosePullUp = "onClosePullUp"
    }}
  {{/if}}
</div>
