<div class='addsubmission-container'>
    <span>Type of submission</span>
    <div class='actions' style="line-height: 4">
        <button class="save btn btn-success" {{action 'updateContent' model}}>{{t "common.add"}}</button>
    </div>
    {{gru-dropdown
                  selectedItem=model.taskSubmissionSubTypeSel
                  placeholder=(t "teacher-landing.class.class-settings.class-settings-sec.option-choose-one")
                  items=submissionSubType
                  displayLabelFieldKey="display_name"
                  itemKey='code'
                  onChangeAction="onSubTypeChange"
                  btn-group-size=btn-group-size
        }}
</div>