.learner-proficiency-domain-matrix {
  .chart-area {
    width: 100%;
    margin: auto;
  }
  @media screen and (max-width: $screen-md - 1) {
    .chart-area {
      zoom: 0.8;
      grid-template-columns: none;

      .domain-list {
        display: none;
      }

      .matrix-chart {
        .scrollable-chart {
          margin: auto;
        }

        .domain-sequence-container {
          width: max-content;
          margin: auto;
        }
      }
    }
  }
  @media screen and (max-width: $screen-359 + 1) {
    .chart-area {
      zoom: 0.7;
      grid-template-columns: none;

      .domain-list {
        display: none;
      }

      .matrix-chart {
        .scrollable-chart {
          margin: auto;
        }

        .domain-sequence-container {
          width: max-content;
          margin: auto;
        }
      }
    }
  }
  @media screen and (orientation: landscape) {
    .chart-area {
      .matrix-chart {
        .chart-container {
          grid-template-columns: 150px auto;

          .taxonomy-grades-container {
            .taxonomy-grades {
              .grade-list {
                overflow: auto;
              }
            }
          }
        }
      }
    }
  }
}
