.student-proficiency-panel {
  @media only screen and (max-width: $screen-sm - 1) {
    .panel-header {
      grid-gap: 0;
      padding: 10px 0 0;
      margin: 0;

      .taxonomy-info {
        .dropdown-menu {
          right: 0;
          left: unset;
        }
      }
    }

    .proficiency-tags,
    .time-series-container {
      display: none;
    }

    .learner-proficiency-domain-matrix {
      .chart-area {
        max-width: 100vw;
        overflow-x: auto;

        .actions {
          .grade-selector {
            .dropdown {
              .dropbtn {
                font-size: 12px;
                line-height: 12px;
              }
            }
          }
        }

        .toggle-chart {
          justify-self: left;
          margin-left: 8px;
        }
      }
    }
  }
}
