.controller.teacher.class.atc {
  .month-picker {
    width: 89%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    .ca-date-picker-container {
      box-shadow: none;
      .ca-date-nav-container {
        background-color: $white;
        margin: auto;
        margin-bottom: 10px;
        box-shadow: none;
        grid-template-columns: 50px auto 50px;
        justify-content: center;
        .ca-date-picker-toggle {
          pointer-events: none;
          i {
            display: none;
          }
        }
      }
    }
    &.current-month {
      .ca-date-picker-container {
        .ca-date-nav-container {
          .next-cal-arrow {
            pointer-events: none;
            opacity: 0.5;
          }
        }
      }
    }
  }
  .data-view-container {
    display: grid;
    grid-template-columns: auto 304px;
    column-gap: 11px;
    justify-content: center;
    .chart-container {
      justify-self: center;
      width: 100%;

      .chart-area {
        background-color: #202e32;
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
      }
      .class-info-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin: 0 15px;
        .class-name {
          font-size: 25px;
          font-weight: bold;
          color: $white;
          .until-month {
            font-size: 12px;
          }
        }
        .total-competencies {
          .competency-count {
            font-size: 25px;
            font-weight: bold;
            color: $white;
            text-align: right;
          }
          .competency-label {
            font-size: 12px;
            text-align: right;
            color: $white;
          }
        }
      }
    }
    .data-analysis-cards-container {
      width: 304px;
      .domains-card-container {
        background-color: $white;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        .title-container {
          font-size: 15px;
          font-weight: bold;
          color: #37424b;
          height: 38px;
          line-height: 38px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
          padding-left: 8px;
          text-transform: uppercase;
        }
        .domains-completion-container {
          height: 355px;
          overflow-y: hidden;
          transition: height 0.2s ease-in;
          overflow-y: auto;

          &::-webkit-scrollbar {
            height: 6px;
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: $gray-light;
            border: 1px solid $gray-light;
            border-radius: 5px;
          }

          &.expanded-view {
            height: 294px;
            overflow-y: auto;
          }
          .domain-completion-report {
            display: grid;
            grid-template-columns: 209px auto;
            border-bottom: 1px solid #979797;
            padding: 4px 8px;
            cursor: pointer;
            .domain-info-container {
              .domain-title {
                font-size: 12px;
                font-weight: bold;
                color: #37424b;
              }
              .domain-code {
                font-size: 10px;
                color: #37424b;
              }
            }
            .domain-performance-container {
              display: grid;
              justify-content: right;
              .completion-percentage {
                font-size: 15px;
                font-weight: bold;
                text-align: right;
                color: #3a444d;
              }
              .completion-box {
                display: block;
                height: 10px;
                width: 75px;
                background-color: rgba(191, 191, 191, 0.5);
                span {
                  height: inherit;
                  float: right;
                }
              }
            }
            &.disabled {
              pointer-events: none;
            }
          }
        }
        .actions-container {
          height: 40px;
          display: grid;
          justify-content: center;
          align-items: center;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
          cursor: pointer;
          .action-container {
            font-size: 12px;
            font-weight: bold;
            color: #007ab8;
            text-transform: uppercase;
          }
        }
      }
      .activities-count-container {
        width: 305px;
        height: 115px;
        border-radius: 4px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
        background-color: $white;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
        cursor: pointer;
        .activity-count {
          font-size: 50px;
          font-weight: 300;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.16;
          letter-spacing: normal;
          color: #37424b;
          text-align: right;
          &.unscheduled-count {
            font-size: 40px;
          }
        }
        .activities-info {
          font-size: 12px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #37424b;
          display: grid;
          grid-template-columns: auto auto;
          justify-content: left;
          align-items: center;
          i.pin-icon {
            background-image: url("gooru/pin.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
          }
        }
      }
    }

    &.regular-class {
      grid-template-columns: auto;
      .atc-chart {
        position: relative;
        background-color: #202e32;
        border-radius: 4px;
        margin: auto;
        .reset {
          position: unset;
          right: 0;
          float: unset;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      .chart-container {
        .chart-area {
          zoom: 0.8;
        }
      }
    }

    @media screen and (max-width: 992px) {
      grid-template-columns: auto;
      row-gap: 15px;
      .chart-container {
        .chart-area {
          zoom: 0.9;
        }
      }
      .data-analysis-cards-container {
        width: 100%;
        margin-top: 5px;
        .activities-count-container {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 481px) {
      .chart-container {
        .chart-area {
          zoom: 0.55;
        }
      }
    }

    @media screen and (min-width: 361px) and (max-width: 480px) {
      .chart-container {
        .chart-area {
          zoom: 0.5;
        }
      }
    }

    @media screen and (width: 375px) {
      .chart-container {
        .chart-area {
          zoom: 0.45;
        }
      }
    }

    @media screen and (max-width: 360px) {
      .chart-container {
        .chart-area {
          zoom: 0.4;
        }
      }
    }

    @media screen and (max-width: 320px) {
      .chart-container {
        .chart-area {
          zoom: 0.35;
        }
      }
    }

    @media screen and (min-width: 568px) and (max-width: 736px) and (orientation: landscape) {
      .chart-container {
        .chart-area {
          zoom: 0.7;
        }
      }
    }
  }
  .data-not-available {
    text-align: center;
    margin: 30px 0;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
