.teacher_class_class-activities {
  .app-container {
    .teacher.class {
      padding: 0px;
    }
  }
}
.controller.teacher.class.class-activities {
  padding: 0;
  margin: 20px 0;
  max-width: 960px;
  margin: 0 auto;
  position: relative;

  .ca-title {
    opacity: 0.2;
    font-family: "Playfair Display";
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: #000000;

    p {
      margin-bottom: 0px;
    }
  }

  .loading-spinner {
    position: absolute;
    left: 50%;
  }

  .dca-content-container {
    position: relative;

    .ca-date-and-add-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #fff;
      height: 50px;
      border-radius: 4px;

      .ca-date-container {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        align-items: center;
        justify-items: center;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

        .prev-cal-arrow {
          height: 20px;
          cursor: pointer;
          color: #ccc;
        }

        .next-cal-arrow {
          height: 20px;
          cursor: pointer;
          color: #ccc;
        }

        .cal-mm-yyyy {
          display: inline-flex;
          height: 20px;
          font-weight: bold;
          cursor: pointer;

          .arrow_drop_up {
            display: none;
          }

          .arrow_drop_down {
            display: inline-block;
          }

          &.active {
            .arrow_drop_up {
              display: inline-block;
            }

            .arrow_drop_down {
              display: none;
            }
          }
        }

        .ca-datepicker-container {
          background: #fff;
          position: absolute;
          z-index: 1;
          width: inherit;
          box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.13);
          top: 50px;
          display: none;

          #ca-datepicker {
            .datepicker {
              width: 100%;

              .table-condensed {
                width: 100%;

                thead tr:first-child {
                  display: none;
                }
              }
            }
          }
        }
      }

      .ca-add-content {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        border-left: 1px solid #ccc;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);

        .ca-contents-button {
          display: inline-grid;
          justify-items: center;
          align-items: center;
          grid-template-columns: 40px 20px 20px;
          grid-gap: 15px;
          padding-left: 15px;

          p {
            font-family: "Open Sans";
            font-size: 13px;
            font-weight: bold;
            color: #666666;
            text-transform: uppercase;
            margin: 0;
            padding: 0;
          }

          .collection-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_collection.svg");
            opacity: 0.8;
            cursor: pointer;
          }

          .assessment-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_assessment.svg");
            opacity: 0.8;
            cursor: pointer;
          }
        }

        .ca-course-map-button {
          text-align: right;
          cursor: pointer;
          height: 20px;
          padding-left: 15px;
          padding-right: 15px;

          &.no-course {
            pointer-events: none;
            opacity: 0.5;
          }

          span {
            font-family: "Lato";
            font-size: 13px;
            color: #1aa9eb;
            text-transform: uppercase;
          }
        }
      }
    }

    .dca-list-container {
      height: calc(100vh - 195px);
      overflow-y: auto;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;

      .dca-date-view-container {
        display: inline-grid;
        grid-template-columns: 200px 1fr;
        align-items: center;
        height: 50px;
        width: 100%;

        .dca-date-container {
          display: inline-flex;
          width: 100%;
          align-items: center;

          .calendar_today {
            padding-left: 20px;
          }

          span {
            padding-left: 20px;
          }
        }

        hr {
          width: 100%;
          border-top: 1px solid #ccc;
        }
      }

      .dca-content-list-container {
        .gru-class-activity-panel {
          background-color: #fff;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          border-radius: 4px;
          margin-bottom: 10px;
        }

        .gru-class-activity-panel:last-child {
          .dca-panel-container {
            border-bottom: none;
          }
        }

        .gru-class-activity-panel:first-child {
          .dca-panel-performance {
            border-top-right-radius: 4px;
          }
        }
      }
    }

    .ca-unschedule-container {
      height: 40px;
      background: #fff;
      display: grid;
      width: 100%;
      position: absolute;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.13);
      cursor: pointer;

      .arrow_drop_up {
        justify-self: right;
        padding-right: 25px;
        height: 20px;
      }

      .unscheduled-items {
        padding-left: 25px;
        height: 20px;
        color: #4a4a4a;
        font-weight: 400;
      }
    }
  }
}
