.teacher_class_class-management {
  background-color: $bg-dark;
}

.controller.teacher.class.class-settings {
  margin: 0 auto;
  background-color: $bg-dark;
  max-width: 1365px;

  .font-base {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  .white-font-label {
    @extend .font-base;
    font-weight: bold;
    color: $white;
  }

  .sec-panel {
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    background-color: $white;
    color: $dark-300;
  }

  .caps-field-label {
    height: 16px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .arrowdropdown {
    > i {
      font-size: 18px;
    }
  }

  .grade-info {
    display: grid;

    .grade-label {
      padding-left: 16px;
    }
  }

  .inActiveRow {
    pointer-events: none;
    cursor: none;
    opacity: 0.6;
  }

  .baseline-active {
    opacity: 1;
  }

  .baseline-inactive {
    opacity: 0.5;
  }

  div::disabled {
    pointer-events: none;
    cursor: none;
    opacity: 0.2;
  }

  .gru-switch {
    padding: 0;

    &.assigned {
      pointer-events: none;
    }

    .toggle.btn {
      width: 40px !important;
      height: 20px !important;
      border-radius: 20px;

      .toggle-group {
        .toggle-handle,
        .toggle-off,
        .toggle-on {
          border-radius: 20px;
        }

        .toggle-on {
          left: -13px;
          font-style: italic;
          font-size: $font-size-xxsmall;
          line-height: 4px !important;
        }

        .toggle-off {
          left: 33px;
          font-style: italic;
          line-height: 4px !important;
          font-size: $font-size-xxsmall;
        }

        .toggle-handle {
          top: -5px;
          left: -2px;
        }
      }

      &.off {
        .toggle-group {
          .toggle-handle {
            left: 2px;
          }
        }
      }
    }
  }

  .sec-col-layout {
    display: grid;
    grid-template-columns: 510px 1fr;

    .sec-rows-layout {
      &.left-panel {
        margin-left: 30px;
        margin-right: 15px;
      }

      &.right-panel {
        margin-right: 30px;
        margin-left: 15px;
      }

      .class-sec-cont {
        .class-settings-label {
          width: 94px;
          height: 15px;
          text-transform: uppercase;
          margin: 15px;
          @extend .white-font-label;
        }

        .class-settings-sec {
          padding-left: 20px;
          @extend .sec-panel;
          @extend .font-base;
          color: $gray-dove;

          .class-head-row-wrap {
            display: grid;
            margin-bottom: 16px;
            grid-template-columns: 1fr 140px;

            .sec-head-class-name {
              height: 22px;
              font-size: 18px;
              margin-top: 20px;
              padding-bottom: 25px;
              padding-right: 20px;

              .class-title {
                max-width: 272px;
                display: inline-block;
              }

              .gru-icon.edit {
                opacity: 0.3;
                font-size: 18px;
                margin-left: 10px;
                position: absolute;
                line-height: 1.2;
                cursor: pointer;
              }
            }

            .sec-head-sep {
              height: 1px;
              margin-top: 6px;
              margin-bottom: 16px;
              border-bottom: 1px solid $sep-border-color;
            }

            .min-score-container {
              display: flex;
              align-items: center;

              .sec-desc-min-perf {
                height: 16px;
                font-family: Lato;
                font-size: 13px;
                display: inline;
              }

              .minscoresec {
                padding-left: 20px;
                position: relative;

                .sec-dec-value {
                  width: 40px;
                  height: 16px;
                  font-family: Lato;
                  font-size: 13px;
                  text-align: center;
                  border-bottom: 1px solid $sep-border-color;
                  margin-top: 7px;
                  margin-right: 5px;
                  line-height: 6px;
                }

                .gru-icon.edit {
                  opacity: 0.3;
                  font-size: 18px;
                  margin-left: 10px;
                  line-height: 1.2;
                  position: absolute;
                  top: 0;
                  cursor: pointer;
                }

                .colscoreedit {
                  margin: -10px;
                }
              }
            }

            .class-code {
              width: 140px;
              height: 89px;
              background-image: linear-gradient(to bottom, #4d9748, #0472b9);
              display: flex;
              border-radius: 2px;

              .class-code-wrap {
                margin: auto;
                display: flex;
                flex-direction: column;
                align-items: center;

                .label-class-code {
                  width: 63px;
                  height: 16px;
                  opacity: 0.5;
                  font-size: 13px;
                  color: $white;
                }

                .value-class-code {
                  height: 22px;
                  font-size: 15.5px;
                  font-weight: bold;
                  color: $white;
                }
              }
            }
          }

          .class-level-setting-field {
            display: flex;
            width: 300px;
            margin-top: 3px;

            .caps-field-label-class {
              @extend .caps-field-label;
              flex: 1;
            }

            .field-drop-down {
              width: 64px;
              height: 16px;
              font-size: 13px;
              font-style: italic;
              flex: 1;
            }
          }

          .language-row {
            display: flex;
            align-items: center;

            .row-label {
              height: 16px;
              font-size: 13px;
            }

            .row-value {
              padding-right: 20px;
            }
          }

          .sub-sec-coteach {
            margin-top: 5px;
            padding-bottom: 8px;

            .sub-sec-head {
              height: 14px;
              opacity: 0.8;
              font-size: 12px;
              font-weight: bold;
              line-height: normal;
              text-transform: uppercase;
              margin-bottom: 12px;
              margin-top: 12px;
            }

            .sub-sec-row {
              border-top: 1px solid $sep-border-color;
              display: flex;
              align-items: center;
              padding-top: 5px;
              padding-bottom: 5px;

              .teacher-icon {
                display: inline;
                width: 30px;
                height: 30px;
                background-size: contain;
                border-radius: 50%;
              }

              .co-teacher-label {
                width: 97px;
                height: 15px;
                font-family: Lato;
                font-size: 15px;
                line-height: 1;
                display: inline;
                flex: 1;
                margin-left: 10px;
              }

              .delete-co-teacher {
                width: 14px;
                height: 18px;
                opacity: 0.3;
                display: inline;
                cursor: pointer;
                margin-right: 15px;
              }
              /*  .row-add-another-teacher { */
              /* This may be floating  */
              .add-co-teacher-icon {
                @extend .teacher-icon;
                box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
                background-color: $gray-harder;
                cursor: pointer;
                color: $dark-400;
                margin: 0;

                > i {
                  padding: 3px;
                }
              }

              .add-co-teacher-label {
                width: 126px;
                height: 15px;
                font-family: Lato;
                font-size: 15px;
                font-style: italic;
                line-height: 1;
                margin-left: 10px;
                flex: 1;
              }
            }

            > div:nth-last-child(3) {
              /*padding-bottom: 20px; */
            }

            .language-row {
              background: 1px solid red;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .row-value {
                margin-left: auto;
              }
            }

            .row-offline-alert {
              padding-bottom: 20px;
              align-items: center;
              color: black;
              font-weight: bolder;
            }

            .row-offline-class {
              padding-top: 10px;
              padding-bottom: 10px;
              align-items: center;
              display: flex;

              .offline-icon {
                display: inline;
                width: 22px;
                height: 30px;
                background-size: contain;
                background-repeat: no-repeat;
                margin: 10px 10px 0 0;
                background-image: url("gooru/sort-horizontal.svg");
              }

              .offline-label {
                height: 29px;
                font-family: Lato;
                font-size: 13px;
                padding-right: 20px;
              }

              .offline-info-icon {
                vertical-align: middle;
                display: inline-block;
              }
            }
          }
        }
      }

      .course-sec-cont {
        .dropdown-menu {
          z-index: 1000;
        }

        .no-course-message {
          color: whitesmoke;
          font-size: 14px;
          font-weight: 300;
          line-height: 1.54;
        }

        .course-settings-label {
          @extend .white-font-label;
          margin: 15px;
          text-transform: uppercase;
        }

        .course-settings-sec {
          padding: 0 0 20px 20px;
          @extend .sec-panel;

          .sec-title {
            height: 14px;
            opacity: 0.7;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 10px;
            margin-bottom: 12px;
          }
          //Apply Button
          .btn-panel {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            border-bottom: 1px solid #d7d7d7;

            .class-btn {
              align-self: unset;
              margin: unset;
            }

            .class-btn {
              background-color: $btn-blue;
              width: 135px;
              height: 53px;
              border-radius: 0;
              padding: 15px;
              color: $white;
              border-color: #f36463;
              text-transform: uppercase;
              cursor: pointer;

              > i {
                vertical-align: bottom;
                margin-left: 16px;
              }
            }

            .disabled {
              cursor: none;
              opacity: 0.5;
              pointer-events: none;
            }

            .btn-txt {
              color: whitesmoke;
              background: transparent;
            }
          }

          .sub-sec-sep {
            border-top: 1px solid $sep-border-color;
            margin-top: 12px;
          }

          .sub-sec-row {
            display: flex;
            height: 36px;
            align-items: center;

            .field-dropdown-caps-label {
              @extend .caps-field-label;
              flex: 0.7;
              padding: 12px 0;
              line-height: 1.2;
            }

            .gradelevel-info {
              align-self: flex-end;
              cursor: pointer;
              flex: 0.3;

              > i {
                font-size: 20px;
                vertical-align: bottom;
                margin-left: 16px;
              }
            }

            .field-drop-down {
              flex: 2;
              width: 46px;
              height: 16px;
              font-family: Lato;
              font-size: 13px;

              .subject-label {
                padding-left: 16px;
              }
            }
          }

          .class-level-setting-field {
            @extend .sub-sec-row;
            padding: 12px 0;
          }

          .sec-course-action {
            border-top: 1px solid;

            .action-icon {
              width: 18px;
              height: 14px;
              background-color: #535e67;
            }

            .action-rescope-label {
              height: 16px;
              font-family: Lato;
              font-size: 13px;
            }

            .action-button {
              width: 40px;
              height: 24px;
              object-fit: contain;
            }
          }

          .row-offline-alert {
            padding-bottom: 10px;
            align-items: center;
            color: black;
            font-weight: bolder;
          }

          .row-offline-class {
            padding-top: 10px;
            align-items: center;

            .offline-icon {
              display: inline;
              width: 22px;
              height: 30px;
              background-size: contain;
              background-repeat: no-repeat;
              margin: 3px 10px 0 0;
              background-image: url("gooru/sort-horizontal.svg");
            }

            .offline-label {
              width: 287px;
              height: 30px;
              font-family: Lato;
              font-size: 13px;
              flex: 1;
            }

            .offline-info-icon {
              vertical-align: middle;
              display: inline-block;
            }

            .action-button-slide-yes {
              margin-right: 30px;
              object-fit: contain;
            }
          }
        }
      }

      .btn-panel {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 20px;
      }

      .class-btn {
        margin: auto;
        align-self: center;
      }

      .class-btn {
        background-color: #543c3c;
        width: 215px;
        height: 53px;
        // opacity: 0.1;
        border-radius: 4px;
        padding: 15px;
        color: #f36463;
        border-color: #f36463;
        text-transform: uppercase;
        cursor: pointer;

        > i {
          vertical-align: bottom;
          margin-left: 16px;
        }
      }

      .disabled {
        cursor: none;
        opacity: 0.5;
        pointer-events: none;
      }

      .btn-txt {
        color: #f36463;
        background: transparent;
      }
    }

    .student-sec-cont {
      .no-students-message {
        color: whitesmoke;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.54;
      }

      .student-settings-label {
        @extend .white-font-label;
        text-transform: uppercase;
        margin: 15px;
      }

      .dropdown-menu {
        position: absolute;
        top: auto;
        left: auto;
        z-index: 500 !important;
      }

      .student-settings-sec {
        @extend .sec-panel;
        padding-left: 10px;
        padding-top: 10px;

        table {
          width: 100%;
          word-break: break-all;

          th {
            border-bottom: 1px solid #d7d7d7;
            overflow: hidden;
            font-size: 10px;
            text-transform: uppercase;
            border-right: 2px dashed #d7d7d7;
            padding-left: 10px;

            &:last-child {
              border-right: none;
            }
          }

          td {
            height: 40px;
            border-bottom: 1px solid #d7d7d7;
            border-right: 2px dashed #d7d7d7;

            &:last-child {
              border-right: none;
            }
          }

          .btn-panel {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            padding: 20px;

            .class-btn {
              background-color: #543c3c;
              width: 211px;
              height: 53px;
              border-radius: 4px;
              padding: 15px;
              color: $white;
              border-color: #f36463;
              text-transform: uppercase;
              cursor: pointer;

              > i {
                vertical-align: bottom;
                margin-left: 16px;
              }
            }

            .disabled {
              cursor: none;
              opacity: 0.5;
              pointer-events: none;
            }

            .btn-txt {
              color: whitesmoke;
              background: transparent;
            }
          }

          .student-info-container {
            display: grid;
            grid-template-columns: 50px 1fr;
            align-items: center;

            .student-icon {
              background-size: contain;
              border-radius: 50%;
              width: 30px;
              height: 30px;
              margin: auto;
            }
          }

          .origin {
            font-size: 13px;
            color: $gray-dove;
          }

          .destination {
            @extend .origin;
          }

          .student-id {
            @extend .origin;
            display: flex;
            align-items: center;
            text-overflow: ellipsis;

            > span {
              margin-left: 14px;
              overflow-wrap: break-word;
              max-width: 135px;
            }
          }

          .actions-btn {
            display: grid;
            align-items: center;
            grid-template-columns: 50px 1fr 1fr;
            justify-items: center;

            .student-action-col {
              cursor: pointer;
              width: 30px;
              height: 20px;

              .student-adj-lp {
                cursor: default;
                opacity: 0.5;

                &.active {
                  opacity: 1;
                  cursor: pointer;
                }

                &.updating {
                  opacity: 1;

                  .replay {
                    animation: rotating 1s linear infinite;
                    color: #20a33c;
                  }
                }
              }
            }

            .student-delete {
              opacity: 0.3;
            }
          }
        }
      }
    }
  }
  @-webkit-keyframes rotating {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
