.teacher_class_class-activities {
  .teacher.class {
    .content {
      .class-activities-ctrl-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .ca-datepicker-schedule-container {
          position: absolute;
          z-index: 1000;
        }

        @media screen and (max-width: $screen-sm) {
          width: 100vw;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto;
          .left-panel {
            height: calc(100vh - 145px);
          }
        }

        @media screen and (max-width: $screen-xs) {
          .left-panel {
            width: inherit;
          }
        }
      }
    }
  }
}
