.teacher_class_course-map {
  .classroom-information {
    max-width: 90%;
    margin: 0 auto !important;
    float: none !important;
  }
}

.teacher.course-map {
  margin-top: 30px;
  max-width: 90%;

  .actions {
    margin-top: -36px;
    width: 113px;
    height: 30px;
    background-color: $light-100;
    float: $menu-float-dir;

    button.edit-content {
      display: inline-block;
      font-size: $font-size-base;
      padding: 3px 11px;
      float: $menu-float-dir;

      i {
        font-size: $font-size-large;
        vertical-align: text-top;
      }
    }
  }

  .panel.welcome {
    height: max-content;
    border-radius: 5px;
    line-height: $font-navigator;
    margin: 0;
    padding-bottom: 20px;
    opacity: 0.5;
    font-size: 13px;
    color: #000000;

    .panel-body {
      padding: 15px 15px 0;

      &.premium-class {
        .close {
          font-size: 26px;
          line-height: 55px;
        }
      }
    }

    .description {
      display: inline-block;
      width: 96%;
      text-align: justify;
    }

    .close {
      display: inline-block;
      font-size: $font-size-units-icon;
      font-weight: bold;

      a {
        color: $dark-100;
      }
    }
  }

  .course-map-container {
    .course-map-body {
      display: grid;
      grid-template-columns: 1fr auto;

      .header {
        opacity: 0.5;
        font-size: 12px;
        font-weight: bold;
        color: #000000;
        text-transform: uppercase;
        padding: 10px 0;
      }

      .students-dropdown-list-container {
        width: 100%;
        display: grid;
        position: relative;
        margin-top: 8px;
        grid-column-start: 1;
        grid-column-end: 3;
        .student-list-toggle-container {
          width: inherit;
          display: grid;
          grid-template-columns: 1fr 40px;
          height: 50px;
          align-items: center;
          box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);
          background-color: $white;
          border-radius: 4px;
          padding: 0 20px;
          z-index: 10;
          .students-label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
          }
          .toggle-action {
            justify-self: center;
            cursor: pointer;
          }

          &.student-selected {
            grid-template-columns: 40px 30px 1fr 50px 40px;
            column-gap: 8px;
            align-items: center;
            padding: 0;
            .student-thumbnail {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-size: 30px;
            }
            .student-name {
              text-transform: uppercase;
              font-size: 12px;
              font-weight: bold;
            }
            .student-performance {
              width: 50px;
              align-self: center;
              &.not-started {
                pointer-events: none;
              }
              .charts.gru-performance-chart {
                width: 50px;
                min-width: 50px;
                .container-box {
                  height: 50px;
                  .percentage {
                    margin-top: 8px;
                  }
                }
              }
            }
            .deselect-student {
              height: 50px;
              border-right: 1px solid $light-400;
              justify-self: center;
              cursor: pointer;
              text-align: center;
              width: 40px;
              i.clear {
                line-height: 50px;
              }
            }

            .toggle-action {
              height: 50px;
              width: 40px;
              text-align: center;
              i {
                line-height: 50px;
              }
            }
          }
        }
        .student-list-container {
          display: none;
          position: absolute;
          top: 50px;
          background-color: $white;
          width: 100%;
          z-index: 9;
          box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          max-height: 250px;
          overflow-y: auto;
          .student-info-container {
            display: grid;
            grid-template-columns: 30px 1fr;
            column-gap: 8px;
            height: 50px;
            align-items: center;
            padding: 0 20px;
            cursor: pointer;
            .student-thumbnail {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-size: 30px;
            }

            .student-name {
              font-size: 15px;
              text-transform: capitalize;
            }

            &.selected-student,
            &:hover {
              background-color: $light-100;
            }
          }
        }
      }

      .render-course-map {
        width: 98%;
        grid-row: 2;
        grid-column: 1;

        .ms-cm-view-switcher-ctn {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          height: 50px;
          background: #fff;
          border-radius: 4px;
          margin-top: 10px;
          margin-bottom: 5px;
          box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.4);

          .current-view {
            padding-left: 20px;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
          }

          .view-switcher {
            justify-self: end;
            padding-right: 20px;
            text-transform: uppercase;
            font-size: 12px;
            color: #1aa9eb;
            cursor: pointer;
            font-weight: bold;
          }
        }

        .header {
          padding-left: 20px;
        }

        .routesuggestion-coursemap {
          margin-bottom: 15px;
          box-shadow: 0 0 4px 2px #ef8f2f;

          .gru-accordion-course {
            padding: 0;
          }
        }

        .teacher-coursemap {
          .gru-accordion-course {
            padding: 0;

            .gru-accordion-lesson {
              .panel-body {
                .collections {
                  li {
                    margin-bottom: 10px;

                    .performance.chart {
                      width: 77px;
                    }
                  }
                }
              }
            }
          }
        }

        .student-coursemap {
          .gru-learner-accordion-unit {
            background-color: $white;

            .gru-learner-accordion-lesson {
              .panel-heading {
                .panel-title {
                  width: 69% !important;
                }
              }

              .panel-body {
                .collections {
                  .panel-heading {
                    .panel-title {
                      display: flex;

                      a .ellipsis {
                        height: 60px;
                        line-height: 60px;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.sm-course-map {
          // width: 67%;

          .gru-accordion .panel-heading .panel-title {
            width: 53% !important;
          }

          .gru-accordion-lesson
            .collections
            .panel-heading
            .panel-title
            .title {
            width: 73%;
          }
        }
      }

      .items-to-grade {
        width: 331px;
        grid-row: 2;
        grid-column: 2;

        .header {
          font-size: 12px;
          font-weight: bold;
          color: #000000;
          margin-left: 15px;
        }
        .gru-grade-items {
          width: inherit;
        }

        .no-grade-items {
          width: inherit;
          height: 178px;
          display: grid;
          justify-content: center;
          align-items: center;
          background-color: $white;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          grid-template-rows: 125px 40px;

          i {
            background-repeat: no-repeat;
            width: 258px;
            display: block;
            height: 54px;
            background-image: url("gooru/images/group.svg");
          }

          span {
            font-size: 13px;
            color: $grey-light;
            text-align: center;
          }
        }
      }
    }
  }

  .gru-accordion {
    .panel-heading {
      padding: 0;
      margin: 0;
      background-color: $white;
      height: 67px;

      .panel-title {
        width: 59% !important;
      }

      .gru-switch {
        .toggle.btn {
          width: 40px !important;
          height: 20px !important;
          border-radius: 20px;

          .toggle-group {
            .toggle-handle,
            .toggle-off,
            .toggle-on {
              border-radius: 20px;
            }

            .toggle-on {
              left: -13px;
              top: -4px;
              font-style: italic;
              font-size: $font-size-xxsmall;
            }

            .toggle-off {
              left: 33px;
              font-style: italic;
              font-size: $font-size-xxsmall;
            }

            .toggle-handle {
              top: -5px;
              left: -2px;
            }
          }

          &.off {
            .toggle-group {
              .toggle-handle {
                left: 2px;
              }
            }
          }
        }
      }
    }

    .gru-accordion-lesson {
      height: 67px;

      &.expanded {
        height: auto;
      }
    }
  }
}
