.new-cards.gru-add-content-card {
  .add-content-card-container {
    .content-info-container {
      display: grid;
      grid-template-columns: 30px 1fr auto 30px 30px 50px;
      align-items: center;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
      background-color: $white;
      padding-left: 8px;
      height: 45px;
      .content-type {
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        &.collection {
          background-image: url("../assets/gooru/images/add_collection.svg");
        }

        &.offline-activity {
          background-image: url("../assets/gooru/images/offline.svg");
        }

        &.assessment {
          background-image: url("../assets/gooru/images/add_assessment.svg");
        }
      }
      .content-titile {
      }
      .content-counts {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 8px;
        .content-icon {
          width: 18px;
          height: 18px;
          background-size: 18px;
          background-position: center;
        }
        .content-count {
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 4px;
          align-items: center;
        }
        .task-count .content-icon {
          background-image: url("../assets/gooru/images/text-resource-dark.svg");
        }
        .resource-count .content-icon {
          background-image: url("../assets/gooru/images/add_resource_icon.svg");
        }
        .question-count .content-icon {
          background-image: url("../assets/gooru/images/add_question.svg");
        }
      }
      .add-activity,
      .schedule-activity {
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i.add,
        i.update {
          font-size: 18px;
        }
      }

      .content-thumbnail {
        width: 50px;
        height: 45px;
        background-size: 50px 45px;
        background-position: center;
      }
    }
  }
}
