.new-cards.gru-add-content-card {
  .add-content-card-container {
    .content-info-container {
      display: grid;
      grid-template-columns: 60px auto 80px 40px 40px;
      align-items: center;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
      background-color: $white;
      .content-title {
        display: grid;
        grid-template-rows: auto auto;
        padding: 0px 8px;
        .collection-info {
          display: grid;
          grid-template-columns: auto;
          column-gap: 8px;
          .taxonomy-container {
            height: 35px;
            display: grid;
            align-items: center;
            .gru-taxonomy-tag-list {
              .gru-taxonomy-tag {
                min-width: 90px;
                max-width: 100px;
                height: 23px;
                border-radius: 12px;
                background-color: #2d2d2d;
                .standard-tag {
                  text-align: center;
                  padding: 0;
                  .tag-label {
                    font-size: 12px;
                    font-weight: bold;
                    color: $white;
                    line-height: 21px;
                  }
                  .tag-caption {
                    display: none;
                  }
                }
              }
              .non-visible-tags {
                color: #6f6666;
                padding: 0;
                span {
                  font-weight: bold;
                  font-size: 14px;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      .content-counts {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 4px;
        align-items: center;
        border-right: 1px solid #808080;
        height: 90%;
        padding-right: 10px;
        .content-icon {
          width: 18px;
          height: 18px;
          background-size: 18px;
          background-position: center;
        }
        .content-count {
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 4px;
          align-items: center;
        }
        .task-count .content-icon {
          background-image: url("../assets/gooru/images/text-resource-dark.svg");
        }
        .resource-count .content-icon {
          background-image: url("../assets/gooru/images/add_resource_icon.svg");
        }
        .question-count .content-icon {
          background-image: url("../assets/gooru/images/add_question.svg");
        }
      }
      .add-activity,
      .schedule-activity {
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i.add,
        i.update {
          font-size: 24px;
        }
      }
      .content-thumbnail {
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
