.new-cards.gru-add-content-card {
  .add-content-card-container {
    .content-info-container {
      display: grid;
      grid-template-columns: 1fr auto 30px 30px 50px;
      align-items: center;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
      background-color: $white;
      padding-left: 8px;
      .content-title {
        .taxonomy-container {
          height: 35px;
          display: grid;
          align-items: center;
          .gru-taxonomy-tag-list {
            .gru-taxonomy-tag {
              min-width: 90px;
              max-width: 100px;
              height: 23px;
              border-radius: 12px;
              background-color: #2d2d2d;
              .standard-tag {
                text-align: center;
                padding: 0;
                .tag-label {
                  font-size: 12px;
                  font-weight: bold;
                  color: $white;
                  line-height: 21px;
                }
                .tag-caption {
                  display: none;
                }
              }
            }
            .non-visible-tags {
              width: 81px;
              height: 23px;
              border-radius: 12px;
              background-color: #2d2d2d;
              color: $white;
              padding: 0;
              span {
                font-weight: bold;
                font-size: 14px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .content-counts {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 8px;
        .content-icon {
          width: 18px;
          height: 18px;
          background-size: 18px;
          background-position: center;
        }
        .content-count {
          display: grid;
          grid-template-columns: auto auto;
          column-gap: 4px;
          align-items: center;
        }
        .task-count .content-icon {
          background-image: url("../assets/gooru/images/text-resource-dark.svg");
        }
        .resource-count .content-icon {
          background-image: url("../assets/gooru/images/add_resource_icon.svg");
        }
        .question-count .content-icon {
          background-image: url("../assets/gooru/images/add_question.svg");
        }
      }
      .add-activity,
      .schedule-activity {
        display: grid;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i.add,
        i.update {
          font-size: 18px;
        }
      }
      .content-thumbnail {
        width: 50px;
        height: 55px;
        background-size: 50px 45px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
