.domain-info-pull-up {
  $line-height: 1.2;
  $lines-to-show: 4;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  display: grid;
  position: absolute;
  grid-template-rows: auto 1fr;
  height: 0;
  transition: height 0.5s ease-out;
  overflow: hidden;
  bottom: 0;

  &.open {
    height: 100%;
    transition: height 0.5s ease-in;
  }

  .competency-container {
    overflow-y: auto;

    .title {
      text-transform: uppercase;
      font-weight: bold;
      padding: 10px 10px 0 15px;
    }

    .competency-list {
      display: grid;
      padding: 15px;
      background-color: #fff;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 1fr);

      .competency-info {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        background-color: #fff;
        padding: 10px;
        height: 100%;
        cursor: pointer;

        .competency-desc {
          padding: 10px;
          font-size: 11px;
          @include ellipsis(
            $font-size: $font-size-base,
            $line-height: $line-height,
            $lines-to-show: $lines-to-show,
            $excerpt-bg: $white
          );
        }

        .competency {
          display: grid;
          grid-template-columns: 1fr 24px;
          grid-gap: 20px;
          padding-bottom: 10px;
          border-bottom: solid 2px;
          border-bottom-style: outset;
          font-size: 10px;

          .title {
            font-size: 11px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #37424b;
            padding: 0;
          }

          .competency-status {
            width: 24px;
            height: 24px;

            &.status-0 {
              opacity: 0.3;
              background-color: #333c4f;
            }

            &.status-1 {
              background-color: #99c5e6;
            }

            &.status-2,
            &.status-3,
            &.status-4,
            &.status-5 {
              background-color: #6f9ce2;
            }
          }
        }
      }
    }
  }

  .domain-panel-header {
    padding: 16px;
    border-bottom: solid 1px #979797;
    display: grid;
    grid-template-areas: "title title close" "sequence sequence sequence";

    .domain-name {
      font-size: 22px;
      color: #1aa9eb;
      line-height: 1;
      grid-area: title;
    }

    .close {
      grid-area: close;
      justify-items: center;

      i {
        font-size: 26px;
      }
    }

    .domain-seq {
      font-weight: bold;
      font-size: 14px;
      grid-area: sequence;
    }
  }
}
