.grade-selector {
  display: flex;

  .dropdown {
    width: max-content;
    align-self: center;
    margin-left: 10px;

    .dropbtn {
      background-color: transparent;
      color: black;
      padding: 3px;
      outline: none;
      font-size: 16px;
      text-transform: capitalize;
      border: none;
    }

    ul {
      padding: 10px;
      border-radius: 0;
      max-height: 300px;
      overflow-y: auto;
      width: 100%;

      li {
        padding: 2px;

        &.disable {
          pointer-events: none;
          opacity: 0.5;
        }

        label {
          width: 100%;

          span {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .active-grade-list {
    display: flex;

    .active-grade {
      background: #37424b;
      padding: 4px;
      border-radius: 4px;
      margin: 5px;
      max-width: 80px;
      display: grid;
      grid-template-columns: auto auto;
      color: #fff;

      .close {
        font-size: 16px;
        color: #fff;
        opacity: 1;
      }
    }

    .more {
      align-items: center;
      display: flex;
      font-weight: bold;
    }
  }
}
