.learner-proficiency-domain-matrix {
  margin: 0 auto;
  background-color: $white;

  %scroll-style {
    &::-webkit-scrollbar {
      height: 6px;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }

  .three-bounce-spinner {
    position: absolute;
    left: 33%;
    z-index: 9;
  }

  .clear {
    clear: both;
  }

  .fillArea0 {
    fill: #e7e8e9;
  }
  .fillArea1 {
    fill: #1aa9eb;
  }
  .fillArea2,
  .fillArea3,
  .fillArea4,
  .fillArea5 {
    fill: #006eb5;
  }

  .chart-area {
    background-color: $gray-97;
    width: 90%;
    margin: 0 auto;
    display: grid;

    &.compressed-view {
      .matrix-chart {
        .scrollable-chart {
          #render-proficiency-matrix {
            svg {
              pointer-events: none;
            }
          }
        }
      }
    }

    .toggle-chart {
      width: max-content;
      padding: 0 15px;
      height: 25px;
      border-radius: 45px;
      background-color: #4190e0;
      font-size: 12px;
      color: $white;
      cursor: pointer;
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-self: end;
      margin: 8px 8px 8px 0;
      i {
        font-size: 15px;
      }
    }

    .matrix-chart {

      .chart-container {
        display: grid;
        grid-template-columns: 150px auto;
        justify-content: center;

        &.no-grade {
          grid-template-columns: auto;

          .domain-chart-container {
            max-width: 100vw;
          }
        }

        .taxonomy-grades-container {
          .taxonomy-grades {
            .grade-list {
              max-height: 63vh;
              overflow-x: auto;
              @extend %scroll-style;
              .grade-container {
                cursor: pointer;
              }
            }
          }
        }

        @extend %scroll-style;

        .domain-chart-container {
          align-self: flex-end;
          max-width: calc(100vw - 100px);
          overflow-x: auto;

          @extend %scroll-style;

          .scrollable-chart {
            max-height: 63vh;
            overflow-y: auto;
            width: max-content;
            display: grid;
            grid-template-columns: auto;
            justify-content: flex-end;
            align-items: end;

            @extend %scroll-style;

            #popover {
              width: 234px;
              height: 100px;
              border-radius: 2px;
              z-index: 1;
              text-align: justify;
              padding: 5px;
              transform: rotateX(180deg);
              position: absolute;
              background-color: $white;
              box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.7);
              display: block;

              span.title {
                display: block;
                font-weight: bold;
                font-size: 13px;
              }

              &:before {
                content: "";
                display: inline-block;
                background-color: transparent;
                position: absolute;
                z-index: 1;
                width: 0;
                top: 100%;
                left: 15px;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid $white;
              }
            }

            #render-proficiency-matrix {
              position: relative;
              transform: rotateX(180deg);
              -webkit-transition: -webkit-transform 0.6s ease-in;
              transition: transform 0.6s ease-in;
              -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;

              .competency {
                cursor: pointer;
                stroke: $dark-300;
                stroke-width: 1;
                shape-rendering: crispedges;
                stroke-opacity: 0.7;
              }

              #skyline-container {
                filter: url(#shadow);
                line {
                  stroke: $white;
                  stroke-width: 6px;
                }
              }

              #baseline-container {
                line {
                  stroke: $dark-400;
                  stroke-width: 2px;
                }
              }

              .skyline {
                transition-property: visibility, opacity;
                transition-duration: 0s, 1s;
              }
              .domain-boundary-line {
                stroke: #8fd383;
                stroke-width: 4px;

                &.hidden-line {
                  display: none;
                }
              }
            }
          }
        }
      }

      .domain-sequence {
        display: inline-block;

        .domain-counts {
          float: left;
          display: inline-block;
          width: 32px;
          text-align: center;
          margin-top: 0;
          cursor: pointer;
        }
      }
    }

    .domain-list {
      margin-left: 12px;
      max-height: 62vh;
      overflow-y: auto;
      justify-self: left;

      .domain {
        font-size: 12px;
        color: $dark-400;
        display: flex;
        margin-bottom: 3px;

        .sequence {
          margin-right: 10px;
          width: 20px;
          text-align: right;
        }

        .name {
          line-height: 18px;
          width: calc(100% - 20px);
        }
      }

      @extend %scroll-style;
    }
  }
}
