.student-inspect-competency-chart {
  margin: 0 auto;

  .three-bounce-spinner {
    position: absolute;
    left: 33%;
    z-index: 9;
  }

  .clear {
    clear: both;
  }

  .chart-container {
    .graded-chart-container {
      display: grid;
      grid-template-columns: 100px auto;

      &.hide-grade {
        justify-content: center;
        grid-template-columns: auto;
      }

      .taxonomy-grades-container {
        pointer-events: none;

        &.proficiency {
          .taxonomy-grades {
            .grade-list {
              .grade-container {
                &.active-grade {
                  .grade-title {
                    background-color: #fff;
                    color: #535e67;
                    box-shadow: none;
                    font-weight: normal;

                    &::after,
                    &::before {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .domain-chart {
        overflow: auto;

        .competency-cell {
          fill: #e7e8e9;

          &.status-0 {
            fill: #e7e8e9;
          }

          &.status-1 {
            animation: inprogress-color 2s ease-in both;
            animation-delay: 6s;
          }

          &.status-2,
          &.status-3,
          &.status-4,
          &.status-5 {
            animation: mastered-color 2s ease-in both;
            animation-delay: 4s;
          }
        }

        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }

        .scrollable-chart {
          overflow-y: auto;
          width: max-content;
          height: 80vh;

          &::-webkit-scrollbar {
            height: 6px;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            background: $gray-light;
            border: 1px solid $gray-light;
            border-radius: 5px;
          }

          #popover {
            width: 234px;
            height: 100px;
            border-radius: 2px;
            z-index: 1;
            text-align: justify;
            padding: 5px;
            transform: rotateX(180deg);
            position: absolute;
            background-color: $white;
            box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.7);
            display: block;

            span.title {
              display: block;
              font-weight: bold;
              font-size: 13px;
            }

            &:before {
              content: "";
              display: inline-block;
              background-color: transparent;
              position: absolute;
              z-index: 1;
              width: 0;
              top: 100%;
              left: 15px;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 10px solid $white;
            }
          }

          #student-inspect-competency-chart {
            margin-bottom: 20px;
            position: relative;
            transform: rotateX(180deg);

            &.proficiency {
              #popover,
              .domain-boundary-line {
                visibility: hidden;
              }
            }

            svg {
              padding-top: 5px;
              padding-left: 5px;
            }

            .competency {
              stroke: $dark-300;
              stroke-width: 1;
              shape-rendering: crispedges;
              stroke-opacity: 0.7;
            }

            #skyline-container {
              filter: url(#shadow);

              line {
                stroke: $white;
                stroke-width: 6px;
                opacity: 0;
                animation: fadeIn 2s ease-in both;
                animation-delay: 8s;
              }
            }

            #baseline-container {
              line {
                stroke: $dark-400;
                stroke-width: 2px;
              }
            }

            .skyline {
              transition-property: visibility, opacity;
              transition-duration: 0s, 1s;
            }

            .domain-boundary-line {
              stroke: #8fd383;
              stroke-width: 4px;
            }
          }
        }
      }
    }

    .domain-sequence {
      width: max-content;
      padding-left: 5px;
      display: inline-block;

      .domain-counts {
        float: left;
        display: inline-block;
        width: 32px;
        text-align: center;
        margin-top: 0;
        font-weight: bold;
        color: $dark-300;
        display: inline-block;
        cursor: pointer;
      }
    }
  }
  @keyframes mastered-color {
    0% {
      fill: #e7e8e9;
    }

    100% {
      fill: #006eb5;
    }
  }
  @keyframes inprogress-color {
    0% {
      fill: #e7e8e9;
    }

    100% {
      fill: #1aa9eb;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
