.student-inspect-competency-chart {
  margin: 0 auto;

  .three-bounce-spinner {
    position: absolute;
    left: 33%;
    z-index: 9;
  }

  .clear {
    clear: both;
  }

  .chart-container {
    .graded-chart-container {
      display: grid;
      grid-template-columns: 150px auto;

      &.hide-grade {
        justify-content: center;
        grid-template-columns: auto;
      }

      .domain-chart {
        overflow: auto;

        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }

        .scrollable-chart {
          height: 80vh;
          overflow-y: auto;
          width: max-content;

          &::-webkit-scrollbar {
            height: 6px;
            width: 8px;
          }

          &::-webkit-scrollbar-thumb {
            background: $gray-light;
            border: 1px solid $gray-light;
            border-radius: 5px;
          }

          #popover {
            width: 205px;
            height: 100px;
            border-radius: 2px;
            z-index: 1;
            padding: 5px;
            transform: rotateX(180deg);
            position: absolute;
            background-color: $white;
            box-shadow: 0 2px 14px 10px rgba(0, 0, 0, 0.7);
            display: block;

            span.title {
              display: block;
              font-weight: bold;
              font-size: 13px;
            }

            &:before {
              content: "";
              display: inline-block;
              background-color: transparent;
              position: absolute;
              z-index: 1;
              width: 0;
              top: 100%;
              left: 15px;
              height: 0;
              border-left: 8px solid transparent;
              border-right: 8px solid transparent;
              border-top: 10px solid $white;
            }
          }

          #student-inspect-competency-chart {
            margin-bottom: 20px;
            position: relative;
            transform: rotateX(180deg);
            -webkit-transition: -webkit-transform 0.6s ease-in;
            transition: transform 0.6s ease-in;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;

            .competency {
              stroke: #36394a;
              stroke-width: 2;
              shape-rendering: crispedges;
              stroke-opacity: 0.7;
            }

            #skyline-container {
              filter: url(#shadow);

              line {
                stroke: $white;
                stroke-width: 6px;
              }
            }

            #baseline-container {
              line {
                stroke: $dark-400;
                stroke-width: 2px;
              }
            }

            .skyline {
              transition-property: visibility, opacity;
              transition-duration: 0s, 1s;
            }

            .domain-boundary-line {
              // stroke-dasharray: 6;
              stroke: #8fd383;
              stroke-width: 4px;
            }
          }
        }
      }
    }

    .domain-sequence {
      display: inline-block;

      .domain-counts {
        float: left;
        display: inline-block;
        width: 30px;
        text-align: center;
        margin-top: 0;
        color: $white;
        display: inline-block;
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
}
