.student-inspect-competency-chart {
  margin: 0 auto;
  .three-bounce-spinner {
    position: absolute;
    left: 33%;
    z-index: 9;
  }

  .clear {
    clear: both;
  }

  .chart-container {
    .graded-chart-container {
      display: grid;
      grid-template-columns: 150px auto;
      .scrollable-chart {
        height: 80vh;
        overflow-y: auto;
        width: max-content;

        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }

        #student-inspect-competency-chart {
          margin-bottom: 20px;
          position: relative;
          transform: rotateX(180deg);
          -webkit-transition: -webkit-transform 0.6s ease-in;
          transition: transform 0.6s ease-in;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

          .competency {
            stroke: $snow-gray;
            stroke-width: 1;
            shape-rendering: crispedges;
            stroke-opacity: 0.4;
            cursor: pointer;
          }

          #skyline-container {
            line {
              stroke: $white;
              stroke-width: 6px;
            }
          }

          #baseline-container {
            line {
              stroke: $dark-400;
              stroke-width: 2px;
            }
          }

          .skyline {
            transition-property: visibility, opacity;
            transition-duration: 0s, 1s;
          }

          .domain-boundary-line {
            stroke-dasharray: 6;
            stroke: #010518;
            stroke-width: 2px;
          }
        }
      }
    }

    .domain-sequence {
      display: inline-block;
      float: right;
      margin-right: 8px;

      .domain-counts {
        float: left;
        display: inline-block;
        width: 30px;
        text-align: center;
        margin-top: 0;
        cursor: pointer;
      }
    }

      .proficiency-legends {
        margin: 15px auto auto;
        width: max-content;
        display: flex;

        .legend {
          display: flex;
          margin-right: 30px;

          .box {
            display: block;
            width: 15.6px;
            height: 15.6px;
            transform: rotate(90deg);
            margin-right: 8.4px;
          }

          .box-destination {
            width: 25px;
            height: 2px;
            margin-top: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            margin-right: 8.4px;
            margin-top: 6px;
          }

          .box-skyline {
            width: 18px;
            height: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            margin-right: 8.4px;
          }

          .title {
            line-height: 13px;
            font-size: 12px;
            color: $elephant-dark;
          }

          &.mastered {
            .box {
              background-color: $blue-400;
            }
          }

          &.in-progress {
            .box {
              background-color: $in-progress;
            }
          }

          &.not-started {
            .box {
              background-color: $not-started;
            }
          }

          &.skyline {
            .box-skyline {
              background-color: $white;
            }
          }

          &.baseline {
            .box-destination {
              border-bottom: 2px dashed $dark-400;
            }
          }
        }
      }
  }
}
