.ca-date-picker-container {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.13);
  background-color: #fff;

  .ca-date-nav-container {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    justify-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
    height: auto;

    .next-cal-arrow,
    .prev-cal-arrow {
      cursor: pointer;
      user-select: none;

      i {
        display: flex;
        font-size: 30px;
        pointer-events: none;
      }
    }

    .cal-mm-yyyy {
      display: inline-flex;
      font-weight: bold;
      pointer-events: none;

      .arrow_drop_down,
      .arrow_drop_up {
        display: none;
        pointer-events: none;
        height: 20px;
        align-self: center;
      }

      &.ca-date-picker-toggle {
        cursor: pointer;
        pointer-events: all;
        font-size: 24px;

        .arrow_drop_up {
          display: none;
        }

        .arrow_drop_down {
          display: inline-block;
        }

        &.active {
          .arrow_drop_up {
            display: inline-block;
          }

          .arrow_drop_down {
            display: none;
          }
        }
      }
    }
  }

  .ca-datepicker-container {
    background: #fff;
    z-index: 1;
    width: inherit;
    padding-bottom: 10px;

    hr {
      margin: 0;
    }

    .ca-datepicker-today {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 4px;
      padding-bottom: 4px;
      background-color: #4b9740;
      color: #fff;
      cursor: pointer;
    }

    &.ca-date-picker-toggle {
      display: none;
    }

    #ca-datepicker {
      &.disable {
        pointer-events: none;
        opacity: 0.5;
      }

      .datepicker {
        width: 100%;

        .table-condensed {
          width: 100%;

          thead tr:first-child {
            display: none;
          }

          tr td.disabled:hover,
          tr td.new:hover,
          tr td.no-activities:hover,
          tr td.old:hover {
            background: none;
            font-weight: normal;
            color: #999;
          }

          tr td.disabled,
          tr td.new,
          tr td.no-activities,
          tr td.old {
            pointer-events: none;
            font-weight: normal;
            color: #999;
          }

          tr td.day:hover {
            background: none;
            font-weight: bold;
            color: #000;
          }

          tr td.has-activities {
            font-weight: bold;
            color: #000;
          }

          tr td.has-activities:before {
            content: "";
            display: inline-block;
            background-color: black;
            width: 3px;
            height: 3px;
            position: relative;
            bottom: -10px;
            left: 10px;
          }

          tr td.today:hover {
            background-color: #fde19a;
            background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
          }

          tr td.active {
            background-color: #3386f7;
            background-image: unset;
            color: $white;
            text-shadow: none;

            &:hover {
              background-color: #3386f7;
              background-image: unset;
            }
          }

          tr td.new {
            display: none;
          }

          tr td.old {
            visibility: hidden;
          }
        }
      }
    }
  }

  &.ca-datepicker-orientation-top {
    .ca-datepicker-top {
      display: inline-block;
    }
  }

  &.ca-datepicker-orientation-bottom {
    .ca-datepicker-bottom {
      display: inline-block;
    }
  }

  .ca-datepicker-top {
    position: absolute;
    right: -7px;
    bottom: -14px;
    color: #fff;
    display: none;
  }

  .ca-datepicker-bottom {
    position: absolute;
    right: -7px;
    top: -14px;
    color: #fff;
    display: none;
  }

  &.ca-datepicker-orientation-center {
    .ca-datepicker-bottom,
    .ca-datepicker-top {
      right: 0;
      left: calc(100% / 2);
    }
  }

  &.ca-datepicker-orientation-left {
    .ca-datepicker-bottom,
    .ca-datepicker-top {
      right: 0;
      left: 2px;
    }
  }
}
