.ca-month-picker {
  #ca-month-picker {
    padding-left: 10px;
    padding-right: 10px;

    .ca-month-picker-title {
      font-weight: bold;
      padding-bottom: 3px;
      display: inline-block;
      text-align: center;
      width: 100%;
      padding-top: 3px;
    }

    .ca-months {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-content: center;
      width: 100%;
      align-items: center;
      justify-items: center;

      span {
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        width: 70px;
        display: inline-block;
        text-align: center;

        &.past-month {
          pointer-events: none;
          cursor: default;
          opacity: 0.8;
        }
      }
    }
  }
}
