.gru-feedback-form {
  background-color: #fff;
  color: #737373;
  font-size: 15px;
  text-transform: initial;
  .feedback-container {
    display: grid;
    grid-template-rows: auto 135px;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 6px;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
    .feedback-header-panel {
      display: grid;
      grid-template-rows: auto auto auto;
      align-items: center;
      padding: 10px;
      padding-bottom: 0px;
      .note {
        line-height: 1.2;
        font-size: 13px;
        p {
          margin-bottom: 5px;
        }
      }
    }
    .feedback-body-panel {
      text-transform: capitalize;
      padding: 10px;
      font-size: 14px;
      .category-panel {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        .category {
          padding: 7px 5px;
          justify-content: center;
          line-height: 1.5;
        }
        .category-rating {
          padding: 7px 5px;
          justify-content: flex-end;
          display: flex;
          align-items: center;
          .row {
            margin: 0px;
            ul {
              margin: 0px;
              li {
                border-bottom: 0px;
                line-height: 1;
                padding: 3px;
              }
            }
          }
          .number-stars-label {
            display: none;
          }
        }
        .category-quality {
          padding: 7px 5px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .gru-radio {
            padding: 5px;
            .form-group {
              margin: 0px;
              label {
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .feedback-comments {
        padding: 7px 5px;
        label {
          width: 100%;
          font-weight: bold;
          .form-group {
            margin-bottom: 0px;
            font-weight: normal;
          }
        }
      }
    }
  }
  .feedback-fooder-panel {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    .next,
    .skip {
      padding: 10px;
      color: #fff;
      text-align: center;
      cursor: pointer;
    }
    .next {
      background-color: #0072bc;
      grid-column-start: 2;
    }
    .skip {
      background-color: #b8bfc4;
    }
    @media screen and (max-width: $screen-320) {
      .next,
      .skip {
        padding: 5px 10px;
      }
    }
  }
  @media screen and (max-width: $screen-380) {
    .feedback-container {
      .feedback-body-panel {
        .category-panel {
          .category-rating {
            .row {
              ul {
                padding: 0px;
              }
            }
          }
        }
      }
    }
  }
}
