.filter.gru-gut-filter {
  .gut-selector-container {
    display: grid;
    .category-selector {
      .category-header-container {
        color: #37424b;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.8;
        padding-bottom: 4px;
      }
      .categories-container {
        display: -webkit-box;
        .category-container {
          opacity: 0.5;
          color: #37424b;
          background: #fff;
          border-radius: 3px;
          border: 1px solid #37424b;
          height: 30px;
          line-height: 30px;
          padding: 0 8px;
          margin: 0 4px;
          cursor: pointer;

          &:hover,
          &.active {
            opacity: 1;
            color: $white;
            background-color: #37424b;
          }
        }
      }
    }
    .slide-level-selector {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .level-selector {
        .level-header-container {
          color: #37424b;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          opacity: 0.8;
          padding-bottom: 4px;
        }
        .level-items-container {
          height: 200px;
          max-height: 300px;
          overflow-y: auto;
          border: 1px solid;
          .level-item {
            height: 30px;
            line-height: 30px;
            color: #37424b;
            background-color: $white;
            padding-left: 8px;
            cursor: pointer;
            &:hover,
            &.active {
              color: $white;
              background-color: #37424b;
            }
          }
        }
      }
    }
  }
}
