.activities.add-performance-data {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;
  height: 90%;

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }

  .add-performance-data-container {
    background-color: $white;
    .add-data-header-container {
      display: grid;
      grid-template-columns: 32px 1fr auto;
      height: 56px;
      align-items: center;
      padding: 0 15px;
      column-gap: 15px;
      .icon-container {
        width: 22px;
        height: 16px;
        display: block;
        background-size: cover;

        &.assessment,
        &.assessment-external {
          background-image: url("../assets/gooru/images/add_assessment.svg");
        }

        &.collection,
        &.collection-external {
          background-image: url("../assets/gooru/images/add_collection.svg");
        }
      }
      .activity-info-container {
        display: grid;
        align-items: center;
        .date-container {
          font-size: 10px;
          font-style: italic;
          color: #37424b;
        }
        .activity-title-container {
          font-size: 16px;
          font-weight: bold;
          color: #37424b;
        }
      }

      .close-container {
        color: #37424b;
        opacity: 0.4;
        cursor: pointer;
      }
    }
  }
}
