.assessment-performance-data-by-upload-image {
  height: 100%;
  width: 100%;
  display: grid;
  background-color: #f1f3f7;
  padding: 15px;

  .panels {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 410px auto;
    grid-gap: 15px;

    .right-panel {
      background-color: #fff;
      width: 100%;
      height: 100%;
    }

    .left-panel {
      background-color: #fff;
      width: 100%;
      height: 100%;

      .collection-image-container {
        height: 230px;
        background-size: cover;
        background-position: center;
        display: block;
        position: relative;
        background-color: #fff;

        .collection-standards {
          position: absolute;
          bottom: 55px;
          left: 10px;
        }
      }
    }
  }
}
