.portfolio.gru-assessments-panel {
  .assessments-container {
    position: relative;
    .header-container {
      display: grid;
      grid-template-columns: 30px auto 1fr;
      column-gap: 8px;
      height: 48px;
      line-height: 48px;
      align-content: center;
      border-bottom: 1px solid;
      padding: 0 15px;
      background-color: rgba(83, 94, 103, 0.9);
      .icon {
        background-image: url(gooru/images/assessment-white.svg);
        width: 30px;
        height: 48px;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .title {
        color: $white;
        font-size: 14px;
        font-weight: bold;
      }
      .search-items-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-self: right;
        .filter-search {
          height: 55px;
          cursor: pointer;
          i.filter_list {
            color: $white;
            line-height: 55px;
          }
        }
        .input-search {
          display: grid;
          grid-template-columns: auto auto;
        }
      }
    }
    .body-container {
      padding: 0 15px;
      background-color: rgb(83, 94, 103);

      @media screen and (max-width: $screen-360) {
        padding: 0;
      }
      &.filter-populated {
        opacity: 0.2;
      }
    }
    .portfolio.gru-content-filters {
      top: 48px;
    }
  }
}
