.portfolio.gru-content-filters {
  position: absolute;
  width: 100%;
  background-color: $white;
  z-index: 99;
  .content-filters-container {
    .filters-header-label {
      font-size: 15px;
      color: #37424b;
      padding-left: 12px;
      border-bottom: 1px solid rgba(55, 66, 75, 0.1);
    }
    .filters-container {
      padding: 0 15px 15px 15px;
      max-height: 400px;
      overflow: auto;
      min-height: 165px;
      .date-range-filter-container {
        .date-range-selector {
          .date-range-label {
            color: #37424b;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            .info-icon {
              i.info {
                font-size: 13px;
                cursor: pointer;
              }
            }
          }

          .date-range-value {
            cursor: pointer;
          }
        }
        .date-range-filter {
          .ca-daterange-picker {
            position: unset;
            .ca-datepicker-body {
              left: 12px;
              top: unset;
              transform: unset;
              box-shadow: 0px 1px 11px 3px rgba(0, 0, 0, 0.13);
            }
          }
        }
      }

      .gut-selector {
        .gut-header-container {
          color: #37424b;
          font-size: 15px;
          font-weight: 700;
          text-transform: uppercase;
          .info-icon {
            i.info {
              font-size: 13px;
              cursor: pointer;
            }
          }
        }
        .gut-body-container {
        }
      }
    }

    .apply-filters {
      width: 100%;
      box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.3);
      background-color: #37424b;
      color: $white;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      line-height: 48px;
      cursor: pointer;
      display: block;
    }
  }
}
