<div class="panel-header">
  <div class="subject-name">{{subject.title}}</div>
  <div class="framework-title">{{framework}}</div>
</div>
<div class="domain-list">
  <div class="title">Domains</div>
  <ol>
    {{#each domains as |domain|}}
      <li>{{domain.domainName}}</li>
    {{/each}}
  </ol>
</div>
{{yield}}
