<div class="grade-list">
  {{#each taxonomyGrades as |taxonomyGrade|}}
    <div class="grade-container {{if (eq activeGrade.id taxonomyGrade.id) 'active-grade'}}">
      <span class="grade-title">{{taxonomyGrade.grade}}</span>
    </div>
  {{/each}}
</div>
