.milestone-report.student-milestone-report {
  position: fixed;
  top: 100%;
  z-index: 1031;
  left: 0;
  right: 0;
  margin: auto;
  background-color: $white;
  height: 100%;
  width: 768px;

  @media screen and (max-width: $screen-md) {
    width: 100%;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }

  .student-milestone-report-container {
    background-color: $white;
    .milestone-report-header-container {
      display: grid;
      grid-template-columns: 1fr 50px;
      justify-content: center;
      align-items: center;
      height: 50px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
      .title-container {
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        padding-left: 50px;
        justify-self: right;
        width: 100%;

        &.text-color-not-started {
          color: #e4e5ea;
        }

        &.text-color-0-59 {
          color: #f46360;
        }

        &.text-color-60-69 {
          color: #ed8e36;
        }

        &.text-color-70-79 {
          color: #faba36;
        }

        &.text-color-80-89 {
          color: #a8c99c;
        }

        &.text-color-90-100 {
          color: #4b9740;
        }
      }

      .close-container {
        cursor: pointer;
        justify-self: center;
      }
    }
  }
}
