<div class='timeLineRoot'>
    <div class='v-series-parent'>
        <div class='performance-v-view'>
            <div class="badge Oval-12">
                {{gru-icon name='equalizer'  }}
            </div>

            <div class='vbar'>
            </div>
        </div>
        {{player/chrono-performance/chrono-timeline performanceSummary=model.performanceSummary timeData=model.timeData scrollLeft=(action 'scrollLeft') scrollRight=(action 'scrollRight')}}
    </div>
    <div class="bar-charts bottom-perf-line" data-content="{{performancePercentage}}% Completed">
        {{#if model}}
            <div class="completion-chart">
                {{charts/gru-x-bar-chart data=model.barchartdata mileStone=mileStone mileStoneHandler=(action 'mileStoneHandler')}}
            </div>
        {{/if}}
    </div>
</div>