.content .controller.teacher.class.class-activities {
  position: inherit;
  @media only screen and (max-width: $screen-767) {
    .ca-panel {
      grid-template-columns: none;

      .ca-left-panel {
        .left-panel-container {
          grid-template-rows: none;

          .left-panel-content {
            padding: 0;

            .dca-content-container {
              .ca-schedule-items-header {
                .ca-add-content {
                  border-radius: 0;
                  border: 0;
                }
              }
            }
          }
        }
      }
    }

    .ca-datepicker-schedule-container {
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      height: 100%;
    }
  }
}

body.teacher_class_class-activities {
  @media only screen and (max-width: $screen-xs) {
    .app-container {
      padding-top: 102px;
    }
  }
}
