.controller.teacher.class.class-settings {
  .sec-col-layout {
    display: block;
  }
  @media screen and (max-width: $screen-xs) {
    padding-bottom: 55px;
    .sec-col-layout {
      .sec-rows-layout {
        &.left-panel,
        &.right-panel {
          margin: 0;
        }

        .class-sec-cont {
          .class-settings-sec {
            padding-left: 0;

            .class-head-row-wrap {
              grid-template-columns: 1fr;

              .sec-head-class-name {
                order: 2;
                padding-left: 10px;
                height: unset;
                padding-right: 20px;
              }

              .class-code {
                width: unset;
                height: 60px;

                .class-code-wrap {
                  width: 100%;
                  flex-direction: row;
                  justify-content: space-evenly;
                }
              }
            }

            .language-row,
            .sub-sec-coteach {
              padding-left: 10px;
            }
          }
        }

        .class-layout-btn {
          .btn-panel {
            display: block;

            .class-btn {
              margin-top: 10px;
            }
          }
        }
      }

      .student-sec-cont {
        .student-settings-sec {
          table {
            .student-info-container {
              display: block;
            }

            .student-info-container {
              .student-name {
                padding-right: 5px;

                span {
                  word-break: break-word;
                }
                @include ellipsis(
                  $font-size: 13px,
                  $line-height: 1.2,
                  $lines-to-show: 2
                );
              }
            }

            .actions-container {
              span.menu-icon {
                color: $gray-dove;
                display: block;
                height: 22px;
                i {
                  pointer-events: none;
                }
              }

              .actions-btn {
                position: absolute;
                background: #fff;
                width: 100px;
                border-radius: 4px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
                padding: 5px;
                right: -102px;
                z-index: 1;

                &.active {
                  animation: slide 0.5s forwards;
                }
              }
              @keyframes slide {
                100% {
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

body.teacher_class_class-management {
  @media only screen and (max-width: $screen-xs) {
    .app-container {
      padding-top: 102px;
    }
  }
}
