.controller.teacher.class.class-activities {
  @media screen and (max-width: $screen-600) {
    .panel.welcome {
      height: max-content;

      .panel-body {
        padding: 15px;

        .description {
          width: 90%;
        }
      }
    }

    .dca-content-container {
      .dca-nav-to-todays-dca-list.active {
        visibility: hidden;
      }

      .dca-content-list-container {
        padding-left: 5px;
        padding-right: 5px;
        height: 100%;

        .dca-todays-container {
          .dca-todays-action-list-container {
            .dca-todays-info-action-container {
              .dca-info-container {
                .info {
                  p {
                    padding-right: 0;
                    line-height: 1;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
