.controller.teacher.class.class-activities {
  .dca-content-container {
    .dca-list-container {
      padding: 0;
      height: calc(100vh - 105px);
      padding-bottom: 50px;
    }
  }
  @media screen and (max-width: $screen-600) {
    .dca-content-container {
      .ca-date-and-add-content {
        grid-template-columns: 1fr;
      }
    }
  }
}
