.class {
	.content {
		.teacher-class-search-content-pull-up {
			width: 100%;

			.search-container {
				width: 100%;

				.search-header {
					.search-pullup-close {
						width: 38px;
					}
				}
				@media (orientation: landscape) {
					.search-header {
						.search-right-menu {
							.search-input-container {
								#search-content {
									width: 444px !important;
								}
							}
						}
					}
				}
				@media screen and (min-width: $screen-sm) {
					.search-header {
						.search-right-menu {
							.search-input-container {
								#search-content {
									width: 444px !important;
								}
							}
						}
					}
				}

				.search-header {
					.search-filter-container {
						font-size: 10px;
						width: 140px;
						display: inherit;
					}

					.search-right-menu {
						.search-input-container {
							#search-content {
								width: 200px;
							}
						}
					}
				}
			}
		}
	}
}
