.student_class_student-learner-proficiency,
.teacher_class_student-learner-proficiency {
  .student-proficiency-container {
    .inspect-competency {
      .competency-info-pull-up {
        &.open {
          height: 385px;
        }

        &.expand {
          height: calc(100% - 51px);
        }

        .body {
          .competency-content-report {
            .competency-performance {
              .competency-name {
                min-height: 230px;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-sm - 1) {
    .student-proficiency-container {
      grid-template-columns: none;
      padding: 0;
      margin-top: 50px;

      .pull-up-container,
      .taxonomy-grades {
        display: none;
      }
    }
  }
  @media only screen and (min-width: $screen-sm) and (max-width: $screen-in-1024) {
    .student-proficiency-container {
      grid-template-columns: 1fr;
      padding: 0;

      .pull-up-container {
        display: none;
      }
    }
  }
}
