.controller.teacher.class.class-activities {
  .dca-content-container {
    .ca-date-and-add-content {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: 1px solid #ccc;
    }

    .dca-panel-container {
      .dca-panel-actions-performance {
        .dca-panel-actions {
          margin: 0 auto;
        }
      }
    }
  }
  @media screen and (min-width: $screen-600 + 1) and (max-width: $screen-875) {
    .dca-panel-container {
      .ca-panel-container-1 {
        grid-template-columns: 50% 15% 35%;

        .dca-panel-actions-performance {
          grid-template-columns: 1fr max-content;

          .dca-panel-performance {
            width: 36px;
          }

          .dca-panel-actions {
            grid-template-columns: 25px 25px 30px 35px 25px;
          }
        }
      }
    }

    .dca-content-container {
      .dca-list-container {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  .dca-content-container {
    .dca-list-container {
      height: calc(100vh - 140px);
    }
  }
}
