.controller.profile>.content .panel.add-content {
  width: 100%;
}
@media screen and (max-width: $screen-568) {
  .controller {
    .content {
      .controller {
            width: 100vw;
        .rubrics {
            display: grid;
            justify-content: center;
      }
    }
  }
}
}
@media screen and (min-width: $screen-sm) {
  .controller {
    .content {
      .controller {
        .rubrics {
          grid-template-columns: auto auto auto !important;
      }
    }
  }
}
}
@media (orientation: landscape) {
  .controller {
  .content {
      .controller {
        width: 100vw;
        .rubrics {
          width: 100%;
          display: grid;
          grid-template-columns: auto auto;
          justify-content: center;
          &:before {
              display: none;
        }
      }
    }
  }
}
}
