{{#unless competency.isMappedWithFramework}}
  <div class="no-framework-message">
    {{t 'not-covered-in-fw-msg' framework=classFramework}}
  </div>
{{/unless}}
<div class="competency-performance">
  <div class="competency-name">
    {{competencyName}}
  </div>
  {{#if (and competency (not isPlayerProficiency))}}
    <div class="signature-content">
      {{reports/pull-up/signature-content-report showGutCompetency=showGutCompetency classFramework=classFramework userId=userId domainCompetencyList=domainCompetencyList collectionPerformances=collectionPerformances showSignatureAssessment=showSignatureAssessment competency=competency isStudent=isStudent}}
    </div>
  {{/if}}
</div>

{{#if isShowActivityPullup}}
  {{reports/pull-up/activity-list
    activityContents=activityContents
    activityContentType=activityContentType
    activityTotalHitCount=activityTotalHitCount
    showPullUp=isShowActivityPullup
    onResetPullUpData="onResetPullUpData"
    onClickShowMoreActivity="onClickShowMoreActivity"
  }}
{{/if}}
