<div class="competency-performance">
  <div class="competency-name">
    {{#if classFramework}}
      {{classFramework}}:
    {{/if}}
    {{competency.competencyName}}
  </div>
  {{#if (and competency (not isPlayerProficiency))}}
    <div class="signature-content">
      {{reports/pull-up/signature-content-report userId=userId domainCompetencyList=domainCompetencyList collectionPerformances=collectionPerformances showSignatureAssessment=showSignatureAssessment competency=competency isStudent=isStudent}}
    </div>
  {{/if}}
</div>

{{#if isShowActivityPullup}}
  {{reports/pull-up/activity-list
    activityContents=activityContents
    activityContentType=activityContentType
    activityTotalHitCount=activityTotalHitCount
    showPullUp=isShowActivityPullup
    onResetPullUpData="onResetPullUpData"
    onClickShowMoreActivity="onClickShowMoreActivity"
  }}
{{/if}}
