<div class="iframe-player-container">
  {{#if isLoading}}
    <div class="loading-panel">
      <span>{{playerContent.title}}</span>
      <i class="loding-icon center-block"></i>
      <span>Loading...</span>
    </div>
  {{/if}}
  <div class="iframe-container {{if isLoading '' 'not-loading'}}">
    <iframe src="{{rootURL}}{{playerUrl}}"></iframe>
  </div>
</div>
