.class-activities.gru-content-search {
  .content-search-container {
    .content-source-container {
      display: grid;
      grid-template-columns: repeat(4, auto);
      column-gap: 8px;
      justify-content: space-around;
      align-items: center;
      height: 45px;
      border-bottom: 1px solid #666;
      .content-source {
        font-size: 13px;
        color: #666;
        cursor: pointer;
        &.active,
        &:hover {
          font-weight: bold;
        }
      }
    }
    .content-selector-container {
      display: grid;
      grid-template-columns: auto 1fr auto;
      column-gap: 8px;
      padding: 0 5px;
      height: 40px;
      align-items: center;
      .content-types-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 8px;
        align-items: center;
        .content-type {
          cursor: pointer;
          .type-label {
            font-size: 13px;
            color: #666;
          }
          &.active .type-label,
          &:hover .type-label {
            font-weight: bold;
          }

          &.add-external-activity {
            display: grid;
            i.add {
              font-size: 20px;
            }
          }
        }
      }

      .search-content-container {
        display: grid;
        grid-template-columns: 1fr auto;
        input#search-content {
          font-size: 15px;

          &:focus,
          &:active {
            border: none;
            outline: none;
          }
        }
        .search-icon {
          display: grid;
          text-align: center;
          cursor: pointer;
          i.search {
            font-size: 20px;
          }
        }
      }

      .filter-container {
        display: grid;
        align-items: center;
        cursor: pointer;
        i.filter_list {
          font-size: 20px;
        }
      }
    }

    &.disable-content-selector {
      .content-source-container {
        border: none;
      }
      .content-selector-container {
        display: none;
      }
    }
  }
}
