.class-activities.gru-class-activities-listing {
  width: 95%;
  margin: 8px auto;

  .class-activities-container {
    display: grid;
    grid-row-gap: 3px;

    .header-container {
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
      position: relative;

      .activity-tab {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 8px;
        align-items: center;
        text-align: center;
        padding: 0 40px;

        .schedule-icon {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          padding: 5px;
          opacity: 0.6;
          i {
            height: 35px;
            line-height: 35px;
            padding-left: 10px;
          }

          &.active {
            background-color: #2196f3;
            color: #fff;
            opacity: 1;
            pointer-events: none;
          }
        }

        .unscheduled-activity-selector {
          justify-content: center;
          height: 100%;
          width: 100%;
          opacity: 0.6;
          cursor: pointer;
          align-items: center;
          display: flex;
          cursor: pointer;

          i {
            height: 45px;
            line-height: 45px;
            padding-left: 10px;
          }

          &.active {
            opacity: 1;
            background-color: #2196f3;
            color: #fff;
            pointer-events: none;
          }
        }

        .items-to-grade-selector {
          display: flex;
          opacity: 0.6;
          cursor: pointer;
          padding: 5px;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          .grading-icon {
            width: 22px;
            height: 22px;
            background-size: 22px;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            margin-right: 3px;
            background-image: url("../assets/gooru/images/add_rubric.svg");
            margin-left: 10px;
          }

          &.active {
            background-color: #2196f3;
            color: white;
            opacity: 1;
            pointer-events: none;

            .grading-icon {
              background-image: url("../assets/gooru/images/add_rubric_white.svg");
            }
          }
        }
      }

      .filters {
        display: grid;
        grid-template-columns: auto auto;
        padding: 0 10px;
        border-top: 1px solid #666;

        .activities {
          display: flex;
          width: 100%;
          align-items: center;
          color: #35424b;
          height: 100%;

          span {
            cursor: pointer;
          }

          &.active {
            opacity: 1;
            pointer-events: none;
          }
        }

        .activity-date-range-selector {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 5px;
          cursor: pointer;
          padding: 0 10px 0 20px;

          .dropdown-icon {
            display: flex;
          }
        }
      }

      .date-range-picker-container {
        display: none;
        position: absolute;
        top: 90px;
        z-index: 15;
        background-color: #fff;
        display: none;
        width: 100%;

        .date-range-selector {
          display: grid;
          grid-template-columns: repeat(3, auto);
          justify-content: space-around;
          padding: 5px;

          span {
            &.active,
            &:hover {
              color: #000;
              cursor: pointer;
            }

            &.disabled {
              pointer-events: none;
            }
          }
        }

        .backdrop {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: -9;
          cursor: pointer;
          opacity: 0.8;
          background-color: #000;
        }

        &.open {
          display: block;
        }

        .ca-month-picker {
          background-color: #fff;
        }

        .ca-date-picker-container,
        .ca-month-picker,
        .ca-week-picker-container {
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13),
            -2px 2px 3px rgba(0, 0, 0, 0.13);

          .ca-date-nav-container,
          .ca-week-nav-container {
            height: 40px;
            z-index: 2;
            background-color: #fff;

            .ca-date-picker-toggle {
              pointer-events: none;
              font-size: 20px;

              i {
                display: none;
              }
            }
          }

          .ca-datepicker-container,
          .ca-weekpicker-container {
            display: grid;
            padding-bottom: 0;

            .ca-datepicker-today {
              height: 40px;
              box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
              background-color: #3486f7;
            }

            #ca-datepicker,
            #ca-weekpicker {
              grid-row-start: 1;
              padding: 10px 20px 20px;
              //NOTE overwritting style for enabling all days to be clickable
              .datepicker .table-condensed tr td.no-activities {
                pointer-events: none;
              }

              &.weekly {
                .datepicker {
                  .table-condensed {
                    tbody tr {
                      &.no-activities {
                        pointer-events: none;
                      }

                      &.week-active,
                      &:hover {
                        border-radius: 50px;
                        background-color: #d2e3fc;

                        td {
                          color: #3486f7;

                          &.active {
                            background: none;
                            width: auto;
                            height: auto;

                            &:before {
                              content: "";
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .datepicker-inline {
                .datepicker-days {
                  .table-condensed {
                    thead {
                      tr:nth-child(2) {
                        display: grid;
                        width: 100%;
                        justify-content: center;
                        grid-template-columns: repeat(7, 1fr);

                        th.dow {
                          height: 40px;
                          width: 40px;
                          justify-self: center;
                        }
                      }
                    }

                    tbody {
                      tr {
                        display: grid;
                        width: 100%;
                        justify-content: center;
                        grid-template-columns: repeat(7, 1fr);

                        td {
                          height: 36px;
                          width: auto;
                          justify-self: center;
                          margin: auto;

                          &.has-activities:before {
                            position: relative;
                            left: 50%;
                            transform: translateX(-50%);
                          }

                          &.active {
                            background-color: #d2e3fc;
                            background-image: -webkit-linear-gradient(
                              top,
                              #d2e3fc,
                              #d2e3fc
                            );
                            border-radius: 50%;
                            display: flex;
                            margin: auto;
                            align-items: center;
                            justify-content: center;
                            color: #3486f7;
                            width: 40px;
                            height: 40px;

                            &:before {
                              content: none;
                            }
                          }

                          &.today {
                            background-color: #3486f7;
                            background-image: -webkit-linear-gradient(
                              top,
                              #3486f7,
                              #3486f7
                            );
                            border-radius: 50%;
                            display: flex;
                            margin: auto;
                            align-items: center;
                            justify-content: center;
                            color: #fff;
                            width: 40px;
                            height: 40px;
                            pointer-events: auto;

                            &:before {
                              content: none;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .activities-content {
      background-color: #fff;
      border-radius: 4px;
      height: 100%;

      .contents-selector {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 1px;
        height: 100%;

        .content-selector {
          opacity: 0.6;
          padding: 10px;

          .icon {
            width: 20px;
            height: 20px;
            background-size: 20px;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;

            &.assessment-icon {
              background-image: url("../assets/gooru/images/add_assessment.svg");
            }

            &.collection-icon {
              background-image: url("../assets/gooru/images/add_collection.svg");
            }

            &.offline-activity-icon {
              background-position: 2px 2px;
              background-image: url("../assets/gooru/images/offline.svg");
            }
          }

          &.active {
            background-color: #2196f3;
            opacity: 1;

            i {
              &.assessment-icon {
                background-image: url("../assets/gooru/images/assessment-white.svg");
              }

              &.collection-icon {
                background-image: url("../assets/gooru/images/collection-white.svg");
              }

              &.offline-activity-icon {
                background-size: 26px;
                background-position: center;
                background-image: url("../assets/gooru/images/offline-white.svg");
              }
            }
          }
        }
      }
    }

    .body-container {
      background-color: $white;
      box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
      border-radius: 4px;
      height: calc(100vh - 120px);
      overflow-y: auto;

      &.content-selecter {
        height: calc(100vh - 160px);

        .list-view {
          display: grid;
        }
      }

      .activities-cards-container {
        display: flex;
        flex-flow: wrap row;

        &.card-view {
          .class-activities {
            width: 50%;
            display: grid;
            justify-content: center;
          }
        }

        &.list-view {
          width: 100%;
          justify-content: normal;
          margin-bottom: 5px;

          .added-date {
            font-size: 15px;
            font-weight: bold;
            padding: 0 10px;
            display: grid;
            grid-template-columns: max-content auto;
            align-items: center;
            grid-gap: 10px;
            background-color: #eeeeee;

            hr {
              border-top: 1px solid #4e5e67;
              width: 100%;
            }
          }
        }

        .plan-activities-msg {
          padding: 15px;
          width: 100%;
          text-align: center;
          font-size: 18px;
          line-height: 1.2;
        }
      }
    }
  }

  @media screen and (max-width: $screen-sm) {
    height: inherit;
    .class-activities-container {
      height: inherit;
      .header-container {
        .activity-tab {
          padding: 0;
          column-gap: 0;
          .items-to-grade-selector {
            .grading-icon {
              display: none;
            }
          }
          i {
            display: none;
          }
        }
        .filters {
          .activities > span {
            display: none;
          }
        }
      }
      .body-container {
        &.content-selecter {
          height: calc(100% - 2px);
        }
      }
    }
  }

  @media screen and (max-width: $screen-xs) {
    width: 100%;
    margin: 0;
  }
}
