.chrono-header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 70px;

  .timeline-container {
    display: grid;
    grid-template-columns: 60px 1fr 60px;

    .end-date,
    .start-date {
      font-size: 12px;
      font-weight: bold;
      justify-content: center;
      display: flex;
      align-items: center;
      color: #211238;
    }

    .timeline-actvities {
      height: 70px;
      width: 100%;
      display: grid;
      align-items: center;
      overflow-x: auto;

      .activities {
        height: 100%;
        width: auto;
      }

      .active {
        stroke: #359649;
        fill: #fff;
        r: 30;
      }

      .suggestion-activity {
        r: 10;
        fill: #f9944b;
      }

      .activity {
        r: 10;
        fill: #0094dc;
      }

      .suggestion-curve,
      .suggestion-line {
        stroke-width: 2;
        fill: none;
        stroke: #f9944b;
      }

      .curve,
      .line {
        stroke-width: 2;
        stroke: #0094dc;
        fill: none;
      }

      .active-assessment {
        background-image: url("gooru/images/assessment-white.svg");
        display: block;
        width: 36.7px;
        background-color: green;
        height: 27.5px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      .active-collection {
        background-image: url("gooru/images/navigation_collection_selected.svg");
        display: block;
        width: 36.7px;
        background-color: green;
        height: 27.5px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }

      %bg-container {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        background-position: center;
        cursor: pointer;
      }

      .assessment-img {
        background-image: url("gooru/images/assessment-white.svg");
        @extend %bg-container;
      }

      .collection-img {
        background-image: url("gooru/images/navigation_collection_selected.svg");
        @extend %bg-container;
      }
    }
  }

  .performance {
    display: flex;
    cursor: pointer;

    .score {
      height: 30px;
      font-size: 22px;
      font-weight: bold;
      line-height: normal;
      margin: auto;
      color: $white;
    }
  }
}
