@media screen and (min-width: $screen-1024) and (min-height: $screen-sm) {
  .gru-external-assessment-page {
    background-position: right !important;
  }
}
@media screen and (min-width: $screen-1024) and (min-height: $screen-1366) {
  .gru-external-assessment-page {
    background-position: left !important;
  }
}
.gru-external-assessment-page {
  background-image: url("gooru/assessment-start-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  display: flex;
  .external-assessment-landing-page {
    display: flex;
    padding: 30px;
    align-items: center;
    width: 100%;
    .external-assessment-card {
      background-color: $white;
      width: 45%;
      border: 1px solid #868585;
      .card-container {
        display: grid;
        grid-template-rows: 100px auto;
        color: $white;
        text-transform: capitalize;
        .header-panel {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          padding: 15px 20px;
          .header-content {
            display: grid;
            grid-template-rows: auto 30px;
            height: 100%;
            .title {
              font-size: 20px;
              align-items: center;
              display: flex;
              font-weight: 600;
            }
            .author-by {
              font-size: 17px;
              color: $gray-harder;
            }
          }
        }
        .body-panel {
          height: 100%;
          background-color: $white;
          .body-content {
            display: grid;
            grid-template-rows: auto;
            .description-panel {
              display: grid;
              grid-template-rows: auto 50px;
              padding: 10px 15px;
              .description p {
                color: #576ca2;
                font-size: 15px;
                margin-bottom: 10px;
                line-height: 1.6;
              }
              .details {
                display: grid;
                grid-template-columns: auto 150px;
                .taxonomy {
                  .gru-taxonomy-tag-list {
                    .gru-taxonomy-tag {
                      background-color: $charcoal-grey;
                      padding: 5px;
                      .tag-label {
                        color: $white;
                        font-size: 12px;
                        font-weight: bold;
                      }
                      .tag-caption {
                        color: $pre-bg;
                      }
                    }
                  }
                }
                .start-button {
                  justify-content: flex-end;
                  display: flex;
                  align-items: center;
                  .start {
                    background-color: #00c451;
                    padding: 7px 5px;
                    text-align: center;
                    font-size: 16px;
                    width: 80%;
                    text-transform: uppercase;
                    font-weight: 500;
                    cursor: pointer;
                    &.disabled {
                      pointer-events: none;
                      opacity: 0.5;
                    }
                  }
                }
              }
            }
            .content-panel {
              padding: 10px 15px;
              color: $charcoal-grey-two;
              font-size: 15px;
              .score-type-selector {
                display: flex;
                padding: 8px 0;
                .percentage {
                  margin-right: 15px;
                }
              }
              .score-editor {
                .percentage-editor {
                  input {
                    height: 37px;
                    width: 100px;
                    opacity: 0.8;
                    font-size: 35px;
                    font-weight: bold;
                    text-align: center;
                    color: $charcoal-grey-two;
                    &:focus {
                      outline: none;
                    }
                  }
                  .percentage-symbol {
                    font-size: 35px;
                    text-align: right;
                    font-weight: bold;
                    color: $dark-400;
                  }
                }
                .fraction-editor {
                  display: flex;
                  input {
                    width: 80px;
                    opacity: 0.4;
                    font-size: 35px;
                    font-weight: bold;
                    text-align: center;
                    color: $charcoal-grey-two;
                    &:focus {
                      outline: none;
                    }
                  }
                  .fraction-of {
                    height: 64px;
                    line-height: 100px;
                    font-size: 20px;
                    text-align: center;
                    color: $charcoal-grey-two;
                    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
                  }
                }
                .score-label {
                  font-size: 12px;
                  font-weight: bold;
                  color: $charcoal-grey-two;
                  text-transform: uppercase;
                  margin-top: 4px;
                }
                .error {
                  color: $red-400;
                  font-size: 10px;
                }
              }
              .score-entered {
                .score {
                  font-size: 80px;
                  font-weight: bold;
                  text-align: center;
                  color: $charcoal-grey-two;
                  height: 80px;
                  line-height: 80px;
                  span {
                    font-weight: normal;
                  }
                }
                .score-label {
                  font-size: 12px;
                  font-weight: bold;
                  color: $charcoal-grey-two;
                  text-transform: uppercase;
                  margin-top: 4px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
