@media screen and (min-width: $screen-1024) and (min-height: $screen-sm) {
  .gru-external-collection-page {
    background-position: right !important;
  }
}

@media screen and (min-width: $screen-1024) and (min-height: $screen-1366) {
  .gru-external-collection-page {
    background-position: left !important;
  }
}

.gru-external-collection-page {
  background-image: url("gooru/collection-start-page.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
  background-position: inherit;
  .external-collection-landing-page {
    .external-collection-card {
      width: 499px;
      min-height: 315px;
      opacity: 0.9;
      border-radius: 4px;
      background-color: $white;
      position: absolute;
      top: 137px;
      left: 75px;
      padding: 30px;
      .header {
        max-height: 155px;
        .title {
          $font-size: 34px;
          $line-height: 1.09;
          $lines-to-show: 2;
          color: $dark-500;
          margin-bottom: 15px;
          @include ellipsis(
            $font-size: $font-size,
            $line-height: $line-height,
            $lines-to-show: $lines-to-show
          );
        }
        .taxonomy {
          .gru-taxonomy-tag {
            background-color: $charcoal-grey;
            cursor: pointer;
            .standard-tag {
              color: $white;
            }
          }
        }
      }
      i {
        font-size: 20px;
        margin-left: 5px;
        display: inline-block;
        vertical-align: middle;
        color: #e3e5ea;
        font-size: 28px;
        cursor: default;
        margin: 0 10px 0 0;
        &.resource {
          background-image: url("gooru/images/add_resource_icon.svg");
          width: 20px;
          height: 20px;
          background-size: 19px;
          background-repeat: no-repeat;
        }
        &.add_question {
          background-image: url("gooru/images/add_question.svg");
          width: 20px;
          height: 20px;
          background-size: 19px;
          background-repeat: no-repeat;
        }
      }
      span {
        margin-right: 5px;
        font-weight: 600;
      }
      .body {
        padding-top: 15px;
        position: relative;
        min-height: 80px;
        .time-spent {
          font-size: 22px;
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input {
            width: 100px;
            opacity: 0.9;
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            color: $charcoal-grey-two;
            &:focus {
              outline: none;
            }
          }
          .fraction-of {
            height: 64px;
            line-height: 100px;
            font-size: 20px;
            text-align: center;
            color: $charcoal-grey-two;
            border-bottom: 1px solid rgba(151, 151, 151, 0.3);
          }
        }
        .time-label {
          clear: both;
          font-size: 12px;
          font-weight: bold;
          color: $charcoal-grey-two;
          text-transform: uppercase;
          margin-top: 4px;
        }
        .description {
          $font-size: 12px;
          $line-height: 1.5;
          $lines-to-show: 4;
          color: $charcoal-grey-two;
          @include ellipsis(
            $font-size: $font-size,
            $line-height: $line-height,
            $lines-to-show: $lines-to-show
          );
        }
        .score-type-selector {
          display: flex;
          padding: 8px 0;
          .percentage {
            margin-right: 15px;
          }
          &.disabled {
            opacity: 0.3;
            pointer-events: none;
          }
        }
        .time-spent {
          &.disabled {
            opacity: 0.3;
            pointer-events: none;
            .hours,
            .mins {
              pointer-events: none;
            }
          }
          .percentage-editor {
            input {
              height: 37px;
              width: 100px;
              opacity: 0.8;
              font-size: 35px;
              font-weight: bold;
              text-align: center;
              color: $charcoal-grey-two;
              &:focus {
                outline: none;
              }
            }
            .percentage-symbol {
              font-size: 35px;
              text-align: right;
              font-weight: bold;
              color: $dark-400;
            }
          }
          %input-properties {
            width: 80px;
            opacity: 0.9;
            font-size: 35px;
            font-weight: bold;
            text-align: center;
            color: $charcoal-grey-two;
          }
          .time-spent {
            display: flex;
            font-size: 22px;
            .hours,
            .mins {
              @extend %input-properties;
              &:focus {
                outline: none;
              }
            }
            .fraction-of {
              height: 64px;
              line-height: 100px;
              font-size: 20px;
              text-align: center;
              color: $charcoal-grey-two;
              border-bottom: 1px solid rgba(151, 151, 151, 0.3);
            }
          }
          .disabled-editor {
            display: flex;
            input {
              @extend %input-properties;
              &:focus {
                outline: none;
              }
            }
          }
          .time-label {
            font-size: 12px;
            font-weight: bold;
            color: $charcoal-grey-two;
            text-transform: uppercase;
            margin-top: 4px;
          }
          .error {
            color: $red-400;
            font-size: 10px;
            width: max-content;
            margin-right: 22%;
          }
        }
        .entered-time {
          .time {
            font-size: 80px;
            font-weight: bold;
            text-align: center;
            color: $charcoal-grey-two;
            height: 80px;
            line-height: 80px;
            span {
              font-weight: normal;
            }
          }
          .time-label {
            font-size: 12px;
            font-weight: bold;
            color: $charcoal-grey-two;
            text-transform: uppercase;
            margin-top: 4px;
            text-align: center;
          }
        }
      }
      .footer {
        padding-top: 15px;
        .actions {
          display: flex;
          .btn {
            width: 76px;
            height: 36px;
            border-radius: 3px;
            margin: 8px;
          }
          .cancel {
            margin-left: 130px;
            background-color: $light-200;
            &.entered-time {
              margin-left: 180px;
            }
          }
          .start,
          .submit {
            background-color: $blue-400;
            color: $white;
            &.disabled {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}

.study-player-external {
  .player-container {
    @media screen and (min-width: $screen-sm) and (min-height: $screen-1024) {
      height: 100% !important;
    }
    .player {
      .gru-external-collection-page {
        height: 100%;
        width: 100%;
      }
    }
    @media screen and (min-width: $screen-sm) {
      .player {
        .gru-external-collection-page {
          background-position: left !important;
        }
      }
    }
    @media screen and (min-width: $screen-568) {
      overflow: auto;
      height: 144vh;
      .player {
        height: 100%;
        padding-top: 92px;
        .gru-external-collection-page {
          width: 100%;
          height: 100%;
          background-position: right;
          .external-collection-landing-page {
            padding-bottom: 55px;
            .external-collection-card {
              padding: 15px;
              .body {
                padding-top: 0px;
              }
              position: unset !important;
              margin: 0 auto;
              .footer {
                padding-top: 6px;
              }
            }
          }
          .header {
            .title {
              font-size: 19px;
            }
          }
        }
      }
    }
    @media screen and (max-width: $screen-md) {
      .gru-external-collection-page {
        display: grid;
        justify-content: center;
        vertical-align: baseline;
        align-items: center;
        grid-template-columns: auto;
        .external-collection-landing-page {
          @media screen and (max-width: $sm-width-max) {
            .external-collection-card {
              width: 296px;
              min-height: 315px;
              padding: 20px;
              margin: 0 auto !important;
              position: inherit;
              .header {
                .title {
                  font-size: 17px;
                }
              }
              .footer .actions .cancel {
                margin-left: 52px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $screen-568) {
  .player-external {
    .app-container {
      .external-player-container {
        .player-container {
          .gru-external-collection-page {
            display: flex;
            .external-collection-landing-page {
              margin: auto;
              .external-collection-card {
                width: calc(100% - 40px);
                position: unset;
                margin: 0 auto;
                padding: 20px;
                .header {
                  .title {
                    font-size: 22px;
                  }
                }
                .footer {
                  .actions {
                    .cancel {
                      margin-left: 0px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-568) and (max-width: $screen-md) {
  .player-external {
    .app-container {
      min-height: 370px;
      .external-player-container {
        .player-container {
          .gru-external-collection-page {
            display: flex;
            height: 100vh;
            .external-collection-landing-page {
              margin: auto;
              .external-collection-card {
                width: 499px;
                position: unset;
                margin: 0 auto;
                padding: 30px;
                .body {
                  padding-top: 0px;
                }
                .footer {
                  padding-top: 0px;
                }
                .header {
                  .title {
                    font-size: 22px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.gru-external-assessment-page {
  .external-assessment-landing-page {
    .external-assessment-card {
      .body {
        .score-entered {
          .score {
            font-size: 39px;
          }
        }
      }
    }
  }
}
