.student-collection {
  .hide-report-header {
    .navbar-fixed-top {
      display: none;
    }
  }
  .player-title-panel {
    height: 64px;
    background-color: #0072bc;
    margin: 0 181px 0 180px;
    color: $white;
    .back-to-collection {
      width: 75px;
      height: 64px;
      border-right: 2px solid #e3e5ea;
      cursor: pointer;

      .nav-icon-container {
        i {
          margin-left: -47px;
          margin-top: 19px;
          color: $white;
        }
      }
    }

    .content-title {
      width: calc(100% - 200px);
      height: 64px;
      .title-info {
        height: 64px;
      }
      i {
        background: url("gooru/images/navigation_collection_selected.svg");
        display: inline-block;
        width: 20px;
        height: 15px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 25px;
      }

      &.assessment {
        i {
          -webkit-mask-image: url("gooru/images/navigation_assessment.svg");
          mask-image: url("gooru/images/navigation_assessment.svg");
          background-image: none;
          background-color: $white;
        }
      }

      .title {
        width: calc(100% - 60px);
        position: relative;
        @include translateY(-50%);
        top: 50%;
        $line-height: 1.3;
        $lines-to-show: 2;
        @include ellipsis(
          $font-size: 16px,
          $line-height: $line-height,
          $lines-to-show: 2,
          $excerpt-bg: $blue-400
        );
      }
    }
    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      margin: 0 108px 0 110px;
    }
    @media only screen and (max-width: $sm-width-max) {
      margin: 0;
    }
    @media only screen and (min-width: $sm-width-max) and (max-width: $screen-sm) {
      margin: 0 51px 0 70px;
    }
    @media only screen and (min-width: $screen-sm) and (max-width: $screen-md) {
      margin: 0 65px 0 70px;
    }
  }

  .back-button {
    height: 1px;
    z-index: 999;
    margin-left: 150px;
    position: absolute !important;
    padding: 10px 9px 12px 33px;
    @media (min-width: $screen-sm-min) {
      padding: 10px 9px 12px 33px;
    }
    @media (min-width: $screen-md-min) {
      padding: 10px 9px 12px 33px;
    }
  }
}
