<div class="diagnosis-of-knowledge">
  <div class="diagnosis-of-knowledge-panel">
    <h2>Let's Establish your Skyline </h2>
    <p>
      Please answer the following questions to establish your current location in Math.
    </p>
    <p>
      Your math course will be personalized based on your skyline and the target destination that you want to reach in Math.
    </p>
  </div>
</div>
