<div class="student-class-proficiency">
    {{student/class/student-inspect-destination
      reDrawChart=reDrawChart
      skylineInitialState=skylineInitialState
      taxonomyGrades=taxonomyGrades
      classId=classId courseId=courseId
      course=course
      onMoveNext="onMoveNext"
      classGrade=classGrade
      subjectCode=subjectCode
      class=class
      subject=subject}}
</div>
