<div class="student-class-proficiency">
    {{student.class.student-inspect-destination taxonomyGrades=taxonomyGrades classId=classId courseId=courseId course=course onMoveNext="onMoveNext" classGrade=classGrade subjectCode=subjectCode}}
</div>
