<div class="setup-in-complete">
  <div class="setup-in-complete-panel">
    <h2>Waiting for your teacher to establish your Skyline. </h2>
    <div class="description">
      It looks like your teacher has not <b>updated class settings</b>. Please get in touch with her to resolve the matter. Once everything is correctly set up, refresh this page.
    </div>
    <div class="footer">
      <div class="back" {{action 'back'}}>
        {{t 'common.back'}}
      </div>
    </div>
  </div>
</div>
