.performance-manual-entry.assessment-performance-entry {
  background-color: $white;
  .assessment-performance-container {
    position: relative;
    .assessment-thumbnail {
      width: 360px;
      height: 220px;
      background-size: 360px 220px;
      background-repeat: no-repeat;
      object-fit: contain;
    }
    .max-timespent-container {
      padding: 0 16px 16px 16px;
      .title-container {
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        color: #3e5e67;
        padding: 15px;
      }
      .timespent-container {
        display: grid;
        grid-template-columns: auto auto;
        columns-gap: 16px;
        .timespent-hour, .timespent-mins {
          display: grid;
          grid-template-columns: auto auto;
          align-items: baseline;
        }
        input {
          width: 100%;
          font-size: 100px;
          font-weight: bold;
          color: #3d5e67;
          outline: none;
          &:focus {
            outline: none;
          }

        }
        .placeholder-text {
          font-size: 50px;
          font-weight: bold;
          color: #3d5e67;
        }
      }
      .confirm-action-container {
        width: 100px;
        height: 40px;
        border-radius: 4px;
        background-color: #1aa9eb;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        line-height: 40px;
        text-transform: uppercase;
        margin: 15px auto;
      }
    }
    .question-score.header {
      font-size: 12px;
      font-weight: bold;
      height: 40px;
      color: #3e90fa;
      text-transform: uppercase;
      text-align: left;
      line-height: 40px;
      padding-left: 16px;
      border-bottom: 1px solid #3e90fa;
      span {
        border-bottom: 3px solid #3e90fa;
        padding-bottom: 10px;
      }
    }
    .active-question {
      display: grid;
      grid-template-columns: auto auto;
      height: 14px;
      line-height: 14px;
      border-bottom: 1px solid #3e90fa;
      justify-content: center;
      .question-seq, .question-max-score {
        font-size: 10px;
        font-weight: bold;
        color: #3e5e67;
        text-transform: uppercase;
      }
      .question-seq {
        margin-right: 8px;
      }
    }
    .active-student {
      display: grid;
      grid-template-columns: 40px auto;
      align-items: center;
      height: 40px;
      align-items: center;
      justify-content: left;
      box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
      padding: 0 16px;
      .student-thumbnail {
        width: 32px;
        height: 32px;
        background-size: 32px 32px;
        display: block;
        border: none;
        border-radius: 50%;
      }

      .student-name {
        text-transform: capitalize;
        font-size: 10px;
        font-weight: bold;
        color: #3e5e67;
      }
    }
    .questions-container {
      max-height: calc(100vh - 440px);
      overflow-y: auto;
      .question-container {
        .question-info-container {
          padding: 0 16px;
          display: grid;
          grid-template-columns: 40px auto 48px;
          align-items: center;
          height: 40px;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          .question-thumbnail {
            width: 32px;
            height: 32px;
            background-color: #d8d8d8;
            border-radius: 50%;
            display: block;
            margin-right: 8px;
            i {
              display: none;
              text-align: center;
              line-height: 32px;
            }
          }
          .question-title {
            padding-right: 8px;
            font-size: 10px;
            font-weight: bold;
            color: #3e5e67;
            justify-self: left;
            width: 232px;
            height: inherit;
            line-height: 40px;
            border-right: 2px dashed rgba(45,45,45, 0.3);
          }
          .question-score {
            padding-left: 8px;
            .question-score-entry {
              width: 48px;
              text-align: center;
              &:focus {
                background-color: #c9e4f9;
                outline: none;
              }
              &.wrong-score {
                color: red;
                border-bottom: 1px solid red;
                outline: none;
              }
            }
            &.disabled {
              pointer-events: none;
            }
          }
          &.selected-question {
            background-color: #c9e4f9;
            .question-score-entry {
              background-color: #c9e4f9;
              border: none;
            }
          }
        }
        .question-description {
          padding: 16px;
          $font-size: 12px;
          color: #212121;
          $line-height: 1.5;
          $lines-to-show: 4;
          @include ellipsis($font-size: $font-size, $line-height: $line-height, $lines-to-show: $lines-to-show);
          max-height: 92px;
        }

        &.scored {
          .question-thumbnail {
            i {
              display: block;
              color: $white;
            }
          }
        }
      }
      &::-webkit-scrollbar {
        height: 6px;
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: $gray-light;
        border: 1px solid $gray-light;
        border-radius: 5px;
      }
    }

    .action-container {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      padding: 0 16px;
      align-items: center;
      height: 40px;
      box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
      background-color: $white;
      width: 360px;
      .action {
        display: flex;
        line-height: 40px;
        cursor: pointer;
        &.disabled {
          pointer-events: none;
        }
      }
      .student-thumbnail {
        width: 32px;
        height: 32px;
        background-color: #d8d8d8;
        border-radius: 50%;
        display: block;
        margin-top: 4px;
      }
      .prev {
        .student-thumbnail {
          margin-right: 8px;
        }
      }
      .next {
        .student-thumbnail {
          margin-left: 8px;
        }
      }
    }
  }
}
