.competency-meta-data {
  $line-height: 1.2;
  $lines-to-show: 4;

  .heading {
    font-size: 14px;
    font-weight: bold;
    padding: 20px 10px 10px;
    color: #ffffff;
  }

  .no-data {
    font-size: 16px;
    margin: auto;
    padding-left: 10px;
  }

  .micro-competencies {
    background-color: #fff;
    min-height: 40px;
    display: grid;

    .mc-panel-header {
      cursor: pointer;
      height: 40px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
      background-color: #ffffff;
      display: grid;
      grid-template-columns: 1fr 20px;

      .code {
        font-size: 12px;
        font-weight: bold;
        color: #37424b;
        height: auto;
        padding: 0 0 0 10px;
        align-items: center;
        display: flex;
      }

      .icon {
        align-items: center;
        display: flex;

        i {
          font-size: 16px;
          color: grey;
        }
      }

      &[aria-expanded="true"] {
        .icon.arrow_up {
          display: none;
        }

        .icon.arrow_down {
          display: flex;
        }
      }

      .icon.arrow_up {
        display: flex;
      }

      .icon.arrow_down {
        display: none;
      }
    }

    .panel-content {
      .description {
        padding: 10px;
        text-align: justify;
        display: block;
      }
    }
  }

  .alt-concepts {
    color: #36424b;
    display: flex;
    font-size: 16px;
    padding: 10px;
    justify-content: center;
    background-color: #fff;
  }

  .prequisite-competencies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px;
    justify-content: center;
    background-color: #fff;
    grid-gap: 10px;
    min-height: 40px;

    &.no-competency {
      grid-template-columns: none;
    }

    .panel-container {
      max-width: 200px;
      height: 142px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      background-color: #fff;
      margin: auto;

      .panel-body {
        padding: 10px;

        .competency-description {
          font-size: 13px;
          @include ellipsis($font-size: $font-size-base, $line-height: $line-height, $lines-to-show: $lines-to-show, $excerpt-bg: $white);
        }
      }

      .panel-header {
        border-bottom: 3px solid #979797;
        padding: 15px;
        display: grid;
        grid-template-columns: auto auto;

        .title {
          height: 27px;
          width: auto;
          font-size: 15px;
          color: #37424b;
        }

        .competency-status {
          width: 24px;
          height: 24px;
          justify-self: end;

          &.status-0 {
            opacity: 0.3;
            background-color: #333c4f;
          }

          &.status-1 {
            background-color: #99c5e6;
          }

          &.status-2,
          &.status-3,
          &.status-4,
          &.status-5 {
            background-color: #6f9ce2;
          }
        }
      }
    }
  }
}
