.reports.dca-student-external-assessment-report {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;

  .backdrop {
    background-color: #434c5a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }

  .backdrop-pull-ups {
    .backdrop {
      background: none !important;
    }
  }

  .report-container {
    background: $white;
    width: 768px;

    .report-header {
      height: 135px;
      width: 100%;
      display: flex;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

      .assessment-container {
        width: 90%;
        display: flex;
        margin: 15px;

        .assessment-thumbnail {
          width: 106px;
          height: 106px;
          border-radius: 50%;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .assessment-info {
          width: calc(100% - 140px);
          margin-left: 15px;

          .title {
            font-size: 15px;
            color: #37424b;
          }

          .student-name {
            font-size: 13px;
            font-weight: bold;
            color: #37424b;
            text-transform: capitalize;
          }

          .performance-bar {
            height: 30px;
            display: flex;

            .progress-bar {
              border-top-right-radius: 11px;
              border-bottom-right-radius: 11px;
              height: 11px;
            }
          }

          .score-text {
            margin-top: -6px;
            margin-left: 10px;
            width: 40px;
          }
        }
      }

      .pullup-close {
        cursor: pointer;
        text-align: center;

        i {
          opacity: 0.2;
          color: #000000;
          font-size: 32px;
          margin-top: 25px;
          margin-right: 29px;
        }

        span {
          text-transform: uppercase;
          margin-top: 5px;
        }
      }
    }

    .report-body {
      height: 84vh;
      width: 768px;

      .external-assessment-container {
        .taxonomy-container {
          padding: 15px;

          .gru-taxonomy-tag {
            background-color: #37424b;
          }
        }

        .reference {
          text-align: center;
          border-bottom: 1px solid $light-200;
          margin-top: 15px;
          font-size: 15px;
          color: #37424b;

          .link {
            color: #00a9e2;
          }
        }

        .wish {
          text-align: center;
          font-size: 15px;
          color: #37424b;
          margin: 30px 0;
        }

        .student-score {
          font-size: 100px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
}
