.preview.gru-collection-preview {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;
  background-color: $white;
  height: 90%;

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }
  .preview-container {
    height: 100%;
    background-color: $white;
    position: relative;
    .header-container {
      height: 48px;
      background-color: #425e67;
      display: flex;
      padding-left: 16px;
      .close-pullup {
        width: 32px;
        height: 32px;
        background-color: rgba(216, 216, 216, 0.1);
        border-radius: 50%;
        text-align: center;
        cursor: pointer;
        margin: 8px 0;
        i {
          color: $white;
          line-height: 32px;
          width: 32px;
          height: 32px;
        }
      }
      .preview-title {
        font-size: 15px;
        font-weight: bold;
        line-height: 48px;
        color: $white;
        text-transform: capitalize;
        padding: 0 16px;
        width: 100%;
      }
      .content-player, .print-preview, .content-remix {
        width: 40px;
        cursor: pointer;
        margin: 0 8px;
        i {
          color: $white;
          line-height: 48px;
        }
      }
    }
    .body-container {
      .content-info-container {
        box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.3);
        .title-info-container {
          display: grid;
          grid-template-columns: 80px 24px 1fr;
          align-items: center;
          column-gap: 16px;
          .thumbnail-container {
            width: 80px;
            height: 48px;
            background-size: 80px 48px;
            display: block;
            background-repeat: no-repeat;
          }
          .content-title {
            font-size: 16px;
            color: #545e66;
          }
          .content-icon {
            background-size: 24px 18px;
            width: 24px;
            height: 18px;
            background-repeat: no-repeat;
            display: block;
            &.assessment, &.assessment-external {
              background-image: url("gooru/images/add_assessment.svg");
            }

            &.collection, &.collection-external {
              background-image: url("gooru/images/add_collection.svg");
            }
          }
        }
        .taxonomy-container {
          height: 48px;
          display: grid;
          align-items: center;
          padding-left: 94px;
          .gru-taxonomy-tag-list {
            .gru-taxonomy-tag {
              min-width: 90px;
              max-width: 100px;
              height: 23px;
              border-radius: 12px;
              background-color: #2d2d2d;
              .standard-tag {
                text-align: center;
                padding: 0;
                .tag-label {
                  font-size: 14px;
                  font-weight: bold;
                  color: $white;
                  line-height: 21px;
                }
                .tag-caption {
                  display: none;
                }
              }
            }
            .non-visible-tags {
              width: 81px;
              height: 23px;
              border-radius: 12px;
              background-color: #2d2d2d;
              color: $white;
              padding: 0;
              span {
                font-weight: bold;
                font-size: 14px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      .content-items-container {
        // height: calc(100vh - 210px);
        height: 68vh;
        overflow-y: auto;
        padding-bottom: 48px;
        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }

        .external-content {
          padding: 24px;
          .content-description {
            color: #666666;
            font-size: 12px;
            line-height: 1.5;
          }
          .content-url {
            .url-label, .url-content {
              font-size: 15px;
              color: #3e5e67;
            }
            .url-label {
              font-weight: bold;
            }
            .url-content {
              font-style: italic;
            }
          }
        }
      }
    }
    .footer-container {
      height: 48px;
      width: 100%;
      box-shadow: 0 0 4px 0 rgba(102, 102, 102, 0.3);
      background-color: #6b9ce0;
      color: $white;
      font-size: 15px;
      font-weight: bold;
      line-height: 2;
      text-align: center;
      text-transform: uppercase;
      line-height: 48px;
      cursor: pointer;
      display: block;
      position: absolute;
      bottom: 0;
    }
  }

  @media screen and (max-width: $screen-sm) {
    width: 100%;
    .preview-container {
      .body-container {
        .content-items-container {
          width: 100vw;
          overflow-x: hidden;
        }
      }
    }
  }
}
