.struggling-competency-report {
  background-color: $white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  width: 50vw;
  height: calc(100vh - 10vh);
  left: 0;
  right: 0;
  margin: 0 auto;
  display: none;
  @media screen and (max-width: $screen-md) {
    width: 70%;
  }
  @media screen and (max-width: $screen-sm) {
    width: 100%;
  }

  .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }

  %scroll-style {
    &::-webkit-scrollbar {
      height: 6px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-light;
      border: 1px solid $gray-light;
      border-radius: 5px;
    }
  }

  .struggling-competency-report-container {
    background-color: $white;
    height: 100%;

    .struggling-competency-report-header {
      display: grid;
      grid-template-columns: 30px 1fr;
      align-items: center;
      border-bottom: 1px solid $gray-80;
      box-shadow: 0 0 5px $gray-80;
      padding: 10px;
      cursor: pointer;

      .struggling-competency-report-header-panel {
        .struggling-competency-report-title {
          font-size: 15px;
          font-weight: bold;
          display: grid;
          grid-template-columns: 1fr;
          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .struggling-competency-report-sub-titles {
          display: inline-flex;
          list-style: none;
          margin: 0;
          line-height: 1;
          padding: 0;

          li {
            padding: 0 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:last-child {
              border: none;
            }

            &:first-child {
              border-right: 1px solid $gray-80;
              padding-left: 0;
            }
          }
        }
      }
    }

    .struggling-competency-report-student-list-container {
      height: calc(100% - 71px);
      overflow-y: auto;

      .struggling-competency-report-student-list-panel {
        display: grid;
        grid-template-columns: 1fr 50px 50px;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        .sc-report-student-list {
          .sc-report-student-profile {
            list-style: none;
            display: inline-flex;
            align-items: center;
            padding: 0;
            margin: 0;

            li {
              margin: 10px;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: $gray-light;
              border: $gray-80;
              display: grid;
              align-items: center;
              text-align: center;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
          }
        }

        .sc-report-student-count {
          font-size: 16px;
        }

        .sc-report-student-list-icon {
          display: grid;
          align-items: center;

          i {
            font-size: 30px;
          }
        }
      }

      .sc-student-dropdown-list-container {
        display: none;

        &.active {
          display: block;
        }

        .sc-student-dropdown-list {
          display: grid;
          grid-template-columns: 70px 1fr 70px;
          align-items: center;
          padding: 5px 20px;
          font-weight: bold;
          font-size: 15px;

          .sc-student-profile-thumbnail-container {
            .sc-student-thumbnail {
              width: 40px;
              height: 40px;
              background-color: $gray-80;
              border-radius: 50%;

              img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
              }
            }
          }

          ,
          .sc-student-performance-container {
            .sc-student-performance {
              padding: 5px;
              background-color: $red-500;
              color: $white;
              text-align: center;
            }
          }
        }
      }

      .sc-student-content-section-container {
        .search-container {
          text-align: center;

          .search-filter-container {
            display: flex;
            align-items: center;
            font-size: 17px;
            font-weight: bold;
            padding: 5px 20px;
            position: relative;

            span {
              display: flex;
              cursor: pointer;
            }

            .arrow_drop_down {
              padding-top: 3px;
              padding-left: 2px;
              cursor: pointer;
            }

            .search-filter-container-list {
              position: absolute;
              z-index: 100;
              box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
              display: none;
              top: 40px;
              background-color: $white;

              p {
                padding: 0;
                margin: 0;
                font-weight: normal;
                font-size: 15px;
                padding: 5px 20px;

                &.selected {
                  background-color: #cacaca;
                  font-weight: bold;
                }

                &:hover {
                  background-color: #cacaca;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .sc-library-title {
          padding: 5px 20px;
          display: grid;
          grid-template-columns: 30px 1fr;
          box-shadow: 0 0 4px $gray-80;

          span {
            display: grid;
            align-items: center;

            &:first-child {
              cursor: pointer;
            }
          }
        }

        .sc-student-content-section-container {
          .sc-student-content-section {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            grid-row-gap: 20px;
            padding: 10px;
            justify-items: center;
            @media screen and (max-width: $screen-xs) {
              grid-template-columns: auto;
            }

            &.no-content {
              grid-template-columns: auto;
            }
          }
        }

        .sc-show-more {
          width: 100%;
          text-align: center;
          padding: 20px;

          span {
            padding: 10px;
            width: fit-content;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
