.students-proficiency-header {
  display: none !important;
}
.weekly-report-container {
  .report-period-selector {
    .report-periods,
    .active-period,
    .custom-range-shower,
    .toggle-icon {
      display: none !important;
    }
    .report-download {
      display: block !important;
      .print-preview {
        display: none !important;
      }
      .class-progress-report-preview {
        .class-report-container {
          .report-container {
            display: block !important;
            width: 100% !important;
            height: 100% !important;
            position: absolute !important;
            left: 0 !important;
            .right-panel {
              display: flex !important;
              flex-direction: column !important;
              justify-self: end !important;
              text-align: right;
              margin-bottom: 10px;
              .tenan-info {
                display: grid !important;
                grid-template-columns: 55px auto !important;
                column-gap: 5px !important;
                justify-content: end;
                .tenant-logo {
                  display: block !important;
                  width: 50px;
                  height: 50px;
                  background-repeat: no-repeat !important;
                  background-size: 50px !important;
                  background-position: center !important;
                  border-radius: 25px !important;
                }
                .tenant-name {
                  display: flex !important;
                  align-items: center !important;
                  text-transform: capitalize !important;
                }
              }
            }
            .class-progress-report-table {
              position: absolute !important;
              width: 100% !important;
              tr {
                td,
                th {
                  border: 1px solid black;
                  border-collapse: collapse;
                  padding: 5px;
                  text-align: center;
                  height: 55px;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
  .header-container,
  .body-container {
    display: none !important;
  }
}
