.gru-study-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  &.student-landing {
    pointer-events: none;

    .header-panel {
      .tab {
        opacity: 0.5;
      }

      .app-brand,
      .class-activities {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }

  .gru-icon {
    vertical-align: middle;
  }

  %app-info-container {
    display: inline-block;
    word-wrap: break-word;
    vertical-align: middle;
  }

  %app-container {
    color: $white;
    margin: auto;
    height: 100%;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 5px;
    display: grid;
  }

  .header-panel {
    height: 51px;
    width: 100%;
    background-color: $blue-400;

    .nav-body {
      width: 100%;
      height: 100%;
      display: grid;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      /*Default View */
      grid-template-columns: 88px 170px 145px 145px 1fr 59px 59px 59px;

      .tab {
        a {
          opacity: 0.3;

          &:hover {
            opacity: 1;
          }
        }

        &.vactive {
          a {
            opacity: 1;
          }
        }
      }
      /*Apply to independent-learning class and it has no class info */
      &.independent-learning.no-class-info {
        grid-template-columns: 90px 120px 1fr 60px 120px 120px;
        @media only screen and (max-width: 600px) {
          grid-template-columns: 70px 60px 1fr 60px 60px 60px;

          .class-activities,
          .course-map.study-player,
          .profile {
            a {
              grid-gap: 0;

              .add-info {
                display: none !important;
              }
            }
          }

          .performance-chart {
            .charts.gru-performance-chart {
              min-width: 40px !important;
            }
          }
        }
        /* Small devices (portrait tablets and large phones, 768px and up) */
        @media only screen and (min-width: 768px) {
          grid-template-columns: 70px 60px 1fr 60px 120px 120px;

          .class-activities,
          .course-map.study-player,
          .profile {
            a {
              grid-gap: 0;

              .add-info {
                display: none !important;
              }
            }
          }
        }
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
          grid-template-columns: 90px 120px 1fr 60px 120px 120px;

          .class-activities,
          .course-map.study-player,
          .profile {
            a {
              grid-gap: 5px;

              .add-info {
                display: inline-block !important;
              }
            }
          }
        }
      }
      /* Apply to independent-learning class */
      &.independent-learning {
        grid-template-columns: 90px 120px 1fr 60px 60px 60px;
        @media only screen and (max-width: 600px) {
          grid-template-columns: 90px 60px 1fr 50px 50px 50px;

          .class-activities,
          .course-map.study-player,
          .profile {
            a {
              grid-gap: 0;

              .add-info {
                display: none !important;
              }
            }
          }

          .performance-chart {
            .charts.gru-performance-chart {
              min-width: 40px !important;
            }
          }
        }
        /* Small devices (portrait tablets and large phones, 768px and up) */
        @media only screen and (min-width: 768px) {
          grid-template-columns: 90px 60px 1fr 60px 60px 60px;

          .class-activities,
          .course-map.study-player,
          .profile {
            a {
              grid-gap: 0;

              .add-info {
                display: none !important;
              }
            }
          }
        }
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
          grid-template-columns: 90px 120px 1fr 60px 60px 60px;

          .class-activities,
          .course-map.study-player,
          .profile {
            a {
              grid-gap: 5px;

              .add-info {
                display: inline-block !important;
              }
            }
          }
        }
      }
      /*Apply when it has no class info */
      &.no-class-info {
        grid-template-columns: 90px 160px 120px 115px 1fr 59px 105px 105px;
        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {
          grid-template-columns: 50px 40px 40px 40px 1fr 40px 45px 45px;

          .performance,
          .performance-summary {
            .score {
              font-size: 16px;
            }

            .label {
              font-size: 5px;
            }
          }
        }
        @media only screen and (min-width: 768px) {
          grid-template-columns: 90px 50px 50px 50px 1fr 59px 105px 105px;
        }
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
          grid-template-columns: 90px 160px 120px 115px 1fr 59px 105px 105px;
        }
      }
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
        grid-template-columns: 50px 40px 40px 40px 1fr 40px 40px 40px;

        .class-activities,
        .course-map.study-player,
        .profile {
          a {
            grid-gap: 0;

            .add-info {
              display: none !important;
            }
          }
        }

        .performance-chart {
          .charts.gru-performance-chart {
            min-width: 40px !important;
          }
        }
      }
      /* Small devices (portrait tablets and large phones, 768px and up) */
      @media only screen and (min-width: 768px) {
        grid-template-columns: 90px 50px 50px 50px 1fr 59px 59px 59px;

        .class-activities,
        .course-map.study-player,
        .profile {
          a {
            grid-gap: 0;

            .add-info {
              display: none !important;
            }
          }
        }
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {
        grid-template-columns: 88px 170px 145px 145px 1fr 59px 59px 59px;

        .class-activities,
        .course-map.study-player,
        .profile {
          a {
            grid-gap: 5px;

            .add-info {
              display: inline-block !important;
            }
          }
        }
      }

      .class-activities,
      .class-management,
      .course-map.study-player,
      .profile {
        .no-course {
          pointer-events: none;
        }

        &.enable {
          pointer-events: all;
        }
      }

      .app-brand {
        padding: 0 8px;
        background-color: $white;
        display: flex;
        height: 51px;

        a {
          margin: auto;
          display: block;
          background-image: url("gooru/images/gooru-logo.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 56px;
          height: 30px;
          background-position: 0 15px;
          top: 18px;
          opacity: 1 !important;
        }
      }

      .class-activities {
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;

          .dca-pin {
            background-image: url("gooru/pin-white.png");
            background-repeat: no-repeat;
            width: 24px;
            height: 25px;
            background-size: 24px 25px;
            display: block;
            margin-top: 2px;
          }

          .add-info {
            @extend %app-info-container;
          }
        }
      }

      .course-map.study-player {
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;
        }

        .add-info {
          @extend %app-info-container;
        }
      }

      .profile {
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;
        }

        .add-info {
          @extend %app-info-container;
        }
      }

      .studyplayer-title {
        display: grid;
        margin: auto;
        font-size: 16px;
        font-weight: 700;
        height: 51px;
        padding: 10px;
        align-items: center;
        pointer-events: none;
        color: $white;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .notification-tab {
        display: grid;
        height: 51px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        border-left: 1px solid $white;

        div {
          .active-study {
            i {
              vertical-align: middle;
            }
          }
        }
      }

      .performance-chart {
        display: grid;
        border-left: 1px solid $white;
        height: 51px;
        align-items: center;

        &.not-started {
          pointer-events: none;
        }

        .charts.gru-performance-chart {
          color: $white;
          text-align: center;
          height: 100%;
          cursor: pointer;
          min-width: 59px;

          .container-box {
            height: 51px;
            cursor: pointer;

            .percentage {
              margin-top: 8px;
            }
          }
        }
      }

      .class-info,
      .performance,
      .performance-summary {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 51px;
        border-left: 1px solid $white;

        a {
          color: $white;
        }

        .tooltip {
          display: none !important;
        }

        .score {
          font-weight: 900;
          font-size: 30px;
          height: 35px;
          line-height: 35px;
          display: block;
          text-align: center;
        }

        .label {
          font-size: 12px;
          line-height: 8px;
          text-transform: uppercase;
          font-weight: 700;
          display: block;
          text-align: center;
        }
      }
    }
  }
}

div.student.class {
  div.header.clearfix {
    > div.go-back-container {
      display: none;
    }
  }
}

.hide-classroom-information {
  display: none;
}

.start-tour {
  display: none;
}

button.locate {
  display: none;
}
