.student-inspect-destination {
  .inspect-destination-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    max-height: calc(100vh - 50px);
    justify-content: center;
    overflow-x: auto;
    background-color: #36394a;

    .destination-chart-container {
      margin-right: 30px;
      padding: 8px;
    }

    .competency-level-container {
      .grade-title {
        width: 344px;
        height: 68px;
        font-size: 50px;
        color: $white;
      }

      .grade-description {
        width: 414px;
        font-size: 15px;
        color: $white;
      }

      .competency-level-list {
        margin-top: 10px;
        display: grid;
        width: 200px;
        height: 160px;
        grid-gap: 3px;
        grid-template-rows: 40px 40px 40px 40px;

        .in-progress-container,
        .mastery-container,
        .not-started-container,
        .skyline-container {
          display: grid;
          grid-gap: 5px;
          align-items: center;
          grid-template-columns: 40px auto;

          .legend {
            width: 40px;
            height: 40px;
          }

          .label {
            font-size: 24px;
            color: $white;
            text-align: start;
            font-weight: normal;
            padding: 0;
          }
        }

        .in-progress-container {
          .legend {
            background-color: #97c5e5;
          }
        }

        .not-started-container {
          .legend {
            background-color: $white;
          }
        }

        .skyline-container {
          .legend {
            width: 40px;
            height: 10px;
            background-color: #ffffff;
          }
        }

        .mastery-container {
          .legend {
            background-color: #4990e2;
          }
        }
      }

      .show-destination {
        margin-top: 10px;
        width: 272px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        height: 40px;
        text-align: center;
        display: grid;
        grid-template-columns: 40px auto;
        border-radius: 45px;
        background-color: #4190e0;
        color: white;
        font-size: 18px;
        float: right;
      }
    }
    //TODO new screen changes
    .grade-data-container {
      width: 100%;

      .grade-title {
        font-size: 45px;
        color: #8fd383;
      }

      .grade-description {
        margin-top: 10px;
        color: $white;
        height: 73vh;
      }

      .next-route {
        float: right;
        color: $white;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 7px;
        display: grid;
        cursor: pointer;
        justify-content: center;
        height: 35px;
        line-height: 35px;
        background-color: #4a8cdb;
        width: 200px;
        border-radius: 17px;
        font-size: 18px;
      }
    }

    .course-container {
      width: 100%;
      padding-top: 10px;
      max-height: calc(100vh - 80px);

      .pre-study-title {
        font-size: 30px;
        color: $white;
        padding-left: 20px;
      }

      .course-description {
        font-size: 15px;
        color: #525659;
        line-height: 23px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
        margin-left: 4px;

        div {
          width: 100%;
          margin: auto;
        }
      }

      .assigned-course-title {
        padding-top: 10px;
        font-size: 30px;
        text-align: justify;
        white-space: nowrap;
        line-height: normal;
        color: #9cff8e;
        margin-bottom: 10px;
        padding-left: 20px;
      }

      .route0-container {
        margin-top: 3px;
        box-shadow: 0 0 6px 6px #ef8f2f;
        background-color: $white;
        margin-left: 4px;

        .route0-comment {
          display: grid;
          grid-template-columns: 85px auto;
          align-items: center;
          padding-bottom: 8px;
          padding-top: 8px;
          cursor: pointer;

          .suggestion-icon {
            align-items: center;

            i {
              font-size: 50px;
              margin-left: 15px;
            }
            color: $orange-400;
          }

          .suggestion-note {
            margin: 0 15px;
            font-size: 16px;
            color: #37424b;
            line-height: 19px;
          }
        }

        .route0-accordion-container {
          border-top: 1px solid #d7d7d7;

          .gru-accordion-course {
            padding-top: 0;
            border-bottom: 1px solid #d7d7d7;

            .gru-accordion-unit {
              .unit {
                padding-left: 7px !important;
              }
            }
          }
        }
      }

      .route0-action {
        height: 65px;
        grid-gap: 15px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        padding-bottom: 8px;
        padding-top: 8px;
        justify-content: end;

        .accept {
          background-color: $orange-400;
          width: 125px;
          height: 30px;
          border-radius: 45px;
          display: grid;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
          color: $white;
          grid-template-columns: 30px auto;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          i {
            background-image: url("gooru/images/baseline-add.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
            margin-top: 2px;
          }
        }

        .ignore {
          width: 86px;
          height: 30px;
          display: grid;
          grid-template-columns: 20px auto;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 45px;
          background-color: #b8bfc4;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
          color: $white;
          line-height: 30px;
          text-align: center;
          cursor: pointer;

          i {
            background-image: url("gooru/images/baseline-close.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
            margin-top: 2px;
          }
        }
      }

      .course-map-accordion-container {
        max-height: 290px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
        margin-left: 4px;
        overflow-y: auto;
        background: $white;

        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
          background-color: $white;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }
      }

      .study-course {
        color: $white;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 7px;
        display: grid;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        float: right;
        justify-content: center;
        height: 35px;
        line-height: 35px;
        background-color: #4a8cdb;
        width: 200px;
        border-radius: 17px;
        font-size: 18px;
      }
    }
  }

  .loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.app-container {
  padding-top: 50px;
}
