.student-inspect-destination {
  .popover {
    width: 160px;
    box-shadow: 0 2px 14px 10px rgba(0, 0, 0, 0.7);

    .popover-title {
      font-weight: bold;
      font-size: 13px;
      background-color: $white;
      border-bottom: none;
    }

    .popover-content {
      padding-top: 0;
    }
  }

  .inspect-destination-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    justify-content: center;
    background-color: $white;

    .destination-chart-container {
      margin-right: 30px;
      padding: 30px 8px 8px;
    }

    .competency-level-container {
      padding-top: 30px;
      overflow-y: auto;

      .grade-title {
        height: 68px;
        font-size: 35px;
        line-height: 0.8em;
        color: $dark-300;
      }

      .grade-description {
        width: 100%;
        padding-right: 83px;
        font-size: 15px;
        white-space: normal;
        text-align: justify;
        color: $dark-300;

        .desc-title {
          font-size: 16px;
          font-weight: bold;
        }
      }

      .competency-level-list {
        margin-top: 5px;
        display: grid;
        grid-gap: 3px;
        grid-template-rows: auto auto;

        .in-progress-container,
        .mastery-container,
        .not-started-container,
        .skyline-container {
          display: grid;
          grid-gap: 15px;
          align-items: center;
          grid-template-columns: 40px auto;

          .legend {
            width: 40px;
            height: 40px;
          }

          span.explanatory-title {
            font-weight: bold;
          }

          .label {
            font-size: 20px;
            color: $dark-300;
            text-align: start;
            font-weight: normal;
            padding: 0;
          }
        }

        .in-progress-container {
          .legend {
            background-color: #97c5e5;
          }
        }

        .not-started-container {
          .legend {
            background-color: #e7e8e9;
          }
        }

        .skyline-container {
          height: 40px;

          .legend {
            width: 40px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
            height: 10px;
            background-color: $white;
          }
        }

        .mastery-container {
          .legend {
            background-color: #4990e2;
          }
        }
      }

      .show-destination {
        bottom: 20px;
        width: 272px;
        position: fixed;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        height: 40px;
        text-align: center;
        display: grid;
        grid-template-columns: 40px auto;
        border-radius: 45px;
        background-color: #4190e0;
        color: white;
        font-size: 18px;
        float: right;
      }
    }
    //TODO new screen changes
    .grade-data-container {
      width: 100%;
      padding-top: 30px;
      overflow-y: auto;

      .grade-title {
        line-height: 0.8em;
        font-size: 30px;
        color: #8fd383;
      }

      .grade-description {
        margin-top: 10px;
        color: $dark-400;
        height: 73vh;
      }

      .next-route {
        position: fixed;
        bottom: 20px;
        color: $white;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 7px;
        display: grid;
        cursor: pointer;
        justify-content: center;
        height: 40px;
        line-height: 35px;
        background-color: #4a8cdb;
        width: 200px;
        border-radius: 45px;
        font-size: 18px;
      }
    }

    .course-container {
      width: 100%;
      padding-top: 30px;
      padding-right: 20px;

      .pre-study-title {
        font-size: 30px;
        color: $dark-400;
        line-height: 0.8em;
        padding-left: 20px;
      }

      .course-description {
        font-size: 15px;
        color: #525659;
        line-height: 23px;
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
        margin-left: 4px;

        div {
          width: 100%;
          margin: auto;
        }
      }

      .assigned-course-title {
        font-size: 30px;
        text-align: justify;
        white-space: nowrap;
        line-height: 0.8em;
        color: #9cff8e;
        margin-bottom: 10px;
        padding-left: 20px;
      }

      .route0-container {
        margin-top: 20px;
        box-shadow: 0 0 6px 6px #ef8f2f;
        background-color: $white;
        margin-left: 4px;

        .route0-comment {
          display: grid;
          grid-template-columns: 85px auto;
          align-items: center;
          padding-bottom: 8px;
          padding-top: 8px;
          cursor: pointer;

          .suggestion-icon {
            align-items: center;

            i {
              font-size: 50px;
              margin-left: 15px;
            }
            color: $orange-400;
          }

          .suggestion-note {
            margin: 0 15px;
            font-size: 16px;
            color: #37424b;
            line-height: 19px;
          }
        }

        .route0-accordion-container {
          border-top: 1px solid #d7d7d7;

          .gru-accordion-course {
            padding-top: 0;
            border-bottom: 1px solid #d7d7d7;

            .gru-accordion-unit {
              .unit {
                padding-left: 7px !important;
              }
            }
          }
        }
      }

      .route0-action {
        height: 65px;
        grid-gap: 15px;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        padding-bottom: 8px;
        padding-top: 8px;
        justify-content: end;

        .accept {
          background-color: $orange-400;
          width: 100px;
          height: 30px;
          border-radius: 45px;
          display: grid;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
          color: $white;
          grid-template-columns: 30px auto;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          i {
            background-image: url("gooru/images/baseline-add.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
            margin-top: 2px;
          }
        }

        .ignore {
          width: 86px;
          height: 30px;
          display: grid;
          grid-template-columns: 20px auto;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 45px;
          background-color: #b8bfc4;
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
          color: $white;
          line-height: 30px;
          text-align: center;
          cursor: pointer;

          i {
            background-image: url("gooru/images/baseline-close.svg");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
            margin-top: 2px;
          }
        }
      }

      .course-map-accordion-container {
        max-height: calc(73vh - 271px);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
        margin-left: 4px;
        overflow-y: auto;
        background: $white;

        &.no-route0 {
          max-height: 73vh;
        }

        &::-webkit-scrollbar {
          height: 6px;
          width: 8px;
          background-color: $white;
        }

        &::-webkit-scrollbar-thumb {
          background: $gray-light;
          border: 1px solid $gray-light;
          border-radius: 5px;
        }
      }

      .study-course {
        bottom: 20px;
        width: 165px;
        position: fixed;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        height: 40px;
        text-align: center;
        display: grid;
        grid-template-columns: 40px auto;
        border-radius: 45px;
        background-color: #4190e0;
        color: white;
        font-size: 18px;
        float: right;
      }
    }
  }

  .loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.app-container {
  padding-top: 50px;
}
