.teacher-suggestion-pull-up {
  position: fixed;
  top: 100%;
  z-index: 1031;
  width: 768px;
  left: 0;
  right: 0;
  margin: auto;
  color: #37434d;

  .loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
  }

  .backdrop {
    background-color: #434c5a;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    cursor: pointer;
    opacity: 0.8;
    background-color: #000;
  }

  .backdrop-pull-ups {
    .backdrop {
      background: none;
    }
  }

  .suggestion-container {
    background: #ffffff;
    width: 768px;
    max-height: 90vh;
    height: 90vh;

    .suggestion-header {
      height: 50px;
      background: #f98e4e;
      display: inline-flex;
      width: 100%;

      .suggestion-pullup-close {
        width: 70px;

        .arrow_downward {
          font-size: 26px;
          color: #fff;
          margin-top: 13px;
          margin-left: 22px;
          cursor: pointer;
        }
      }

      .suggestion-back {
        width: 70px;

        .arrow_back {
          font-size: 26px;
          color: #fff;
          margin-top: 13px;
          margin-left: 22px;
          cursor: pointer;
        }
      }

      .search-filter-container {
        width: 130px;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #3c4452;
        font-weight: bold;
        position: relative;

        span {
          height: 24px;
          color: $white;
        }

        .arrow_drop_down {
          padding-top: 3px;
          padding-left: 2px;
          cursor: pointer;
        }

        .search-filter-container-list {
          position: absolute;
          background: #fff;
          top: -3px;
          z-index: 100;
          left: -30px;
          box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.1);
          visibility: hidden;
          opacity: 0;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
            z-index 0s linear 0.01s;

          p {
            padding: 0;
            margin: 0;
            font-weight: normal;
            font-size: 15px;
            padding: 5px 20px;

            &.selected {
              background-color: #cacaca;
              font-weight: bold;
            }

            &:hover {
              background-color: #cacaca;
              cursor: pointer;
            }
          }

          &.active {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s, 0s, 0.3s;
          }
        }
      }

      .suggestion-explore-icon {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background: #ffffff57;
        margin-top: 4px;
        box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.5);

        .explore {
          font-size: 50px;
          color: #fff;
          margin-left: -4px;
          margin-top: -4px;
          transform: rotate(90deg);
        }
      }

      .suggestion-filter-container {
        width: 150px;
        margin-left: 15px;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #fff;
        font-weight: bold;
      }

      .suggestion-right-menu {
        width: 100%;
        display: flex;

        .search-input-container {
          grid-template-columns: auto 190px 40px;
          display: grid;
          position: relative;
          border: none;
          background: #fff;
          outline: none;
          border-radius: 5px;
          width: 100%;
          margin: 2px 0;

          .filter-items {
            display: flex;
            align-items: center;
            margin-right: 10px;
            justify-content: flex-end;

            .more-pointer {
              color: #bbb;
              cursor: pointer;
            }

            .popover-content {
              .filter-item {
                margin: 5px;
                width: 80px;
              }
            }

            .filter-item {
              border-radius: 9px;
              justify-content: space-around;
              display: flex;
              height: 20px;
              width: 80px;
              padding: 10px;
              margin-right: 5px;
              align-items: center;
              background-color: #898b8e;

              .name {
                font-size: 12px;
                font-weight: bold;
                line-height: 1.25;
                text-align: right;
                color: #ffffff;
              }

              .clear {
                height: auto;
                margin-left: 5px;

                i {
                  height: 100%;
                  font-size: 12px;
                  color: #fff;
                  opacity: 1;
                }
              }
            }
          }

          #suggestion-search {
            outline: none;
            border-radius: 5px;
            width: 100%;
            text-indent: 10px;
            margin-top: 4px;
            margin-bottom: 3px;
            cursor: text;
            box-shadow: none;
          }

          .search-icon {
            width: 38px;
            height: 50px;
            color: #fa9053;
            cursor: pointer;
            position: absolute;
            right: 0;

            .search {
              font-size: 24px;
              margin-top: 10px;
            }
          }
        }

        .search-filter-icon {
          color: #fff;
          width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    .tenant-libraries {
      max-height: calc(90vh - 50px);
      display: flex;
      width: 100%;
      overflow-y: auto;
      margin: auto;
      background-color: #f1f3f7;

      .libraries-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        grid-gap: 10px;

        .loading-spinner {
          left: 0;
        }
      }
    }

    .selected-tenant-library {
      display: grid;
      grid-template-columns: 42px max-content 1fr;
      align-items: center;
      justify-content: center;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 1px;
      height: 45px;

      .back {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .library-name {
        font-weight: bold;
        font-size: 14px;
        padding-left: 5px;
      }

      img {
        width: 35px;
        height: 35px;
        border-radius: 50px;
      }
    }

    .suggestion-content-type-filter {
      height: 50px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      position: relative;
      width: 100%;

      .search-by-filter {
        z-index: 11;
      }

      .filter-content-types {
        display: flex;
        align-items: center;

        .filter-item {
          width: 100px;
          display: grid;
          justify-items: center;
          text-align: center;
          margin-top: 11px;
          margin-right: 15px;
          cursor: pointer;
          color: #ccc;
          border-bottom-width: 2px;
          border-color: #fff;
          border-bottom-style: solid;
          transition: border-width 0.1s ease-in-out;

          i {
            width: 20px;
            height: 15px;
            background-repeat: no-repeat;
          }

          span {
            font-size: 12px;
            font-weight: bold;
            display: block;
            width: 100px;
          }

          &.collection {
            i {
              background-image: url("../assets/gooru/images/navigation_collection.svg");
            }
          }

          &.assessment {
            i {
              background-image: url("../assets/gooru/images/navigation_assessment.svg");
            }
          }

          &.active,
          &:hover {
            border-bottom: 2px solid #fa9053;
            color: #fa9053;

            &.collection {
              i {
                background-image: url("/assets/gooru/images/collection-orange.svg");
              }
            }

            &.assessment {
              i {
                background-image: url("/assets/gooru/images/assessment-orange.svg");
              }
            }
          }
        }
      }
    }

    .search-list-container {
      max-height: calc(90vh - 100px);
      height: calc(90vh - 100px);
      overflow-y: auto;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      background: #f1f3f7;

      .search-list {
        display: grid;
        grid-template-columns: repeat(3, 220px);
        grid-gap: 20px;
        margin: 0 auto;
        width: 700px;

        .cards.no-suggest-result-found {
          grid-column-start: 2;
        }
      }
    }
  }
}
