.offline-activity-player.gru-offline-activity-references {
  .references-container {
    background-color: $white;
    padding: 15px;

    .reference-info-container {
      display: grid;
      grid-template-columns: 30px auto;
      align-items: center;
      column-gap: 10px;

      .reference-icon-container {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        background-image: url("./gooru/images/text-resource-dark.svg");
        display: block;
      }

      .reference-title-container {
        line-height: 17px;

        .reference-label {
          font-size: 12px;
          color: #37424b;
        }

        .reference-links {
          opacity: 0.7;
          font-size: 11px;
          color: #37424b;
        }
      }
    }
  }
}
