<div class="container">
  <div class="header">
    {{player/chrono-view/chrono-header performanceSummary=performanceSummary activeIndex=activeIndex activeResource=activeResource timeData=timeData}}
  </div>
  <div class="body class-activities" id="carousel">
    {{#each timeData as |activitiy index|}}
        {{player/chrono-view/student-card context=activitiy index=activeIndex cardIndex=index onSelectCard="onSelectCard"}}
    {{/each}}
  </div>
</div>
