.profile.profile_portfolio {
  .controller.profile {
    .content {
      // max-width: unset;
      // width: 100%;
      .user-profile-container,
      .profile.gru-navigation-tabs {
        // max-width: 1017px;
        // margin: auto;
      }
    }
  }
}

.profile {
  .profile-portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 8px;

    .collections-container {
    }

    .learning-activities-container {
    }

    .offline-activities-container {
    }

    .assessments-container,
    .collections-container {
    }
  }
}
