.inspect.student-class-proficiency {
  background-color: #36424b;
  min-height: calc(100vh - 51px);
  .class-proficiency-container {
    .header-container {
      .proficiency-info {
        display: grid;
        grid-template-columns: auto auto;
        .subject {
          font-size: 30px;
          color: #fff;
          margin-left: 15px;
        }
        .students-count {
          margin-top: 10px;
          font-size: 15px;
          font-weight: bold;
          color: #fff;
          justify-self: right;
          display: grid;
          grid-template-columns: auto 30px;
          justify-content: center;
          align-items: center;
          margin-right: 44px;
          .toggle-view {
            display: grid;
            justify-content: right;
            cursor: pointer;
            margin-top: 5px;
          }
        }
      }
    }
    .body-container {
      padding: 10px 50px;
      .proficiency-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .proficiency-card-container {
          background-color: $white;
          border-radius: 5px;
          margin: 5px;
          cursor: pointer;
          .card-header {
            margin: 10px;
            border-bottom: 1px solid #979797;
            display: grid;
            grid-template-columns: 55px auto;
            padding-bottom: 10px;
            .thumbnail-container {
              width: 47px;
              height: 47px;
              background-size: 47px 47px;
              display: block;
              border-radius: 50%;
              border: none;
            }
            .student-name {
              .first-name,
              .last-name {
                text-transform: capitalize;
                opacity: 0.9;
                font-size: 13px;
                color: #000000;
              }
            }
          }
          .card-body {
            padding: 5px 10px;
          }
        }
      }
    }

    @media screen and (max-width: $screen-481) {
      .header-container {
        padding: 5px;
        .proficiency-info {
          .subject {
            font-size: 24px;
          }
          .students-count {
            margin-right: 0px;
            .count-container {
              display: none;
            }
          }
        }
      }
      .body-container {
        padding: 5px;
        .proficiency-cards-container {
          .proficiency-card-container {
            margin: 5px auto;
          }
        }
      }
    }
  }
}
