<div class="controller teacher class atc">
  {{teacher/class/class-atc-view
    classId = classId
    isPrimaryClass = (if isMultiClassEnabled true)
    isMultiClassView = isMultiClassEnabled
    secondaryClassToBeShownList = secondaryClassToBeShownList
    onSelectSecondaryClass = "onSelectSecondaryClass"
    class = class
    course = course}}

    {{#each selectedSecondaryClassList as |secondaryClassId|}}
      {{teacher/class/class-atc-view
        classId = secondaryClassId
        onRemoveClassView = "onRemoveClassView"
        isMultiClassView = isMultiClassEnabled}}
    {{/each}}
</div>
