<div class="class-activities-ctrl-container">
  <div class="left-panel">
    {{class/activities/gru-class-activities-listing
      secondaryClasses = secondaryClasses
      secondaryClassList = secondaryClassList
      isSecondaryClass=isSecondaryClass
      isPremiumClass = isPremiumClass
      primaryClass = class
      onGoLive='goLive'
      newlyAddedActivity = newlyAddedActivity
      todayActivities = todayActivities
      secondaryClassesData = secondaryClassesData
    }}
  </div>
  <div class="right-panel">
    {{class/activities/gru-class-activities-adding
      secondaryClasses = secondaryClasses
      secondaryClassDropdown=secondaryClassDropdown
      secondaryClassList = secondaryClassList
      isPremiumClass = isPremiumClass
      primaryClass = class
      classPreference = classPreference
      isMultiClassEnabled = isMultiClassEnabled
      activityAdded = "activityAdded"
      todayActivities = todayActivities
      defaultTab=defaultTab
      secondaryClassesData = secondaryClassesData
    }}
  </div>
</div>
