<div class="class-activities-ctrl-container">
  <div class="left-panel">
    {{#if secondaryClasses}}
      {{class/activities/gru-class-activities-listing
        secondaryClasses = secondaryClasses
        secondaryClassList = secondaryClassList
        isPremiumClass = isPremiumClass
        primaryClass = class}}
    {{/if}}
  </div>
  <div class="right-panel">
  </div>
</div>
