<div class="class-activities-ctrl-container">
  <div class="left-panel">
    {{class/activities/gru-class-activities-listing
      secondaryClasses = secondaryClasses
      secondaryClassList = secondaryClassList
      isPremiumClass = isPremiumClass
      primaryClass = class
      newlyAddedActivity = newlyAddedActivity
      todaysActivities = todaysActivities
    }}
  </div>
  <div class="right-panel">
    {{class/activities/gru-class-activities-adding
      secondaryClasses = secondaryClasses
      secondaryClassList = secondaryClassList
      isPremiumClass = isPremiumClass
      primaryClass = class
      classPreference = classPreference
      isMultiClassEnabled = isMultiClassEnabled
      activityAdded = "activityAdded"
      todaysActivities = todaysActivities
    }}
  </div>
</div>
