.student-class-landing {
  .student-inspect-destination.proficiency {
    .inspect-destination-container {
      .destination-chart-container {
        .student-inspect-competency-chart {
          .chart-container {
            .graded-chart-container {
              .domain-chart {
                .scrollable-chart {
                  height: auto;
                }
              }
            }
          }
        }
      }

      .competency-level-container {
        position: relative;

        .show-destination {
          position: absolute;
          bottom: 10px;
        }
      }
    }
    @media screen and (max-width: $screen-sm - 1) {
      .inspect-destination-container {
        grid-template-columns: unset;

        .destination-chart-container {
          margin-right: 0;
          zoom: 0.8;
        }

        .competency-level-container {
          width: 94%;
          margin: auto auto 15px;

          .grade-title {
            font-size: 25px;
            height: 40px;
            line-height: 40px;
          }

          .grade-description {
            padding-right: 0;
          }

          .show-destination {
            margin: auto;
            position: unset;
          }
        }
      }
    }
    @media screen and (max-width: $screen-359 + 1) {
      .inspect-destination-container {
        .destination-chart-container {
          zoom: 0.6;
        }
      }
    }
  }

  .student-inspect-destination.destination {
    .inspect-destination-container {
      grid-template-columns: unset;
      height: 100vh;

      .destination-chart-container {
        margin: auto;

        .student-inspect-competency-chart {
          zoom: 0.8;

          .chart-container {
            .graded-chart-container {
              .taxonomy-grades-container {
                .taxonomy-grades {
                  .grade-list {
                    height: 545px;
                  }
                }
              }

              .domain-chart {
                .scrollable-chart {
                  height: 545px;
                }
              }
            }
          }
        }
      }

      .grade-data-container {
        width: 94%;
        margin: auto auto 15px;

        .grade-description {
          height: auto;

          &::-webkit-scrollbar {
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 4px;
          }
        }

        .next-route {
          position: unset;
          margin: auto;
        }
      }
    }
  }

  .student-inspect-destination.route {
    .inspect-destination-container {
      height: 100vh;
      grid-template-columns: unset;

      .destination-chart-container {
        margin: auto;

        .student-inspect-competency-chart {
          zoom: 0.8;

          .chart-container {
            .graded-chart-container {
              .taxonomy-grades-container {
                .taxonomy-grades {
                  .grade-list {
                    height: 545px;
                  }
                }
              }

              .domain-chart {
                .scrollable-chart {
                  height: 545px;
                }
              }
            }
          }
        }
      }

      .course-container {
        width: 100%;
        margin: auto;
        padding: 0;

        .pre-study-title {
          padding-left: 15px;
          font-size: 25px;
        }

        .route0-container {
          width: 96%;
          margin: 15px auto auto;

          .route0-comment {
            grid-template-columns: 60px auto;
          }

          .route0-body {
            .route0-accordion-container {
              .course-suggestions {
                ol .gru-accordion-unit {
                  .panel-title {
                    a.title {
                      max-width: none;
                      width: 100%;
                    }
                  }

                  .panel-collapse {
                    padding: 5px;
                    max-height: 300px;
                    overflow-y: auto;

                    .panel-body {
                      .panel-group {
                        .gru-accordion-lesson {
                          .panel-heading {
                            .panel-title {
                              width: 100%;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .route0-action {
          width: 96%;
          margin: auto;
        }

        .assigned-course-title {
          padding-left: 15px;
          font-size: 25px;
        }

        .course-map-accordion-container {
          max-height: 420px;
          width: 96%;
          margin: auto;
        }

        .study-course {
          position: unset;
          margin: 15px auto;
        }
        @media screen and (max-width: $screen-359 + 1) {
          .route0-container {
            width: 87%;

            &.expanded {
              width: 80%;
            }
          }

          .assigned-course-title,
          .pre-study-title {
            font-size: 20px;
          }

          .route0-action {
            width: 87%;
            margin: auto;
          }
        }
      }
    }
  }
}
