.controller.search {
  @media screen and (max-width: $screen-568 - 1) {
    .content {
      .gru-question-options {
        display: none;
      }
      .gru-resource-results {
        .resource-results {
          .results {
            margin-left: 0;
            display: grid;

            .cards.gru-resource-card {
              margin: auto;
            }
          }
        }
      }
    }

    .category-menu {
      display: none;
    }

    .courses-results {
      .results {
        margin: 0;
        justify-content: center;
      }
    }

    div.content-navigation {
      display: none;
    }

    .category-menu {
      display: none;
    }

    .nav_dropdown {
      margin: 0 auto 10px;
      border-bottom: 2px solid;
      width: max-content;

      .dropdown-menu > li.active .icon {
        color: black;
      }

      .dropdown-menu > li.active > a {
        background-color: $gray-light;
        padding-right: 46px;
      }

      .dropdown-menu {
        padding: 0;
        min-width: unset;

        li i {
          display: inline-block;
          width: 20px;
          height: 25px;
          vertical-align: middle;
          margin-right: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: contain;
        }

        li.courses i {
          font-size: 20px;
          color: $gray-light;
        }

        li.active i {
          font-size: 20px;
          color: black;
        }

        li.active > a > span {
          color: black;
        }

        li.courses.active i {
          background-image: url("gooru/images/navigation_course_selected.svg");
        }

        li.courses .icon {
          background-image: url("gooru/images/navigation_course.svg");
        }

        li.collections.active i {
          background-image: url("gooru/images/navigation_collection_selected_icon.svg");
        }

        li.assessments.active i {
          background-image: url("gooru/images/navigation_assessment_selected.svg");
        }

        li.resources.active i {
          background-image: url("gooru/images/navigation_resource_selected_icon.svg");
        }

        li.questions.active i {
          background-image: url("gooru/images/navigation_question_selected.svg");
        }

        li.questions.active i {
          background-image: url("gooru/images/navigation_question_selected.svg");
        }

        li.rubrics.active i {
          background-image: url("gooru/images/navigation_rubric_selected_icon.svg");
        }

        li.collections .icon {
          background-image: url("gooru/images/navigation_collection.svg");
        }

        li.assessments .icon {
          background-image: url("gooru/images/navigation_assessment.svg");
          width: 20px !important;
        }

        li.resources .icon {
          background-image: url("gooru/images/navigation_resource_icon.svg");
        }

        li.questions .icon {
          background-image: url("gooru/images/navigation_question.svg");
        }

        li.rubrics .icon {
          background-image: url("gooru/images/navigation_rubric_icon.svg");
        }

        ul {
          min-width: unset;
        }

        li {
          text-align: center;
          border-bottom: 1px solid $light-200;
        }
      }

      .dropbtn {
        background-color: $light-100;
        color: black;
        padding: 3px;
        font-size: 16px;
        border: none;
        margin-top: 25px;
        display: block;
      }

      .nav_dropdown {
        margin: 0 auto 10px;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: $gray-sharper;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-menu > li.selected > a {
        background-color: $gray-light;
      }

      .dropdown-menu > li > a {
        font-weight: bold;
      }

      .dropdown-menu > li.active > a {
        background-color: $gray-light;
      }
    }

    .nav_dropdown {
      .dropdown-menu > li > a {
        text-align: left;
      }

      .dropbtn {
        display: block;
      }
    }

    .nav_dropdown {
      .dropdown-menu {
        li,
        li.active {
          display: none;
        }
      }
    }

    .open {
      .dropdown-menu {
        li,
        li.active {
          display: block;
        }
      }
    }

    .controller .search {
      .nav_dropdown {
        display: block;
      }
    }

    .controller .search {
      .nav_dropdown {
        .dropdown-menu > li > a {
          font-weight: bold;
          text-align: left;
        }
      }
    }

    .controller.search {
      .nav_dropdown:hover > ul.dropdown-menu {
        display: block;
        align-items: left;
      }
    }
  }
}

.controller.search {
  @media screen and (min-width: $screen-568 - 1) and (max-width: $screen-568 + 1) {
    .content {
      .gru-question-options {
        display: none;
      }
      .controller.featured {
        .courses-results {
          .results {
            grid-template-columns: auto;
          }
        }
      }
    }
  }
  @media screen and (min-width: $screen-568) {
    .content {
      .collection-results {
        .row {
          width: 104%;
        }
      }
      .gru-question-options {
        display: none;
      }
      .gru-resource-results {
        .resource-results {
          .results {
            display: grid;
            grid-template-columns: auto auto;
            margin-left: 0;
          }
        }
      }

      .featured {
        width: 100%;

        .courses-results {
          width: 100%;

          .results {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: center;
          }
        }

        .controller.search {
          @media screen and (max-width: $screen-568 - 1) {
            .content {
              .gru-resource-results {
                .resource-results {
                  .results {
                    margin-left: 0;
                    display: grid;

                    .cards.gru-resource-card {
                      margin: auto;
                    }
                  }
                }
              }
            }

            .category-menu {
              display: none;
            }

            .courses-results {
              .results {
                margin: 0;
                justify-content: center;
              }
            }

            div.content-navigation {
              display: none;
            }

            .category-menu {
              display: none;
            }

            .nav_dropdown {
              margin: 0 auto 10px;
              border-bottom: 2px solid;
              width: max-content;

              .dropdown-menu > li.active .icon {
                color: black;
              }

              .dropdown-menu > li.active > a {
                background-color: $gray-light;
                padding-right: 46px;
              }

              .dropdown-menu {
                padding: 0;
                min-width: unset;

                li i {
                  display: inline-block;
                  width: 20px;
                  height: 25px;
                  vertical-align: middle;
                  margin-right: 20px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: contain;
                }

                li.courses i {
                  font-size: 20px;
                  color: $gray-light;
                }

                li.active i {
                  font-size: 20px;
                  color: black;
                }

                li.active > a > span {
                  color: black;
                }

                li.courses.active i {
                  background-image: url("gooru/images/navigation_course_selected.svg");
                }

                li.courses .icon {
                  background-image: url("gooru/images/navigation_course.svg");
                }

                li.collections.active i {
                  background-image: url("gooru/images/navigation_collection_selected_icon.svg");
                }

                li.assessments.active i {
                  background-image: url("gooru/images/navigation_assessment_selected.svg");
                }

                li.resources.active i {
                  background-image: url("gooru/images/navigation_resource_selected_icon.svg");
                }

                li.questions.active i {
                  background-image: url("gooru/images/navigation_question_selected.svg");
                }

                li.questions.active i {
                  background-image: url("gooru/images/navigation_question_selected.svg");
                }

                li.rubrics.active i {
                  background-image: url("gooru/images/navigation_rubric_selected_icon.svg");
                }

                li.collections .icon {
                  background-image: url("gooru/images/navigation_collection.svg");
                }

                li.assessments .icon {
                  background-image: url("gooru/images/navigation_assessment.svg");
                  width: 20px !important;
                }

                li.resources .icon {
                  background-image: url("gooru/images/navigation_resource_icon.svg");
                }

                li.questions .icon {
                  background-image: url("gooru/images/navigation_question.svg");
                }

                li.rubrics .icon {
                  background-image: url("gooru/images/navigation_rubric_icon.svg");
                }

                ul {
                  min-width: unset;
                }

                li {
                  text-align: center;
                  border-bottom: 1px solid $light-200;
                }
              }

              .dropbtn {
                background-color: $light-100;
                color: black;
                padding: 3px;
                font-size: 16px;
                border: none;
                margin-top: 25px;
                display: block;
              }

              .nav_dropdown {
                margin: 0 auto 10px;
              }

              .dropdown-content {
                display: none;
                position: absolute;
                background-color: $gray-sharper;
                min-width: 160px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                z-index: 1;
              }

              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }

              .dropdown-menu > li.selected > a {
                background-color: $gray-light;
              }

              .dropdown-menu > li > a {
                font-weight: bold;
              }

              .dropdown-menu > li.active > a {
                background-color: $gray-light;
              }
            }

            .nav_dropdown {
              .dropdown-menu > li > a {
                text-align: left;
              }

              .dropbtn {
                display: block;
              }
            }

            .nav_dropdown {
              .dropdown-menu {
                li,
                li.active {
                  display: none;
                }
              }
            }

            .open {
              .dropdown-menu {
                li,
                li.active {
                  display: block;
                }
              }
            }

            .controller .search {
              .nav_dropdown {
                display: block;
              }
            }

            .controller .search {
              .nav_dropdown {
                .dropdown-menu > li > a {
                  font-weight: bold;
                  text-align: left;
                }
              }
            }

            .controller.search {
              .nav_dropdown:hover > ul.dropdown-menu {
                display: block;
                align-items: left;
              }
            }
          }
        }

        .controller.search {
          @media screen and (min-width: $screen-568 - 1) and (max-width: $screen-568 + 1) {
            .content {
              .controller.featured {
                .courses-results {
                  .results {
                    grid-template-columns: auto;
                  }
                }
              }
            }
          }
          @media screen and (min-width: $screen-568) {
            .content {
              .collection-results {
                .row {
                  width: 104%;
                }
              }

              .gru-resource-results {
                .resource-results {
                  .results {
                    display: grid;
                    grid-template-columns: auto auto;
                    margin-left: 0;
                  }
                }
              }

              .featured {
                width: 100%;

                .courses-results {
                  width: 100%;

                  .results {
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                  }
                }
              }
            }

            div.content-navigation {
              .category-options {
                margin-bottom: 25px;
                padding-left: 19px;

                li.collections.active {
                  i {
                    min-height: 16px;
                  }
                }
              }
              width: max-content;
              margin: 0 auto;

              .standards {
                div {
                  display: none;
                }
              }
            }
            display: unset;

            .nav_dropdown {
              display: none;
            }

            .controller.content-resources .resources {
              grid-template-columns: auto auto;
            }
          }
          @media screen and (min-width: $screen-800) {
            .gru-question-options {
              display: none;
            }

            .content {
              .gru-resource-results {
                .resource-results {
                  .results {
                    display: grid;
                    grid-template-columns: auto auto auto;
                  }
                }
              }
            }
          }
        }

        .controller.search {
          @media screen and (max-width: $screen-568 - 1) {
            .content {
              .gru-resource-results {
                .resource-results {
                  .results {
                    margin-left: 0;
                    display: grid;

                    .cards.gru-resource-card {
                      margin: auto;
                    }
                  }
                }
              }
            }

            .category-menu {
              display: none;
            }

            .courses-results {
              .results {
                margin: 0;
                justify-content: center;
              }
            }

            div.content-navigation {
              display: none;
            }

            .category-menu {
              display: none;
            }

            .nav_dropdown {
              margin: 0 auto 10px;
              border-bottom: 2px solid;
              width: max-content;

              .dropdown-menu > li.active .icon {
                color: black;
              }

              .dropdown-menu > li.active > a {
                background-color: $gray-light;
                padding-right: 46px;
              }

              .dropdown-menu {
                padding: 0;
                min-width: unset;

                li i {
                  display: inline-block;
                  width: 20px;
                  height: 25px;
                  vertical-align: middle;
                  margin-right: 20px;
                  background-repeat: no-repeat;
                  background-position: center center;
                  background-size: contain;
                }

                li.courses i {
                  font-size: 20px;
                  color: $gray-light;
                }

                li.active i {
                  font-size: 20px;
                  color: black;
                }

                li.active > a > span {
                  color: black;
                }

                li.courses.active i {
                  background-image: url("gooru/images/navigation_course_selected.svg");
                }

                li.courses .icon {
                  background-image: url("gooru/images/navigation_course.svg");
                }

                li.collections.active i {
                  background-image: url("gooru/images/navigation_collection_selected_icon.svg");
                }

                li.assessments.active i {
                  background-image: url("gooru/images/navigation_assessment_selected.svg");
                }

                li.resources.active i {
                  background-image: url("gooru/images/navigation_resource_selected_icon.svg");
                }

                li.questions.active i {
                  background-image: url("gooru/images/navigation_question_selected.svg");
                }

                li.questions.active i {
                  background-image: url("gooru/images/navigation_question_selected.svg");
                }

                li.rubrics.active i {
                  background-image: url("gooru/images/navigation_rubric_selected_icon.svg");
                }

                li.collections .icon {
                  background-image: url("gooru/images/navigation_collection.svg");
                }

                li.assessments .icon {
                  background-image: url("gooru/images/navigation_assessment.svg");
                  width: 20px !important;
                }

                li.resources .icon {
                  background-image: url("gooru/images/navigation_resource_icon.svg");
                }

                li.questions .icon {
                  background-image: url("gooru/images/navigation_question.svg");
                }

                li.rubrics .icon {
                  background-image: url("gooru/images/navigation_rubric_icon.svg");
                }

                ul {
                  min-width: unset;
                }

                li {
                  text-align: center;
                  border-bottom: 1px solid $light-200;
                }
              }

              .dropbtn {
                background-color: $light-100;
                color: black;
                padding: 3px;
                font-size: 16px;
                border: none;
                margin-top: 25px;
                display: block;
              }

              .nav_dropdown {
                margin: 0 auto 10px;
              }

              .dropdown-content {
                display: none;
                position: absolute;
                background-color: $gray-sharper;
                min-width: 160px;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                z-index: 1;
              }

              .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
              }

              .dropdown-menu > li.selected > a {
                background-color: $gray-light;
              }

              .dropdown-menu > li > a {
                font-weight: bold;
              }

              .dropdown-menu > li.active > a {
                background-color: $gray-light;
              }
            }

            .nav_dropdown {
              .dropdown-menu > li > a {
                text-align: left;
              }

              .dropbtn {
                display: block;
              }
            }

            .nav_dropdown {
              .dropdown-menu {
                li,
                li.active {
                  display: none;
                }
              }
            }

            .open {
              .dropdown-menu {
                li,
                li.active {
                  display: block;
                }
              }
            }

            .controller .search {
              .nav_dropdown {
                display: block;
              }
            }

            .controller .search {
              .nav_dropdown {
                .dropdown-menu > li > a {
                  font-weight: bold;
                  text-align: left;
                }
              }
            }

            .controller.search {
              .nav_dropdown:hover > ul.dropdown-menu {
                display: block;
                align-items: left;
              }
            }
          }
        }

        .controller.search {
          @media screen and (min-width: $screen-568 - 1) and (max-width: $screen-568 + 1) {
            .content {
              .controller.featured {
                .courses-results {
                  .results {
                    grid-template-columns: auto;
                  }
                }
              }
            }
          }
          @media screen and (min-width: $screen-568) {
            .content {
              .collection-results {
                .row {
                  width: 104%;
                }
              }

              .gru-resource-results {
                .resource-results {
                  .results {
                    display: grid;
                    grid-template-columns: auto auto;
                    margin-left: 0;
                  }
                }
              }

              .featured {
                width: 100%;

                .courses-results {
                  width: 100%;

                  .results {
                    display: grid;
                    grid-template-columns: auto auto;
                    justify-content: center;
                  }
                }
              }
            }

            div.content-navigation {
              .category-options {
                margin-bottom: 25px;
                padding-left: 19px;

                li.collections.active {
                  i {
                    min-height: 16px;
                  }
                }
              }
              width: max-content;
              margin: 0 auto;

              .standards {
                div {
                  display: none;
                }
              }
            }
            display: unset;

            .nav_dropdown {
              display: none;
            }

            .controller.content-resources .resources {
              grid-template-columns: auto auto;
            }
          }
          @media screen and (min-width: $screen-800) {
            .gru-question-options {
              display: none;
            }

            .content {
              .gru-resource-results {
                .resource-results {
                  .results {
                    display: grid;
                    grid-template-columns: auto auto auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    div.content-navigation {
      .category-options {
        margin-bottom: 25px;
        padding-left: 19px;

        li.collections.active {
          i {
            min-height: 16px;
          }
        }
      }
      width: max-content;
      margin: 0 auto;

      .standards {
        div {
          display: none;
        }
      }
    }
    display: unset;

    .nav_dropdown {
      display: none;
    }

    .controller.content-resources .resources {
      grid-template-columns: auto auto;
    }
  }
  @media screen and (min-width: $screen-800) {
    .gru-question-options {
      display: none;
    }

    .content {
      .gru-resource-results {
        .resource-results {
          .results {
            display: grid;
            grid-template-columns: auto auto auto;
          }
        }
      }
    }
  }
}
