.controller.sign-in {
  @media screen and (max-width: $screen-568 - 1) {
    .sign-in-wrapper {
      .sign-in-header h1 {
        margin: 0 0 0px 0;
      }
      .divider {
        margin: 8px 0 8px;
      }
      .sign-in-form .form-group.username {
        margin-bottom: 0px;
      }
      .sign-in-form .form-group.log-in-button {
        margin: 20px -37px 0;
      }
      min-height: 0px !important;
      margin: 11px auto;
      .sign-in-form {
        .form-group {
          .log-in-button {
            margin: 10px -37px 0;
          }
        }
      }
      .sign-in-header {
        padding: 15px 0 0 0;
      }
    }
  }
}
