.student_class_class-activities {
  overflow-y: hidden;

  .app-container {
    overflow-y: hidden;

    .student.class {
      padding: 0;
      width: 100%;
    }
  }
}

.controller.student.class.class-activities {
  .loading-spinner {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .ca-panel {
    display: flex;
    padding-top: 10px;
    height: 100%;
    width: 100%;

    .left-panel {
      display: grid;
      width: 50%;
      height: 100%;
      border-right: 1px solid #ccc;

      .schedule-container {
        width: 100%;
        height: 100%;
        padding: 0 10px 10px;

        .left-panel-header {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 0 10px 5px;

          .title {
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #3e5e67;
            height: max-content;
          }
        }

        .ca-schedule-contents {
          height: 100%;
          width: 100%;
          margin-top: 10px;

          .dca-content-list-container {
            height: auto;
            overflow-y: auto;
            max-height: calc(100vh - 130px);
            width: 100%;

            &.dca-content-list-container-today {
              box-shadow: 0 0 11px 3px #0072bc;
              border-radius: 4px;
            }

            .no-content {
              padding: 10px;
              font-size: 18px;
              text-align: center;
              margin: 0;
            }
          }
        }

        .ca-schedule-items-header {
          height: 50px;
          box-shadow: rgba(0, 0, 0, 0.13) 0 2px 4px 0;
          background-color: #fff;
          border-radius: 4px;
          display: grid;
          align-items: center;
          position: relative;
          width: 100%;

          .ca-schedule-header-panel {
            display: grid;
            align-items: center;
            position: relative;
            height: 50px;
            width: 100%;
            z-index: 3;
            background-color: #fff;
            border-radius: 4px;
            grid-template-columns: 1fr max-content;

            .ca-date-section {
              display: flex;
              justify-content: center;
              width: 100%;

              .date-picker-action {
                display: grid;
                grid-template-columns: auto 30px;
                cursor: pointer;

                .label {
                  display: flex;
                  align-items: center;
                  padding: 0;
                  font-size: 15px;
                  font-weight: bold;
                  color: #0072bc;
                }

                .icons {
                  display: flex;

                  i {
                    font-size: 18px;
                    margin: auto;
                    color: #0072bc;
                  }
                }
              }
            }
          }

          .ca-date-selector {
            z-index: 2;
            background-color: #fff;
            display: none;

            .backdrop {
              position: fixed;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: -9;
              cursor: pointer;
              opacity: 0.8;
              background-color: #000;
            }

            &.open {
              display: block;
            }

            .ca-date-picker-container {
              box-shadow: none;
              border-top: 1px solid #bbb;

              .ca-date-nav-container {
                height: 40px;
                z-index: 2;
                background-color: #fff;

                .ca-date-picker-toggle {
                  pointer-events: none;
                  font-size: 20px;

                  i {
                    display: none;
                  }
                }
              }

              .ca-datepicker-container {
                display: grid;
                padding-bottom: 0;

                .ca-datepicker-today {
                  height: 40px;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                  background-color: #3486f7;
                }

                #ca-datepicker {
                  grid-row-start: 1;
                  padding: 10px 20px 20px;

                  .datepicker-inline {
                    .datepicker-days {
                      .table-condensed {
                        thead {
                          tr:nth-child(2) {
                            display: grid;
                            width: 100%;
                            justify-content: center;
                            grid-template-columns: repeat(7,1fr);

                            th.dow {
                              height: 40px;
                              width: 40px;
                              justify-self: center;
                            }
                          }
                        }

                        tbody {
                          tr {
                            display: grid;
                            width: 100%;
                            justify-content: center;
                            grid-template-columns: repeat(7,1fr);

                            td {
                              height: 40px;
                              width: 40px;
                              justify-self: center;

                              &.has-activities:before {
                                top: 25px;
                                display: flex;
                                margin: auto;
                                left: 0;
                              }

                              &.active {
                                background-color: #d2e3fc;
                                background-image: -webkit-linear-gradient(top, #d2e3fc, #d2e3fc);
                                border-radius: 50%;
                                display: flex;
                                margin: auto;
                                align-items: center;
                                justify-content: center;
                                color: #3486f7;

                                &:before {
                                  content: none;
                                }
                              }

                              &.today {
                                background-color: #3486f7;
                                background-image: -webkit-linear-gradient(top, #3486f7 , #3486f7);
                                border-radius: 50%;
                                display: flex;
                                margin: auto;
                                align-items: center;
                                justify-content: center;
                                color: #fff;

                                &:before {
                                  content: none;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          span {
            text-transform: uppercase;
            padding-left: 20px;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }

    .right-panel {
      width: 50%;
      height: 100%;
      display: grid;
      grid-template-rows: max-content max-content;
      padding: 0 10px 10px;

      .offline-container {
        width: 100%;
        height: auto;

        &.active {
          .offline-activity-items-header {
            .icons {
              .arrow_drop_up {
                display: none;
              }

              .arrow_drop_down {
                display: block;
              }
            }
          }
        }

        .offline-activity-items-header {
          height: 50px;
          box-shadow: rgba(0, 0, 0, 0.13) 0 2px 4px 0;
          background-color: #fff;
          border-radius: 4px;
          display: grid;
          align-items: center;
          position: relative;
          width: 100%;
          grid-template-columns: auto 1fr 60px;

          %icon-content {
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            opacity: 0.8;
            display: block;
            margin-left: 10px;
            background-position: center;
          }

          .offline-icon {
            background-image: url("../assets/gooru/images/offline.svg");
            @extend %icon-content;
          }

          .icons {
            grid-column-start: 3;

            i {
              width: 24px;
              margin: auto;
              cursor: pointer;
            }

            .arrow_drop_up {
              display: block;
            }

            .arrow_drop_down {
              display: none;
            }
          }

          span {
            font-size: 13px;
            font-weight: bold;
            color: #666666;
            text-transform: uppercase;
            margin: 0;
            padding: 0 0 0 20px;
          }
        }

        .offline-activity-contents {
          height: auto;
          width: 100%;

          .panel-group {
            margin-bottom: 0;
            padding: 0 15px 15px;
            height: auto;
            width: 100%;

            .oa-active-container,
            .oa-completed-container {
              height: auto;
              width: 100%;

              &.panel {
                background: none;
                box-shadow: none;
              }

              .oa-active-header,
              .oa-completed-header {
                height: 50px;
                border-radius: 4px;
                align-items: center;
                display: grid;
                grid-template-columns: auto 60px;
                position: relative;
                width: 100%;
                border-bottom: 1px solid #bbb;
                cursor: pointer;

                .icons {
                  i {
                    width: 24px;
                    margin: auto;
                    cursor: pointer;
                  }

                  .arrow_drop_up {
                    display: block;
                  }

                  .arrow_drop_down {
                    display: none;
                  }
                }

                &[aria-expanded="true"] {
                  .icons {
                    .arrow_drop_up {
                      display: none;
                    }

                    .arrow_drop_down {
                      display: block;
                    }
                  }
                }

                &[aria-expanded="false"] {
                  .icons {
                    .arrow_drop_up {
                      display: block;
                    }

                    .arrow_drop_down {
                      display: none;
                    }
                  }
                }

                span {
                  text-transform: uppercase;
                  font-size: 12px;
                  font-weight: bold;
                }
              }

              .oa-active-items,
              .oa-completed-items {
                width: 100%;
                height: auto;

                .oa-active-list,
                .oa-completed-list {
                  overflow-y: auto;
                  z-index: 1;
                  height: 100%;
                  margin: 10px 0;
                  display: grid;
                  width: 100%;
                  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
                  max-height: calc(100vh - 305px);
                }
              }

              .no-active-content,
              .no-completed-content {
                font-size: 16px;
                padding: 10px;
                text-align: center;
                height: 80px;
                background-color: #d8d8d8;
              }
            }
          }
        }
      }

      .item-to-grade-container {
        width: 100%;
        height: auto;

        &.active {
          .ca-grade-items-header {
            .icons {
              .arrow_drop_up {
                display: none;
              }

              .arrow_drop_down {
                display: block;
              }
            }
          }

          .ca-grade-content-items {
            display: block;
          }
        }

        .ca-grade-items-header {
          height: 50px;
          box-shadow: rgba(0, 0, 0, 0.13) 0 2px 4px 0;
          background: #fff;
          border-radius: 4px;
          align-items: center;
          display: grid;
          grid-template-columns: auto 60px;
          position: relative;
          border: 1px solid #bbb;

          .icons {
            i {
              width: 24px;
              margin: auto;
              cursor: pointer;
            }

            .arrow_drop_up {
              display: block;
            }

            .arrow_drop_down {
              display: none;
            }
          }

          span {
            padding-left: 20px;
            font-size: 12px;
            font-weight: bold;
            font-size: 13px;
            color: #666666;
            text-transform: uppercase;
          }
        }

        .ca-grade-content-items {
          padding: 10px;
          background-color: rgb(216, 216, 216);
          display: none;

          .gru-grade-items {
            overflow-y: auto;
            max-height: calc(100vh - 200px);
            width: 100%;
          }

          .no-rubric-content {
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }
}
