.student_class_milestone {
  background-color: #37424b;
  .app-container {
    padding-top: 100px;
  }

  .student.class {
    width: 100%;
    height: auto;
    min-height: 100%;

    .content {
      display: grid;
      justify-content: center;
      margin: 0 auto;
      max-width: 960px;
      @media screen and (max-width: $screen-sm) {
        display: block;
      }
    }
  }

  .student-milestone-not-ready {
    font-size: 24px;
    line-height: 1.2;
    border-radius: 4px;
    background: #fff;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 11px;
  }

  .title-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px 15px;
    h5 {
      // padding-left: 15px;
      color: $white;
      margin: 0px;
      &.learning-path-label {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: left;
        column-gap: 10px;
        .toggle-course-info {
          cursor: pointer;
          height: 27px;
          i {
            font-size: 18px;
            line-height: 27px;
            color: $white;
          }
        }
      }
    }
    .active-period {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: right;
      align-items: center;
      cursor: pointer;
      color: #fff;
      column-gap: 8px;
      .report-period-text {
        font-size: 14px;
        font-weight: bold;
      }
      .toggle-icon {
        display: flex;
        align-items: center;
      }
    }
  }

  .report-periods {
    display: none;
    position: absolute;
    top: 140px;
    background-color: $white;
    z-index: 9;
    right: 200px;
    box-shadow: -1px 0 10px 1px rgba(0, 0, 0, 0.4);
    width: 150px;
    .report-period {
      cursor: pointer;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
      font-weight: bold;
      color: #35424a;
      padding-left: 15px;
      border-bottom: 1px solid $white;
      &.active-report-period,
      &:hover {
        background-color: #36424b;
        color: $white;
      }
    }
  }

  .rescope-content-preview {
    display: grid;
    grid-template-columns: 1fr 185px 70px;
    align-items: center;
    font-size: 14px;
    line-height: 1.3;
    color: $white;
    @media screen and (max-width: $screen-sm) {
      grid-template-columns: 1fr;
      display: none;
    }

    .rescope-content-preview-msg {
      padding: 10px;
      text-align: justify;
    }

    .show-completed-course {
      padding-left: 15px;
      padding-bottom: 15px;
    }
  }

  .milestone-course-map-view {
    padding-bottom: 50px;

    @media screen and (min-width: $screen-sm + 1) {
      width: 90vw;
      max-width: 960px;
    }
    .course-map-milestone-container {
      .milestone-accordion-container {
        .header-container {
          color: $white;
          font-size: 12px;
          text-transform: uppercase;
          padding-left: 15px;
        }
      }
      &.self-grading-enabled {
        display: grid;
        grid-template-columns: auto 331px;
        column-gap: 15px;

        .student-class-milestone-course-map {
          margin-top: 22px;
        }

        @media screen and (max-width: $screen-md) {
          grid-template-columns: auto;
        }
        .self-grading-container {
          .header-container {
            color: $white;
            font-size: 12px;
            text-transform: uppercase;
            padding-left: 15px;
          }
        }
      }
    }
  }

  .student-rangepicker-container {
    position: absolute;
    z-index: 10;
    box-shadow: 0 13px 16px 0 rgba(0, 0, 0, 0.13);
    top: 50px;
    width: 100%;
    display: none;
    .ca-daterange-picker {
      background-color: transparent;
      .ca-datepicker-body {
        right: 3%;
        left: auto;
        top: 23%;
        transform: none;
      }
      @media screen and (max-width: $screen-sm) {
        .ca-datepicker-body {
          right: auto;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}
