.student_class_milestone {
  .app-container {
    padding-top: 100px;
  }

  .student.class {
    width: 100%;
    height: auto;

    .content {
      display: grid;
      justify-content: center;
      @media screen and (max-width: $screen-sm) {
        display: block;
      }
    }
  }
}
