.gru-class-activity-panel {
  background-color: #fff;

  .dca-panel-container {
    transition: background-color 2s linear;

    &.new {
      background-color: #ffc107ad;
    }

    &.past-date {
      .dca-assign-btn {
        pointer-events: none;
      }
    }

    &.unscheduled {
      .ca-panel-container-1 {
        grid-template-columns: 1fr 100px 80px;
      }
    }

    .ca-panel-container-1 {
      display: inline-grid;
      width: 100%;
      grid-template-columns: 1fr 100px 60px;
      height: 60px;
      border-bottom: solid 1px #cacaca;

      .dca-panel-info {
        width: 100%;
        display: inline-grid;
        grid-template-columns: 65px 1fr;
        align-items: center;

        .collection-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/images/add_collection.svg");
          opacity: 0.8;
          justify-self: center;
        }

        .assessment-external-icon,
        .assessment-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/images/add_assessment.svg");
          opacity: 0.8;
          justify-self: center;
        }

        p {
          margin: 0;
          cursor: pointer;
          font-family: "Open Sans";
          color: #4a4a4a;
          padding: 0 20px 0 0;
          @include ellipsis(
            $font-size: 15px,
            $line-height: 1.5,
            $lines-to-show: 1
          );
        }
      }

      .dca-content-counts {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;

        .resource-count {
          width: 40px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 50% 50%;
          justify-items: center;
          height: 20px;

          .resource-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_resource_icon.svg");
            opacity: 0.8;
          }

          span {
            height: 20px;
          }
        }

        .question-count {
          width: 40px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 50% 50%;
          justify-items: center;
          height: 20px;

          .question-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_question.svg");
            opacity: 0.8;
          }

          span {
            height: 20px;
          }
        }

        .external-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/share.png");
        }
      }

      .dca-panel-actions-performance {
        .dca-panel-performance {
          width: 100%;
          height: 100%;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          cursor: pointer;
          border-top-right-radius: 4px;

          &.collection {
            background-color: #4e5e68;
            font-size: 12px;
            text-overflow: ellipsis;
          }

          &.not-started {
            pointer-events: none;
          }

          .no-performance {
            color: #37424b;
          }
        }
      }

      .ca-panel-reschedule {
        cursor: pointer;
        justify-self: center;
        align-self: center;
        color: #3589fb;
        font-size: 13px;
        font-weight: bold;

        span {
          pointer-events: none;
        }
      }
    }

    .ca-panel-container-2 {
      height: 20px;
      grid-template-columns: 1fr 1fr 1fr 60px;
      display: grid;
      align-items: center;
      height: 30px;
      border-bottom: solid 1px #cacaca;

      .student-count {
        padding-left: 10px;
        visibility: hidden;

        &.active {
          visibility: visible;
        }

        span {
          cursor: pointer;

          &:hover {
            color: #000;
          }
        }
      }

      .re-schedule {
        justify-self: center;
        color: #3589fb;
        font-size: 13px;
        font-weight: bold;

        .re-schedule-activity {
          height: 22px;
          cursor: pointer;

          .update {
            font-size: 20px;
            pointer-events: none;
          }

          span {
            pointer-events: none;

            &:hover {
              color: #000;
            }
          }
        }
      }

      .dca-panel-actions {
        display: inline-grid;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        justify-items: center;
        grid-template-columns: 30px 30px 35px 35px 30px;
        grid-column-gap: 5px;

        .dca-add {
          visibility: hidden;
          opacity: 0;
          cursor: pointer;

          .add {
            font-size: 20px;
            display: block;
          }
        }

        .rubric-icon {
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          background-size: 25px 25px;
          background-image: url("../assets/gooru/images/rubric-green.svg");
          display: block;
        }

        .remove-dca {
          width: 20px;
          height: 19px;
          cursor: pointer;
          display: block;

          .remove_circle {
            font-size: 20px;
            display: block;
          }
        }

        .golive-icon {
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          background-size: 25px 25px;
          background-image: url("../assets/gooru/on-air-icon.png");
          cursor: pointer;
          display: block;
        }

        .dca-assign {
          width: 40px;
          display: inline-block;

          .gru-switch {
            padding: 0;

            &.assigned {
              pointer-events: none;
            }

            .toggle.btn {
              width: 40px !important;
              height: 20px !important;
              border-radius: 20px;

              .toggle-group {
                .toggle-handle,
                .toggle-off,
                .toggle-on {
                  border-radius: 20px;
                }

                .toggle-on {
                  left: -13px;
                  font-style: italic;
                  font-size: $font-size-xxsmall;
                  line-height: 4px !important;
                }

                .toggle-off {
                  left: 33px;
                  font-style: italic;
                  line-height: 4px !important;
                  font-size: $font-size-xxsmall;
                }

                .toggle-handle {
                  top: -5px;
                  left: -2px;
                }
              }

              &.off {
                .toggle-group {
                  .toggle-handle {
                    left: 2px;
                  }
                }
              }
            }
          }
        }
      }

      .time-spent {
        justify-self: right;
        padding-right: 5px;
        font-size: 12px;
      }
    }
  }
}
