.gru-class-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .gru-icon {
    vertical-align: middle;
    text-align: center;
  }

  %app-info-container {
    display: inline-block;
    word-wrap: break-word;
    vertical-align: middle;
    line-height: 1.2;
  }

  %app-container {
    color: $dark-600;
    margin: auto;
    height: 100%;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 5px;
    display: grid;
    font-weight: bold;
  }

  .header-panel {
    height: 51px;
    width: 100%;
    background-color: $white;
    @media only screen and (max-width: $screen-xs) {
      height: 102px;
    }

    .nav-body {
      width: 100%;
      height: 100%;
      display: grid;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      grid-template-columns: 59px 60px 170px 170px 145px 1fr 59px 59px 59px;

      &.archived-class {
        grid-template-columns: 50px 1fr 40px 59px 40px;
      }

      .tab {
        &.vactive {
          i,
          span {
            color: #1aa9eb;
          }

          .atc-menu {
            background-image: url("gooru/images/atc-view-blue.png");
          }
        }

        &:not(.vactive) {
          background-color: $white;
        }
      }
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: $screen-xs) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        &.premium-class {
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

          .studyplayer-title {
            grid-column: 2 / 7;
          }
        }

        .app-close {
          width: 45px;
          order: 1;

          a i.close {
            width: 45px;
            top: -6px;
            left: 17px;
          }
        }

        .studyplayer-title {
          grid-column: 2 / 8;
          order: 2;
          border-right: 1px solid #ccc;
          width: 100%;
          text-align: center;
        }

        .performance-summary {
          order: 3;
          border-right: unset !important;
        }

        .atc {
          order: 4;
          border-top: 1px solid #ccc;

          &.vactive {
            grid-column: 1 / 3;
          }
        }

        .class-activities {
          order: 5;
          border-top: 1px solid #ccc;

          &.vactive {
            grid-column: 2 / 4;
          }
        }

        .course-map {
          order: 6;
          border-top: 1px solid #ccc;

          &.vactive {
            grid-column: 3 / 5;
          }
        }

        .students {
          order: 7;
          border-top: 1px solid #ccc;
          border-right: unset;

          &.vactive {
            grid-column: 4 / 6;
          }
        }

        .notification-tab {
          order: 8;
          border-top: 1px solid #ccc;
          border-right: 1px solid #cccccc;
          border-left: unset !important;

          &.vactive {
            grid-column: 5 / 7;
          }
        }

        &.nav-menu-default {
          .notification-tab {
            grid-column: 5 / 7;
          }
        }

        .class-management {
          order: 9;
          border-top: 1px solid #ccc;
          width: 100%;

          &.vactive {
            grid-column: 6 / 8;
          }

          a {
            margin: 0 auto;
          }
        }

        .atc,
        .class-activities,
        .course-map,
        .students {
          a {
            grid-gap: 0;
            grid-template-columns: auto;

            .add-info {
              display: none;
            }
          }
        }

        .class-activities,
        .course-map {
          &.vactive {
            a {
              grid-template-columns: auto auto;
            }
          }
        }
      }
      /* Small devices (portrait tablets and large phones, 768px and up) */
      @media only screen and (min-width: 768px) {
        grid-template-columns: 59px 50px 50px 50px 50px 1fr 59px 59px;

        &.premium-class {
          grid-template-columns: 59px 50px 50px 50px 50px 1fr 59px 59px 59px;

          &.nav-menu-class-activities {
            grid-template-columns: 59px 50px 75px 50px 50px 1fr 59px 59px 59px;
          }

          &.nav-menu-course-map {
            grid-template-columns: 59px 50px 50px 75px 50px 1fr 59px 59px 59px;
          }
        }

        &.nav-menu-class-activities {
          grid-template-columns: 59px 50px 75px 50px 50px 1fr 59px 59px;
        }

        &.nav-menu-course-map {
          grid-template-columns: 59px 50px 50px 75px 50px 1fr 59px 59px;
        }

        .atc,
        .class-activities,
        .course-map,
        .students {
          a {
            grid-gap: 0;
            grid-template-columns: auto;

            .add-info {
              display: none;
            }
          }
        }

        .class-activities,
        .course-map {
          &.vactive {
            a {
              grid-template-columns: auto auto;
            }
          }
        }
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {
        grid-template-columns: 59px 145px 145px 145px 145px 1fr 59px 59px;

        &.premium-class {
          grid-template-columns: 59px 145px 145px 145px 145px 1fr 59px 59px 59px;

          &.nav-menu-class-activities {
            grid-template-columns: 59px 145px 170px 145px 145px 1fr 59px 59px 59px;
          }

          &.nav-menu-course-map {
            grid-template-columns: 59px 145px 145px 170px 145px 1fr 59px 59px 59px;
          }
        }

        &.nav-menu-class-activities {
          grid-template-columns: 59px 145px 170px 145px 145px 1fr 59px 59px;
        }

        &.nav-menu-course-map {
          grid-template-columns: 59px 145px 145px 170px 145px 1fr 59px 59px;
        }

        .atc,
        .class-activities,
        .course-map,
        .students {
          a {
            grid-gap: 5px;
            grid-template-columns: auto auto auto;

            .add-info {
              width: 70px;
              display: block;
              overflow-wrap: inherit;
            }

            .performance-score {
              font-size: 18px;
            }
          }

          &.vactive {
            a {
              grid-template-columns: auto auto auto;
            }
          }
        }
      }

      .app-brand {
        padding: 0 8px;
        background-color: $white;
        height: 51px;

        a {
          margin: auto;
          display: block;
          width: 56px;
          height: 30px;
          top: 18px;
          opacity: 1;
        }
      }

      .atc {
        border-right: 1px solid $gray-80;
        height: 51px;

        a {
          @extend %app-container;

          .atc-menu {
            background-image: url("gooru/images/atc-view-gray.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
            margin: 0 auto;
          }

          .add-info {
            @extend %app-info-container;
          }
        }
      }

      .app-close {
        @extend .app-brand;
        width: 59px;
        border-right: 1px solid $gray-80;

        a > i {
          @extend a;
          color: $gray-dark;
          width: 36px;
          display: inline-block;
          position: relative;
          top: -6px;
          left: 11px;
        }
      }

      .class-activities {
        border-right: 1px solid $gray-80;
        height: 51px;

        .performance-score {
          display: none;
        }

        &.vactive {
          .performance-score {
            display: block;
            font-size: 18px;
            color: $dark-600;

            &.not-started {
              pointer-events: none;
              cursor: default;
            }
          }

          .dca-pin {
            background-image: url("gooru/pin-blue.svg");
          }

          &:not(.grade-range-not-started) {
            i,
            span {
              color: $white;
            }

            .dca-pin {
              background-image: url("gooru/pin-white.png");
            }
          }
        }

        a {
          @extend %app-container;

          .dca-pin {
            background-image: url("gooru/pin.png");
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
            background-size: 20px 20px;
            display: block;
            margin: 0 auto;
          }

          .add-info {
            @extend %app-info-container;
          }
        }
      }

      .course-map {
        border-right: 1px solid $gray-80;
        height: 51px;

        .performance-score {
          display: none;
        }

        &.vactive {
          .performance-score {
            display: block;
            font-size: 18px;
            color: $dark-600;

            &.not-started {
              pointer-events: none;
              cursor: default;
            }
          }

          &:not(.grade-range-not-started) {
            i,
            span {
              color: $white;
            }
          }
        }

        a {
          @extend %app-container;
        }

        .add-info {
          @extend %app-info-container;
        }
      }

      .students {
        border-right: 1px solid $gray-80;
        height: 51px;

        a {
          @extend %app-container;
        }

        .add-info {
          @extend %app-info-container;
        }
      }

      .studyplayer-title {
        display: grid;
        margin: auto;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        height: 51px;
        align-items: center;
        pointer-events: none;
        color: $dark-600;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .notification-tab {
        display: grid;
        height: 51px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        border-left: 1px solid $gray-80;
        border-right: 1px solid $gray-80;

        .inactive-common {
          color: #a9a9a9;
          border-color: #a9a9a9;
          opacity: 1;
        }

        div {
          .active-study {
            i {
              vertical-align: middle;
            }
          }
        }
      }

      .performance-summary {
        border-right: 1px solid $gray-80;
        height: 51px;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 1;
        min-width: 50px;
        cursor: pointer;

        &:not(.has-competency-stats) {
          pointer-events: none;
        }

        .no-completion-score {
          padding-top: 16px;
          display: block;
        }

        .numerator {
          margin-bottom: 6px;
          display: block;
        }

        .denominator {
          border-top: 2px solid $white;
        }

        &.has-competency-stats {
          background-color: #1aa9eb;
          color: $white;
          padding-top: 5px;
        }

        .dca-performance {
          height: 100%;
          color: white;
          font-size: 16px;
          width: 100%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          cursor: pointer;

          &.disabled {
            pointer-events: none;
          }
        }

        .not-started {
          pointer-events: none;
        }
      }

      .class-management {
        display: grid;
        margin: auto;
        align-items: center;
        height: 51px;

        a {
          color: $dark-600;
        }
      }
    }
  }
}

div.teacher.class {
  div.header.clearfix {
    > div.go-back-container {
      display: none;
    }
  }
}
