.gru-class-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  .gru-icon {
    vertical-align: middle;
  }

  %app-info-container {
    display: inline-block;
    word-wrap: break-word;
    vertical-align: middle;
  }

  %app-container {
    color: $white;
    margin: auto;
    height: 100%;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 5px;
    display: grid;
  }

  .header-panel {
    height: 51px;
    width: 100%;
    background-color: $green-700;

    .nav-body {
      width: 100%;
      height: 100%;
      display: grid;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
      /*Default View */
      grid-template-columns: 88px 60px 170px 145px 145px 1fr 59px 59px 59px;

      &.archived-class {
        grid-template-columns: 50px 1fr 40px 59px 40px;
      }

      .tab {
        a {
          opacity: 0.3;

          &:hover {
            opacity: 1;
          }
        }

        &.vactive {
          a {
            opacity: 1;
          }
        }
      }
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: $screen-sm - 1) {
        grid-template-columns: 50px 40px 40px 40px 40px 1fr 40px 40px 40px;
        .atc,
        .class-activities,
        .course-map,
        .students {
          a {
            grid-gap: 0;

            .add-info {
              display: none !important;
            }
          }
        }

        .performance-summary {
          .charts.gru-performance-chart {
            min-width: 40px !important;
          }
        }
      }
      /* Small devices (portrait tablets and large phones, 768px and up) */
      @media only screen and (min-width: 768px) {
        grid-template-columns: 90px 50px 50px 50px 50px 1fr 59px 59px 59px;
        .atc,
        .class-activities,
        .course-map,
        .students {
          a {
            grid-gap: 0;

            .add-info {
              display: none !important;
            }
          }
        }
      }
      /* Large devices (laptops/desktops, 992px and up) */
      @media only screen and (min-width: 992px) {
        grid-template-columns: 88px 145px 170px 145px 145px 1fr 59px 59px 59px;

        .atc,
        .class-activities,
        .course-map,
        .students {
          a {
            grid-gap: 5px;

            .add-info {
              display: inline-block !important;
            }
          }
        }
      }

      .app-brand {
        padding: 0 8px;
        background-color: $white;
        display: flex;
        height: 51px;

        a {
          margin: auto;
          display: block;
          background-image: url("gooru/images/gooru-logo.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 56px;
          height: 30px;
          background-position: 0 15px;
          top: 18px;
          opacity: 1 !important;
        }
      }

      .atc {
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;

          .atc-menu {
            background-image: url("gooru/atc-menu.png");
            background-repeat: no-repeat;
            width: 24px;
            height: 25px;
            background-size: 24px 25px;
            display: block;
            margin-top: 2px;
          }

          .add-info {
            @extend %app-info-container;
          }
        }
      }

      .class-activities {
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;

          .dca-pin {
            background-image: url("gooru/pin-white.png");
            background-repeat: no-repeat;
            width: 24px;
            height: 25px;
            background-size: 24px 25px;
            display: block;
            margin-top: 2px;
          }

          .add-info {
            @extend %app-info-container;
          }
        }
      }

      .course-map{
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;
        }

        .add-info {
          @extend %app-info-container;
        }
      }

      .students {
        display: flex;
        border-right: 1px solid $white;
        height: 51px;

        a {
          @extend %app-container;
        }

        .add-info {
          @extend %app-info-container;
        }
      }

      .studyplayer-title {
        display: grid;
        margin: auto;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        height: 51px;
        align-items: center;
        pointer-events: none;
        color: $white;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .notification-tab {
        display: grid;
        height: 51px;
        align-items: center;
        cursor: pointer;
        justify-content: center;
        border-left: 1px solid $white;

        div {
          .active-study {
            i {
              vertical-align: middle;
            }
          }
        }
      }

      .performance-summary {
        display: grid;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        height: 51px;
        align-items: center;

        .dca-performance {
          height: 100%;
          color: white;
          font-size: 16px;
          width: 100%;
          margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold;
          cursor: pointer;
          &.disabled {
            pointer-events: none;
          }
        }

        .not-started {
          pointer-events: none;
        }

        .charts.gru-performance-chart {
          color: $white;
          text-align: center;
          height: 100%;
          cursor: pointer;
          min-width: 59px;
          padding-left: 1px;
          padding-right: 3px;

          .container-box {
            height: 51px;
            cursor: pointer;

            .percentage {
              margin-top: 8px;
            }
          }
        }
      }

      .class-management {
        display: grid;
        margin: auto;
        align-items: center;
        height: 51px;

        a {
          color: $white;
        }
      }
    }
  }
}

div.teacher.class {
  div.header.clearfix {
    > div.go-back-container {
      display: none;
    }
  }
}
