.gru-class-activity-panel {
  height: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  width: 100%;

  .dca-panel-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.new {
      background-color: #ffc107ad;
    }

    &.past-date {
      .dca-assign-btn {
        pointer-events: none;
      }
    }

    &.unscheduled {
      .ca-panel-container-1 {
        grid-template-columns: 1fr 100px 80px;
      }
    }

    .ca-panel-container-1 {
      display: grid;
      width: 100%;
      grid-template-columns: 48px 1fr auto 48px 48px 48px;
      height: 48px;
      border-bottom: solid 1px #cacaca;

      &.unschedule {
        grid-template-columns: 48px 1fr auto auto 48px;
      }

      .icon {
        display: flex;

        %icon-content {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          opacity: 0.8;
          justify-self: center;
          display: block;
          margin: auto;
          cursor: pointer;
        }

        .offline-activity-icon {
          background-image: url("../assets/gooru/images/offline.svg");
          @extend %icon-content;
        }

        .collection-external-icon,
        .collection-icon {
          @extend %icon-content;
          background-image: url("../assets/gooru/images/add_collection.svg");
        }

        .assessment-external-icon,
        .assessment-icon {
          @extend %icon-content;
          background-image: url("../assets/gooru/images/add_assessment.svg");
        }
      }

      .resource-info {
        display: flex;
        margin: auto;

        .dca-rubric-icon {
          .rubric-icon {
            width: 25px;
            height: 25px;
            background-repeat: no-repeat;
            background-size: 25px 25px;
            background-image: url("../assets/gooru/images/rubric-green.svg");
            display: block;
          }
        }

        .resource-count {
          width: 40px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 50% 50%;
          justify-items: center;
          height: 20px;

          .resource-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_resource_icon.svg");
            opacity: 0.8;
            display: block;
          }

          span {
            height: 20px;
          }
        }

        .question-count {
          width: 40px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 50% 50%;
          justify-items: center;
          height: 20px;

          .question-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_question.svg");
            opacity: 0.8;
            display: block;
          }

          span {
            height: 20px;
          }
        }

        .external-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/share.png");
          margin-right: 5px;
          display: block;
        }
      }

      .title-info {
        display: flex;
        align-items: center;
        cursor: pointer;

        &.offline {
          .label-section {
            grid-template-rows: auto;

            .group {
              display: block;
            }
          }
        }

        .label-section {
          display: grid;
          width: 100%;
          height: auto;
          grid-template-rows: max-content max-content;

          .title {
            font-size: 14px;
            line-height: 1.33;
            color: #37424b;
          }

          .group {
            display: none;

            .task-count {
              margin-left: 10px;
              font-size: 12px;
              text-transform: capitalize;
            }

            .date-section {
              opacity: 0.7;
              font-size: 11px;
              line-height: 1.45;
              color: #37424b;
            }
          }
        }

        span {
          width: max-content;
          height: max-content;
        }
      }

      .thumbnail-img {
        display: grid;
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .activate {
        display: flex;
        margin: auto;

        .dca-assign {
          width: 40px;
          display: inline-block;

          .gru-switch {
            padding: 0;

            &.assigned {
              pointer-events: none;
            }

            .toggle.btn {
              width: 40px !important;
              height: 20px !important;
              border-radius: 20px;

              .toggle-group {
                .toggle-handle,
                .toggle-off,
                .toggle-on {
                  border-radius: 20px;
                }

                .toggle-on {
                  left: -13px;
                  font-style: italic;
                  font-size: $font-size-xxsmall;
                  line-height: 4px !important;
                }

                .toggle-off {
                  left: 33px;
                  font-style: italic;
                  line-height: 4px !important;
                  font-size: $font-size-xxsmall;
                }

                .toggle-handle {
                  top: -5px;
                  left: -2px;
                }
              }

              &.off {
                .toggle-group {
                  .toggle-handle {
                    left: 2px;
                  }
                }
              }
            }
          }
        }
      }

      .more {
        display: flex;
        margin: auto;
        cursor: pointer;

        span {
          width: 24px;
          height: 24px;
          display: block;
        }
      }

      .performance {
        .dca-panel-actions-performance {
          display: flex;
          height: 100%;
          width: 100%;

          .dca-panel-performance {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border-top-right-radius: 4px;
            display: grid;
            align-items: center;
            justify-content: center;

            .assessment-score {
              text-align: center;
              line-height: 1;
            }

            .assessment-timespent {
              font-size: 12px;
              color: $white;
              text-align: center;
              line-height: 1;
            }

            &.collection {
              background-color: #4e5e68;
              font-size: 12px;
              text-overflow: ellipsis;
            }

            &.not-started {
              pointer-events: none;
            }

            &.add-data {
              color: $white;
              background-color: #4e5e67;
              font-size: 10px;
              text-align: center;
              text-transform: uppercase;
            }

            &.disabled {
              pointer-events: none;
              opacity: 0.7;
            }

            .no-performance {
              color: #37424b;
            }
          }

          .icon {
            margin: auto;

            i.rubric-icon {
              background-image: url("gooru/images/add_rubric.svg");
              width: 36px;
              height: 36px;
              background-size: 24px;
              display: block;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }

      .dca-content-counts {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;

        .resource-count {
          width: 40px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 50% 50%;
          justify-items: center;
          height: 20px;

          .resource-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_resource_icon.svg");
            opacity: 0.8;
          }

          span {
            height: 20px;
          }
        }

        .question-count {
          width: 40px;
          display: inline-grid;
          align-items: center;
          grid-template-columns: 50% 50%;
          justify-items: center;
          height: 20px;

          .question-icon {
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-image: url("../assets/gooru/images/add_question.svg");
            opacity: 0.8;
          }

          span {
            height: 20px;
          }
        }

        .external-icon {
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-size: 20px 20px;
          background-image: url("../assets/gooru/share.png");
          margin-right: 5px;
        }
      }

      .ca-panel-reschedule {
        cursor: pointer;
        justify-self: center;
        align-self: center;
        color: #1aa9eb;
        font-size: 13px;
        font-weight: bold;
        grid-template-columns: auto auto;
        display: grid;
        grid-gap: 5px;
        align-self: center;
        padding-right: 5px;

        .icon {
          display: flex;
          align-self: center;

          i {
            font-size: 20px;
          }
        }

        span {
          align-self: center;
          pointer-events: none;
        }
      }
    }

    .ca-panel-container-2 {
      height: 48px;
      grid-template-columns: 1fr max-content 48px;
      display: none;
      align-items: center;
      border-bottom: solid 1px #cacaca;

      .close-activity,
      .delete-activity {
        display: flex;
        height: 100%;
        align-items: center;

        span {
          display: flex;
          cursor: pointer;
          margin: auto;

          i {
            height: 24px;
            font-size: 25px;
          }
        }
      }

      .dca-btn {
        display: flex;
        height: 100%;
        margin: auto;

        .golive-icon {
          width: 24px;
          height: 100%;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("../assets/gooru/on-air-icon.png");
          cursor: pointer;
          background-position: center;
          display: block;
        }

        .oa-complete {
          display: flex;
          align-items: center;

          &.disabled {
            pointer-events: none;
            opacity: 0.8;
          }

          input[type="checkbox"] {
            margin: auto;

            &:after {
              border-radius: 50px;
            }
          }

          span {
            font-weight: bold;
            color: #0072bc;
          }
        }
      }

      .thumbnail-img {
        display: grid;
        height: 100%;
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .ca-actions {
        display: grid;
        grid-template-columns: repeat(4, auto);
        height: 100%;

        .re-add-data {
          align-items: center;
          display: flex;

          span {
            color: #1aa9eb;
            font-weight: bold;
            cursor: pointer;
          }
        }

        .mastery-accrual {
          display: grid;

          .mastery-accrual-btn {
            display: grid;
            align-items: center;
            grid-template-columns: 28px 1fr;
            cursor: pointer;

            &.disable-event {
              opacity: 0.5;
              cursor: not-allowed;
            }

            &.show-warning {
              opacity: 0.5;
              pointer-events: none;
            }

            .mastery-accrual-icon {
              justify-content: center;
              height: max-content;
              display: flex;

              &.mastery-accrual-checked {
                background: url("/assets/gooru/images/check-circle-1.svg")
                  no-repeat center;
                background-size: contain;
                border: none;
                display: block;
                width: 18px;
                height: 18px;

                i {
                  visibility: hidden;
                }
              }

              i {
                color: #4e5e67;
                height: auto;
                font-size: 20px;
              }
            }

            .mastery-accrual-text {
              font-size: 13px;
              color: #1aa9eb;
              font-weight: bold;
            }
          }
        }

        .student-count {
          padding-left: 10px;
          display: flex;
          align-items: center;
          color: #1aa9eb;

          span {
            cursor: pointer;
            display: block;
            padding-left: 5px;
          }
        }

        .re-schedule {
          color: #1aa9eb;
          font-size: 13px;
          display: grid;
          font-weight: bold;

          .re-schedule-activity {
            cursor: pointer;
            display: flex;
            align-items: center;

            .replay,
            .update {
              font-size: 20px;
              pointer-events: none;
            }

            span {
              pointer-events: none;
              padding-left: 5px;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}
