<div class="panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel panel-body">
        {{#each tasks as |task|}}
            {{content.activity.task.gru-task-line-item task=task  removeLineItem=(action 'removeLineItem')}}
        {{/each}}
        {{content.activity.gru-tasks-edit oaId=activityModel.id updateParent=(action 'updateTaskCollection') }}
    </div>
</div>
{{!-- <button class="btn btn-primary add-item dropdown-toggle" title="{{t 'common.create'}}" type="button" data-toggle="dropdown">{{gru-icon name="add"}}</button> --}}