<div class="panel-container">
  {{ library.library-search-header
     selectedFilters=selectedFilters
     activeContentType=activeContentType
     library=library
     onShowModal="showModal"
     isAnonymousUser=sessionProfile.isAnonymous
     onSearch="doSearch"
   }}
  {{#if isLoading}}
    {{three-bounce-spinner}}
  {{else}}
    {{library.library-content-result-grid-view
       paginateNext="doPaginate"
       isTeacher=isTeacher
       onRemixQuestion="remixQuestion"
       searchResults=searchResults
       activeContentType=activeContentType
     }}
  {{/if}}
</div>
