<div class="container">
  <div class="card-container">
    <div class="card-panel">
      <div>My Content</div>
      <i class="background-image"></i>
    </div>
  </div>
  <div class="partner-libraries">
    <div class="heading"><span>FEATURED LIBRARIES</span></div>
    <div class="libraries-container">
      {{#each libraries as |library|}}
        {{library.gru-partner-library-card content=library}}
      {{/each}}
    </div>
  </div>
</div>
